.mainwrapcustomers{
  margin-left: 61px;
  padding:50px 0 0 50px
}

.toppage-customers{
  display: flex;
  flex-wrap: wrap;
}

.leftpage-customers{
  display: flex;
  flex-wrap: wrap;
}

.rightpage-customers{
  margin-left: 10px;
}

.form-customers{
  display: flex;
  flex-direction: column;
  width: 410px;
}

.formitem-customers{
  display: flex;
  justify-content: space-between;
  margin-top:5px;
}

.forminput-customers{
  padding:5px;
  width: 250px;
  border:none;
}

table, td, th {
  border: 1px solid;
  padding: 2px;
  white-space: nowrap;
}

tr{
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: collapse;
}

.list-units{
  margin-top: -1px;
  display: block;
  max-width: 1000px;
  max-height: 160px;
  overflow-y: scroll;
}

@media only screen and (max-width: 1000px){
  .leftpage-customers{
    flex-direction: column;
}
.list-units{
  width: 230px;
  overflow-x:scroll;
}

@media only screen and (max-width: 600px){
  .forminput-customers{
    width: 150px;
  }

  .formitem-customers{
    display: flex;
    flex-direction: column;
    width: 230px;
  }

  .mainwrapcustomers{
    margin-left: 41px;
    padding:30px;
  }
  body, .leftpage-customers, .rightpage-customers, .form-customers, .mainwrapcustomers{
    width: 220px;
  }
}
