.mainwrapcustomers{
  margin-left: 61px;
  padding: 50px 0 0 50px;
}

h1{
  margin: 5px;
  margin-bottom: 30px;
}

.toppage-customers{
  display: flex;
  flex-wrap: wrap;
}

.leftpage-customers{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.rightpage-customers{
  display: flex;
  flex-wrap; wrap;
  margin-left: 100px;
  margin-top: 20px;
}

.form-customers{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-between;
  margin-top: 25px;
}

.formitem-customers{
  display: flex;
  width: 600px;
  align-items: center;
  margin: 5px;
}

.irdropblack{
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,.25);
  position: absolute;
  top:0;
  left:0;
}

.ircustdrop{
  position: absolute;
  display: flex;
  flex-direction: column;
  width:500px;
  max-height: 260px;
  overflow-y: scroll;
  padding:0 10px 1px 10px;
  border-radius: 10px;
  overflow-x: hidden;
}

.ircustdrop div{
  display: flex;
  justify-content: flex-start;
  padding:10px 5px;
  cursor: pointer;
  border-bottom:1px solid
}

.ircustdrop div:nth-last-child(1){
  border:none
}

.ludropblack,
.lucustdrop,
.lucustdrop div,
.lucustdrop div:nth-last-child(1){
  z-index: 10000;
}


.forminput-customers{
  padding: 5px;
  border: none;
}

.cust-customers, .ho-customers, .name-customers, .address-customers, .zipcity-customers, .pricegroup-customers{
  width: 100px;
}

.ho-customers{
  margin-left: 10px;
  width: 65px !important;
}

.owner-customers{
  margin-left: 10px;
  width: 65px;
}

.custunitcontrol{
  width:20px;
  padding:5px
}

.phone-customers, .opendate-customers, .instdate-customers, .closeddate-customers{
  width: 102px;
}

#phoneinput-customers{
  width: 158px;
}

#checkdt{
  margin-left: 110px;
}

#checkwt{
margin-left: 20px;
}

#cityinput{
  margin-left: 10px;
}

#priceinput{
  margin-left: 10px;
}


#excelaparts{
  width:30px;
  margin:10px;
  padding:5px;
}

#excelparts{
  width:30px;
  transition-duration: .2s;
}

#excelparts:hover{
  transform: scale(1.1);
}

.middlepage-customers{
  display: flex;
  width: 1180px;
}

.middlepage-customers div{
  width: 25%;
  text-align:center;
  padding: 5px;
  cursor: pointer;
  transition-duration: .1s
}

.middlepage-customers div:nth-last-child(1){
  border: none;
}

table, td, th {
  padding: 2px;
  padding-top: 0px;
  white-space: nowrap;
}

th{
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
}

tr{
  table-layout: fixed;
  width: 100%;
}

td input{
  padding:2px 2px;
  border:none;
  outline:none
}

td input[type=date]{
  padding:0px 2px;
  border:none;
  outline:none
}

.list-units, .list-irhistory, .list-deliverynotes, .list-swapouts{
  display: block;
  max-width: 1180px;
  height: 360px;
  overflow-y: scroll;
}

.tabell-customers {
  width:1180px
}

.buttonsbar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.buttonsbar-item-customers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.buttonbarpic-customers{
  width: 40px;
}

.thdatei-customers,
.thdatei-customers input{
  width: 130px;
}

.thiri-customers,
.thiri-customers input{
  width: 60px;
}

.thmodeli-customers,
.thmodeli-customers input{
  width: 180px;
}

.thseriali-customers,
.thseriali-customers input{
  width: 130px;
}

.thproblemi-customers,
.thproblemi-customers input{
  width: 280px;
}

.thactioni-customers,
.thactioni-customers input{
  width: 325px;
}

.thcatu-customers,
.thcatu-customers input{
  width:50px
}

.thtypeu-customers,
.thtypeu-customers input{
  width:60px
}

.custstep{
  width:40px;
  height:43px;
  padding:10px  5px
}

#custcontrolspace{
  width:40px
}

.thvendoru-customers,
.thvendoru-customers input{
  width:70px
}

.thmodelu-customers,
.thmodelu-customers select{
  width:220px
}

.thserialu-customers,
.thserialu-customers input{
  width:150px
}

.thdates-customers,
.thdates-customers input,
.thrdates-customers,
.thrdates-customers input{
  width:130px
}

.threfs-customers,
.threfs-customers input{
  width:80px
}

.threplu-customers,
.threplu-customers input{
  width:130px
}

.custunitremove{
  display: flex;
  justify-content: center;
  align-items: center;
}

.thparts-customers,
.thparts-customers input{
  width:80px
}

.thserialss-customers,
.thserialss-customers input,
.thserialrs-customers,
.thserialrs-customers input{
  width:160px
}

.thstatuss-customers,
.thstatuss-customers input{
  width:167px
}

.thnoted-customers,
.thnoted-customers input{
  width:70px
}

.thpartd-customers,
.thpartd-customers input{
  width:250px
}

.thdescd-customers,
.thdescd-customers input{
  width:400px
}

.thdated-customers,
.thdated-customers input{
  width:130px
}

.thqtyd-customers input{
  text-align: right;
}

.thqtyd-customers,
.thqtyd-customers input{
  width:60px
}

.thpriced-customers input{
  text-align: right;
}

.thpriced-customers,
.thpriced-customers input{
  width:86px
}

.thtotald-customers input{
  text-align: right;
}

.thtotald-customers,
.thtotald-customers input{
  width:100px
}

.sortcursor{
  cursor:cell
}


.unitcontrols{
  display: flex;
  align-items: center;
}

.unitnotes{
  height:32px;
  padding:2px;
  resize: none;
}

.custaddvend{
  width: 190px;
  padding: 5px 10px;
}

.customersearchbar{
  padding:5px;
  border-radius: 2px
}

select{
  border:none
}

.customer-add-unit{
  display: none;
  width: 400px;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 100;
  margin-left: calc(50% - 500px);
  margin-top: 425px;
  padding:10px;
  background: rgb(40,40,40);
}

.customer-add-unit-row{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.customer-add-unit-row input{
  padding: 5px;
  width: 180px;
}


#statusmsg,
#unitmsg{
  border:1px solid;
  border-top: 0;
  border-bottom: 0;
  position: fixed;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  left:calc(50% - 100px);
  width:200px;
  max-height:0;
  height:100vh;
  border-radius: 0 0 8px 8px;
  transition-duration: .2s;
  z-index: 1234124123;
}

.customer-add-unit-backdrop{
  display: none;
  position: absolute;
  width: 100%;
  height: 1000px;
  margin: :1000px;
  top: 0;
  left:0;
  background: rgba(0,0,0,0.7);
}

.newcustwrap{
  width:100vw;
  height:100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  background: rgba(0,0,0,0.3)
}

.newcustform{
  background: #222;
  padding:20px 50px 20px 50px;
  border-radius: 8px
}

.newcustform input{
  padding:10px;
  margin:5px;
  border-radius: 4px
}

.newcustcanc{
  text-align: center;
  padding:10px 0;
  margin:5px;
  cursor:pointer;
  background: #333;
  border-radius: 4px
}


.storelist{
  width:900px;
  z-index: 200200320;
  overflow-y:scroll;
  max-height:400px;
  display:flex;
  flex-direction: column;
  padding:10px;
  border-top:1px solid #eee;
  position: fixed;
  margin-top: 26px;
  margin-left:calc(410px - 260px);
}

.storeitem{
  display: flex;
  padding:10px;
  border-bottom:1px solid #ccc;
  transition-duration: .2s
}

.storeid{
  width:75px
}

.storeref{
  width:200px
}

.storename{
  width:200px
}

.storestreet{
  width:200px
}

.storezip{
  width:75px
}

.storecity{
  width:150px
}


@media only screen and (max-width: 1000px){

  .toppage-customers{
    flex-direction: column;
  }

  .rightpage-customers{
    margin-left: 0px;
    margin-top: 0px;
  }

  h1{
    margin-left: -5px;
  }

  .mainwrapcustomers{
    margin-left: -45px;
  }

  .forminput-customers{
    max-width: 100px;
  }

  .list-customers{
    width: 230px !important;
    overflow-x:scroll;
  }

  .buttonsbar-item-customers{
    margin: 5px;
    font-size: 10px;
  }

  .ho-customers{
    margin-left: 5px;
  }

  .cust-customers, .ho-customers, .name-customers, .address-customers, .zipcity-customers, .pricegroup-customers, .owner-customers{
    width: 70px;
  }

  .phone-customers, .opendate-customers, .instdate-customers, .closeddate-customers{
    width: 70px;
  }

  #checkdt{
    margin-left: 80px;
  }

  #checkwt{
  margin-left: 20px;
  }

}
