.mainwrapcustomers{
  margin-left: 61px;
  padding: 50px 0 0 50px;
}

h1{
  margin: 5px;
  margin-bottom: 30px;
}

.toppage-customers{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.leftpage-customers{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.rightpage-customers{
  display: flex;
  flex-wrap; wrap;
  margin-left: 100px;
  margin-top: 20px;
}

.form-customers{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-between;
  margin-top: 25px;
}

.formitem-customers{
  display: flex;
  width: 600px;
  align-items: center;
  margin: 5px;
}

.irdropblack{
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,.25);
  position: absolute;
  top:0;
  left:0;
}

.ircustdrop{
  position: absolute;
  display: flex;
  flex-direction: column;
  width:400px;
  max-height: 300px;
  overflow-y: scroll;
  padding:0 10px 1px 10px;
  border-radius: 10px;
  overflow-x: hidden;
}

.ircustdrop div{
  display: flex;
  justify-content: flex-start;
  padding:10px 5px;
  cursor: pointer;
  border-bottom:1px solid
}

.ircustdrop div:nth-last-child(1){
  border:none
}


.forminput-customers{
  padding: 5px;
  border: none;
}

.cust-customers, .ho-customers, .name-customers, .address-customers, .zipcity-customers, .pricegroup-customers{
  width: 100px;
}

.ho-customers{
  margin-left: 10px;
  width: 65px !important;
}

.owner-customers{
  margin-left: 10px;
  width: 65px;
}

.phone-customers, .opendate-customers, .instdate-customers, .closeddate-customers{
  width: 102px;
}

#phoneinput-customers{
  width: 158px;
}

#checkdt{
  margin-left: 110px;
}

#checkwt{
margin-left: 20px;
}

#cityinput{
  margin-left: 10px;
}

#priceinput{
  margin-left: 10px;
}

.middlepage-customers{
  display: flex;
  width: 1180px;
}

.middlepage-customers div{
  width: 25%;
  background: #222;
  text-align:center;
  padding: 5px;
  cursor: pointer;
  transition-duration: .1s
}

.middlepage-customers div:nth-last-child(1){
  border: none;
}

table, td, th {
  padding: 2px;
  white-space: nowrap;
}

tr{
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: collapse;
}

td input{
  padding:2px 2px;
  border:none;
  outline:none
}

td input[type=date]{
  padding:0px 2px;
  border:none;
  outline:none
}

.list-units, .list-irhistory, .list-deliverynotes, .list-swapouts{
  display: block;
  max-width: 1180px;
  max-height: 400px;
  overflow-y: scroll;
}

.buttonsbar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.buttonsbar-item-customers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 12px;
}

.buttonbarpic-customers{
  width: 40px;
}

.thcatu-customers,
.thcatu-customers input{
  width:50px
}

.thtypeu-customers,
.thtypeu-customers input{
  width:60px
}

.thvendoru-customers,
.thvendoru-customers input{
  width:70px
}

.thmodelu-customers,
.thmodelu-customers input{
  width:90px
}

.thserialu-customers,
.thserialu-customers input{
  width:140px
}

.thdates-customers,
.thdates-customers input,
.thrdates-customers,
.thrdates-customers input{
  width:130px
}

.threfs-customers,
.threfs-customers input{
  width:80px
}

.thparts-customers,
.thparts-customers input{
  width:80px
}

.thserialss-customers,
.thserialss-customers input,
.thserialrs-customers,
.thserialrs-customers input{
  width:160px
}

.thstatuss-customers,
.thstatuss-customers input{
  width:170px
}

.unitcontrols{
  display: flex;
}

.unitnotes{
  height:32px;
  padding:2px;
  resize: none;
}

.customersearchbar{
  padding:2px 4px;
  border-radius: 2px
}

@media only screen and (max-width: 1000px){

  .toppage-customers{
    flex-direction: column;
  }

  .rightpage-customers{
    margin-left: 0px;
    margin-top: 0px;
  }

  h1{
    margin-left: -5px;
  }

  .mainwrapcustomers{
    margin-left: -45px;
  }

  .forminput-customers{
    max-width: 100px;
  }

  .list-customers{
    width: 230px !important;
    overflow-x:scroll;
  }

  .buttonsbar-item-customers{
    margin: 5px;
    font-size: 10px;
  }

  .ho-customers{
    margin-left: 5px;
  }

  .cust-customers, .ho-customers, .name-customers, .address-customers, .zipcity-customers, .pricegroup-customers, .owner-customers{
    width: 70px;
  }

  .phone-customers, .opendate-customers, .instdate-customers, .closeddate-customers{
    width: 70px;
  }

  #checkdt{
    margin-left: 80px;
  }

  #checkwt{
  margin-left: 20px;
  }

}
