*{
  color:white
}

body{
  background-color: rgb(20,20,20)
}

::placeholder{
  color: rgb(255,255,255)
}

.selectlang{
  transform: scale(1.25);
  border:1px outset white
}

.field{
  background-color: rgb(80,80,80);
  border: solid rgb(60,60,60);
  box-shadow: 1px 1px 2px rgb(20,20,20);
  border-radius: 2px
}

#submit:hover{
  background: #606060
}

.navin{
  border-right: 1px solid #444;
    background-color: rgb(40,40,40)
}

.navitemin{
  border:1px solid rgb(60,60,60);
  color:white
}

.navitem{
  border:1px solid rgb(60,60,60);
  background: rgb(80,80,80);
  box-shadow: 1px 1px 2px rgb(20,20,20)
}

.navitemin:hover{
  background: #303030;
}

.active{
  background:rgb(60,60,60)!important
}

.settingrow,
.settingadminrow{
  border-top:1px solid rgb(60,60,60);
}


.settingadminrow:nth-last-child(1){
  border-bottom:1px solid rgb(60,60,60);
}

.droplangselectsetting,
.dropmenusetting{
  background: #444;
}


.settingdropmenuitem:hover{
  background: #555
}

.forminput-parts{
  background-color: rgb(80,80,80);
}

.forminput-delivnotes{
  background-color: rgb(80,80,80);
}

.headerbox-parts{
  border-color: rgb(40,40,40);
}

.list-parts{
  background-color: rgb(80,80,80);
}


.settingslogout{
  background:#a00;
}

.settingslogout:hover{
  background:#c00;
}

.settingthemeswitchwrap{
  background: #282828;
  border:1px solid rgb(60,60,60)
}

.settingthemeswitchwrap img{
  filter: invert();
}

#settingsthemeselect{
  position: absolute;
  background: rgba(0,0,0,0);
  max-width:80px;
  width: 100vw;
  height:39px;
  border-radius: 100px;
  margin-left: -10px;
  display: flex;
  justify-content: flex-end;
  transition-duration: .2s
}

#settingsthemeselectbutton{
  background: rgb(245,245,245);
}

.settingthemeswitchwrap:hover #settingsthemeselect{
  max-width: 39px
}

table, td, th {
  border-color: rgb(20,20,20);
}

.row-parts:hover{
  background-color: rgb(60,60,60)
}

::-webkit-scrollbar {
  width:18px
}

::-webkit-scrollbar-track {
  background: rgb(60,60,60);
}

::-webkit-scrollbar-thumb {
  background: #888;
  transition-duration: .2s
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
