*{
  color:white
}

body{
  background-color: #282828
}

::placeholder{
  color: rgb(255,255,255)
}

.field{
  background-color: rgb(80,80,80);
  border: solid rgb(60,60,60);
  box-shadow: 1px 1px 2px rgb(20,20,20);
  border-radius: 2px
}

#submit:hover{
  background: #606060
}

.navin{
  border-right: 1px solid #444
}

.navitemin{
  border:1px solid rgb(60,60,60);
  color:white
}

.navitem{
  border:1px solid rgb(60,60,60);
  background: rgb(80,80,80);
  box-shadow: 1px 1px 2px rgb(20,20,20)
}

.navitemin:hover{
  background: #303030;
}
