.mainwrapdelivnotes{
  margin-left: 61px;
  padding:50px 0 0 50px
}

.toppage-delivnotes{
  display: flex;
  flex-wrap: wrap;
}

.toppageright{
  margin-left: 10px;
}

.form-delivnotes{
  display: flex;
  flex-direction: column;
  width: 410px;
}

.formitem-delivnotes{
  display: flex;
  justify-content: space-between;
  margin-top:5px;
}

.forminput-delivnotes{
  padding:5px;
  width: 250px;
  border:none;
}

.forminput-delivnotes2{
  padding:5px;
  width: 190px;
  border:none;
}

.selectdelivnotes{
  width:200px;
}

#textarea-delivnotes{
  height: 100px;
  width: 820px;
  resize: none;
}

#ZIP{
  width: 50px;
  margin-right: 5px;
}

  input[type=submit]{
    display: none;
  }

#inputnum{
  width: 50px;
}

::-webkit-scrollbar-thumb:hover{
  cursor: pointer;
}

.offers-delivnotes{
  width: 250px;
  align-items: center;
}

#delivnote-number::-webkit-outer-spin-button, #delivnote-number::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

th.thnetvalue-delivnotes, th.thprice-delivnotes, th.thtotal-delivnotes{
  text-align: left;
}

.thtotal-delivnotes{
  width: 100px;
  text-align: right;
}

.delivnote-deliv{
  display: flex;
  justify-content: space-between;
  width:410px;
}

.thbackorder-delivnotes{
  width: 50px;
  font-size: 10px;
  text-align: center;
}

.thnetvalue-delivnotes{
  text-align: right;
  width:100px;
}

.thnocharge-delivnotes{
  width:50px;
  font-size: 10px;
  text-align: center;
}

.thpart-delivnotes{
  text-align: left;
  width: 150px;
}

.thdesc-delivnotes{
  text-align: left;
  width: 150px;
}

.thserial-delivnotes{
  text-align: left;
  width: 150px;
}

.thpricegroup-delivnotes{
  width: 175px;
  text-align: left;
}

.thprice-delivnotes{
  width: 100px;
  text-align: right;
}

table, td, th {
  border: 1px solid;
  padding: 2px;
  white-space: nowrap;
}

tr{
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: collapse;
}

.list-delivnotes{
  margin-top: -1px;
  display: block;
  max-width: 1000px;
  height: 260px;
  overflow-y: scroll;
}

.button-delivnote{
  width: 20px;
  margin: 5px;
}

.buttonpic-delivnote{
  width: 20px;
}

.buttons-delivnote{
  display: flex;
  flex-direction: row;
}

.controllpanel-delivnote{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ordersum-delivnote{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  width: 800px;
  justify-content: space-between;
}

.ordersumnum-delivnote::-webkit-outer-spin-button,
.ordersumnum-delivnote::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.buttonsbar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.buttonsbar-item-delivnotes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 12px;
}

.buttonbarpic-delivnotes{
  width: 40px;
}

.buttonbarigen{
  display:flex;
}

.delivfirstcontrols{
  display: flex;
  align-items: center;
}

.delivfirstcontrols a{
  padding:10px 5px
}

.delivfirstcontrols img{
  width:40px;
  height:40px;
}


@media only screen and (max-width: 1000px){

  .buttonsbar-item-delivnotes{
    margin: 5px;
    font-size: 10px;
  }

  .ordersum-delivnote{
    width: 400px;
  }

  .ordersum{
    flex-direction: column;
  }

  .ordersum-delivnote{
    margin-left: 0px;
    flex-direction: column;
  }

  .controllpanel-delivnote{
    align-items: flex-start;
    flex-direction: column;
  }

  .toppage-delivnotes{
    flex-direction: column;
  }
  .list-delivnotes{
    width: 230px;
    overflow-x:scroll;
  }

  #textarea-delivnotes{
    width: 400px;
  }

  .toppageright{
    margin-left: 0px;
  }


}

@media only screen and (max-width: 600px){

  .delivnote-deliv{
    flex-direction: column;
    justify-content: flex-start;
    width: 230px;
  }

  .ordersum-delivnote{
    width: 230px;
  }

  .forminput-delivnotes{
    width: 150px;
  }

  .forminput-delivnotes2{
    width: 150px;
  }

  .formitem-delivnotes{
    display: flex;
    flex-direction: column;
    width: 230px;
  }

  .selectdelivnotes{
    width: 160px;
  }

  #textarea-delivnotes{
    width: 200px;
  }

  .mainwrapdelivnotes{
    margin-left: 41px;
    padding:30px;
  }

  .offers-delivnotes{
    align-items: flex-start;
  }

  body, .toppage-delivnotes, .toppageleft-delivnotes, .toppageright, .form-delivnotes, .delivnotes2, .mainwrapdelivnotes{
    width: 220px;
  }
}
