.mainwrapdelivnotes{
  margin-left: 61px;
  padding:50px 0 0 50px
}

.form-delivnotes{
  display: flex;
  flex-direction: column;
  width: 410px;
}

.formitem-delivnotes{
  display: flex;
  justify-content: space-between;
  margin-top:5px;
}

.forminput-delivnotes{
  padding:5px;
  width: 250px;
  border:none;
}

.forminput-delivnotes2{
  padding:5px;
  width: 190px;
  border:none;
}

#textarea-delivnotes{
  height: 100px;
  width: 400px;
  resize: none;
}

#ZIP{
  width: 42px;
  margin-right: 5px;
}

#inputnum{
  width: 50px;
}

::-webkit-scrollbar-thumb:hover{
  cursor: pointer;
}
