*{
  padding:0;
  margin:0;
}

.wrapper{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.mainlogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.logo{
  width: 300px;
}

.loginform{
  width:350px;
  display: flex;
  flex-direction: column;
}

.field{
  padding: 10px;
  margin:5px;
}
