*{
  margin:0;
  padding:0;
  font-family: verdana;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body{
  display: flex;
  padding-left:61px
}

.navin{
  position: fixed;
  top: 0;
  left:0;
  width:100vw;
  max-width:60px;
  height:100%;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
  transition-duration: .1s;
}

.navin:hover{
  transition-duration: .25s;
  max-width: 200px;
}

.navitemin{
  height:60px;
  width:100%;
  display: flex;
  align-items: center;
  cursor:pointer;
  transition-duration: .2s;
  text-decoration: none
}

.navitemin{
  border-top:1px solid;
}

.navitemin:nth-last-child(1){
  border-bottom:1px solid ;
}

.navitemin:hover{
  padding-left: 5px
}

.navitemin img{
  height:40px;
  width:40px;
  padding:10px 15px 10px 10px
}


.theme{
  position: fixed;
  bottom:10px;
  right:10px;
  background: rgb(245,245,245 );
  height:60px;
  width:60px;
  display: flex;
  align-items: center;
  border-radius: 16vw;
  overflow: hidden;
  cursor:pointer;
}

.theme:hover img:nth-child(1){
  margin-left: -60px
}

.theme img{
  width: 45px;
  height: 45px;
  padding:7.5px;
  transition-duration: .1s
}

@media only screen and (max-width: 600px){
  body{
    padding-top:30px;
    padding-left:0;
    overflow-x: hidden;
  }

  .navin{
    z-index: 1000000;
    max-width: 0;
    margin-top:60px;
    justify-content: flex-start;
    border:none!important
  }

  .navin:hover{
    transition-duration: .25s;
    max-width: 60vw
  }

  .hamham{
    height:30px;
    width:40px;
    padding:10px 5px;
    margin-left: 10px;
  }

  .hamham div{
    height:5px;
    transition-duration: .2s;
    width:40px;;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    position: absolute;
  }

  #hamtop{
    transform-origin: left;
    top:16px;
  }
  #hammid{
    top:calc(50% - 2.5px)
  }
  #hambot{
    transform-origin: left;
    top:40px;
  }

  #menudim{
    position: fixed;
    width:100vw;
    height: 100vh;
    top:60px;
    left:0;
    background: #000;
    transition-duration: .2s
  }


  .mobilehead{
    display:flex!important;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width:700px;
    height:60px;
    background:rgb(40,40,40)
  }

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
