.mainwrapir{
  margin-left: 61px;
  padding:50px 0 0 50px;
}

.toppage-ir{
  display:flex;
  padding:10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px
}

.ircustid{
  display: flex;
  justify-content:space-between;
  width:100%
}

.form-ir{
  margin:10px
}

.iridform{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:298px
}

#irirn,#ircusn{
  width:65px;
  text-align: right;
}

.formitem-irstatus{
  padding:10px 0
}

::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input,select{
  border:none;
  padding:5px;
  background: #222
}

label{
  padding-right: 5px
}

textarea{
  padding:10px;
  resize: none
}

.toppageleft-ir{
  padding-right: 10px;
}

.toppageright2-ir{
  width:320px;
  padding-right: 20px
}

.formnazc{
  width:100%;
  display:flex;
  flex-direction: column;
}

.formnazc div{
  display:flex;
  justify-content: space-between;
  margin:0 0 4px 0
}

.formnazc input{
  width:220px
}

#irzip{
  width:50px;
  margin-right: 2px
}

#ircity{
  width:158px
}

.toppageright2-ir input{

}

.irownph{
  width:270px;
  display: flex;
  flex-direction: column;
}

.irownph div{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin:0 0 4px 0
}

.iropensign{
  width:350px;
  display: flex;
  flex-direction: column;
}

.iropensign div{
  display: flex;
  justify-content: space-between;
  width:100%;
  margin: 0 0 4px 0;
}

.toppage2-ir{
  display:flex;
  width:900px;
  flex-wrap: wrap;
}

.irarrsent{
  width:450px;
  padding-left: 10px
}

.irarrsent div{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin: 0 0 4px 0;
}

.irnotediv{
  display:flex;
}

#partserialir{
  width:80px
}

#irnotefield{
  width:480px;
  height:80px;
}

.middlepage-ir{
  display:flex;
  width:1000px;
  justify-content: space-between;
}

.middlemiddlepage-ir div{
  display: flex;
  width:400px;
  justify-content: space-between;
  margin: 0 0 4px 0;
}

.tabell-ir{
  padding:10px 0 0 0
}

.tabell-ir table{
  width:640px;
  height: 109px;
  overflow-y: scroll;
  display:block;

}

.tabell-ir th{
  text-align: left;
}

.tabell-ir th,.tabell-ir tr{
  padding:0 2px
}

.irtypedrop{
  width:52px
}

.irvenddrop{
  width:75px
}

.bottompage-ir{
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
}

.bottommiddle-ir{
  display:flex;
  flex-direction: column;
}

.bottommiddle-ir div{
  display: flex;
  justify-content: space-between;
  margin:0 0 4px 0
}

#list2-ir input,select{
  font-size: 12px
}

#list2-ir select{
  padding:4px 5px
}

.irpartno{
  width:150px
}

.irpartde{
  width:225px
}

.irpartpr{
  width:75px
}

.irpartqt{
  width:65px
}

.irpartse{
  width:80px
}

.list-receivedunits{
}

.list-spareparts-ir{
  height: 158px;
  display:block;
  overflow-y: scroll;
  width:968px
}

.ircontrols{
  display:flex;
}

.ircontrols a{
  padding:10px 5px
}

.ircontrols img{
  width:40px;
  height:40px
}

.addremirpart{
  display:flex;
}

.addremirpart a {
  padding:10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addremirpart img{
  width: 20px;
  height: 20px;
}
