.mainwrapir{
  margin-left: 61px;
  padding:50px 0 0 50px;
}

.toppage-ir{
  display:flex;
  padding:10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.storelist{
  width:900px;
  z-index: 200200320;
  overflow-y:scroll;
  max-height:400px;
  display:flex;
  flex-direction: column;
  padding:10px;
  border-top:1px solid #eee;
  position: fixed;
  margin-top: 26px;
  margin-left:calc(410px - 260px);
}

.thmanufact-ir,
.thmanufact-ir *{
  max-width: 75px
}

.thcharge-ir,
.thcharge-ir select{
  width:120px
}

.storeitem{
  display: flex;
  padding:10px;
  border-bottom:1px solid #ccc;
  transition-duration: .2s
}

.storeid{
  width:75px
}

.storeref{
  width:200px
}

.storename{
  width:200px
}

.storestreet{
  width:200px
}

.storezip{
  width:75px
}

.storecity{
  width:150px
}

#gotoir{
  width:80px
}

.ircustid{
  display: flex;
  justify-content:space-between;
  width:100%;
}

.nameaddr {
  width:220px
}

.form-ir{
  margin:10px;
}

.toppageleft2-ir{
  padding-right: 10px
}

.iridform{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:298px;
}

#irirn,#storenumber{
  width:65px;
  text-align: right;
  text-transform: uppercase;
}

.formitem-irstatus{
  padding:10px 0;
}

.formitem-ir{
  margin:2px;
  display:flex;
  justify-content: space-between;
}

::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input,select{
  border:none;
  padding:5px;
}

label{
  padding-right: 5px;
}

.row-ir input,
.row-ir select {
  padding:2px 5px
}

textarea{
  padding:5px;
  resize: none;
}

.toppageleft-ir{
  padding-right: 10px;
}

.toppageright2-ir{
  width:320px;
  padding-right: 20px;
}

.formnazc{
  width:100%;
  display:flex;
  flex-direction: column;
  margin-top: 0;
}

.formnazc div{
  display:flex;
  justify-content: space-between;
  margin:0 0 4px 0;
}

.formnazc input{
  width:220px;
}

#irzip{
  width:50px;
  margin-right: 2px;
}

#ircity{
  width:158px;
}

.irdropblack{
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,.25);
  position: absolute;
  top:0;
  left:0;
}

.ircustdrop{
  position: absolute;
  display: flex;
  flex-direction: column;
  width:400px;
  max-height: 300px;
  overflow-y: scroll;
  padding:0 10px 1px 10px;
  border-radius: 10px;
  overflow-x: hidden;
}

.ircustdrop div{
  display: flex;
  justify-content: flex-start;
  padding:10px 5px;
  cursor: pointer;
  border-bottom:1px solid;
}

.ircustdrop div:nth-last-child(1){
  border:none;
}

.toppageright2-ir input{

}

.custdropnumber{
  width:75px;
}

.irownph{
  width:270px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.repdiv{
  margin-left: 75px;
}

.reporttextarea{
  width:233px!important;
}

.irrepact{
  display: flex;
  padding:10px 0 0 10px;
}

.irrepact label{
  width:160px;
}

.actiontextarea,
.reporttextarea{
  width:250px;
  height:80px;
}

.irownph div{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin:0 0 4px 0;
}

.iropensign{
  width:350px;
  display: flex;
  flex-direction: column;
}

.iropensign div{
  display: flex;
  justify-content: space-between;
  width:100%;
  margin: 0 0 4px 0;
}

.toppage2-ir{
  display:flex;
  width:900px;
  flex-wrap: wrap;
}

.irarrsent{
  width:450px;
  padding-left: 10px;
}

table{
  border-collapse: collapse;

}

.irarrsent div{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin: 0 0 4px 0;
}

.irnotediv{
  display:flex;
}

.toppagemiddle2-ir{
  display:flex;
  padding-top: 9px
}

#partserialir{
  width:110px;
}

#irnotefield{
  width:480px;
  height:80px;
}

.middlepage-ir{
  display:flex;
  width:1000px;
  justify-content: space-between;
}

.middlemiddlepage-ir div{
  display: flex;
  width:400px;
  justify-content: space-between;
  margin: 10px 10px 4px 10px;
}

.tabell-ir{
  padding:10px 12px 0 0;
}

.tabell-ir table{
  width:620px;
  height: 130px;
  overflow-y: scroll;
  display:block;
}

.tabell-ir th{
  text-align: left;
}

.tabell-ir th,.tabell-ir tr{
  padding:0 2px;
}

.irtypedrop{
  width:52px;
}

.irvenddrop{
  width:75px;
}

.bottompage-ir{
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
}

.bottommiddle-ir{
  display:flex;
  padding-left: 10px;
  flex-direction: column;
}

.bottommiddle-ir div{
  display: flex;
  justify-content: space-between;
  margin:0 0 4px 0;
}

#list2-ir input,select{
  font-size: 12px;
}

#list2-ir select{
  padding:4px 5px;
}

.irpartno{
  width:150px;
}

.irpartde{
  width:225px;
}

.irpartpr{
  width:75px;
  text-align: right;
}

.irpartqt{
  width:50px;
  text-align: right;
}

th{
  position: sticky;
  top: 0;
}

.irpartse{
  width:115px;
}

.list-receivedunits{
}

.list-spareparts-ir{
  height: 198px;
  display:block;
  overflow-y: scroll;
  width:967px;
}

.selectbutton{
  cursor:pointer;
}

.ircontrols{
  display:flex;
  align-items: center;
  width:100%;
  justify-content: space-between;
}

.ircontrols a{
  padding:10px 5px;
}

.ircontrols img{
  width:40px;
  height:40px;
}

.addremirpart{
  display:flex;
}

.addremirpart a {
  padding:5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addremirpart img{
  width: 20px;
  height: 20px;
}

#{
  cursor:pointer;
}

#irerror{
  font-size: 10px;
  position: absolute;
  margin:30px 0 0 50px;
}

.nextdateno{
  display:flex;
  flex-direction: column;
  padding-left: 20px;
}

.nextdateno div{
  display:flex;
  justify-content: space-between;
  width:120px;
  align-items: center;
  padding:2px;
}

.nextdateno div *,
.nextdateno div{
  cursor:pointer;
}

.irfirstcontrols{
  display: flex;
  align-items: center;
}

.ircontrolbuttons{
  display: flex;
}

.buttonsbar-item-ir{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

#statusmsg{
  border:1px solid;
  border-top: 0;
  border-bottom: 0;
  position: fixed;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  left:calc(50% - 100px);
  width:200px;
  max-height:0;
  height:100vh;
  border-radius: 0 0 8px 8px;
  transition-duration: .2s
}


.partselect{
  position: fixed;
  width:700px;
  padding:10px;
  z-index: 2000000;
  max-height:400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  top:200px;
  left:calc(50% - 350px);
  border-radius: 8px
}

.partselect div{
  display: flex;
}

.partitem{
  padding:10px 5px;
  border-bottom: 1px solid #ccc
}

.partnum{
  width:200px;
}

.partname{
  width:300px;
}

.partprice,
.partqty{
  width:100px;
  text-align: right;
}
