*{
  margin:0;
  padding:0;
  font-family: verdana, arial;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  height:80vh
}

.nav{
  display:flex;
  flex-wrap: wrap;
  width:280px
}

.navitem{
  display: flex;
  flex-direction: column;
  width:calc(50% - 20px);
  align-items: center;
  margin:4px;
  padding:5px;
  cursor: pointer;
  border:1px solid #eee;
  border-radius: 10px
}

.navitem img{
  height:100px;
  width:100px;
  padding:10px
}
