 *{
  margin:0;
  padding:0;
  font-family: verdana, arial;
}

body{
  background:rgb(245,245,245);
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav{
  display:flex;
  flex-wrap: wrap;
  width:320px;
  justify-content: center;
  margin-top:5vh
}

.navitem{
  display: flex;
  flex-direction: column;
  width:calc(50% - 20px);
  height:calc(50% - 20px);
  align-items: center;
  margin:4px;
  padding:5px;
  cursor: pointer;
  border:1px solid #ddd;
  border-radius: 10px;
  transition-duration: .1s;
  text-decoration: none
}

.navitem:hover{
  transform: scale(1.01);
  transition-duration: .25s;
}

.navitem img{
  height:80px;
  width:80px;
  padding:20px
}

.theme{
  position: fixed;
  bottom:10px;
  right:10px;
  background: rgb(245,245,245 );
  height:60px;
  width:60px;
  display: flex;
  align-items: center;
  border-radius: 16vw;
  overflow: hidden;
  cursor:pointer;
}

.theme:hover img:nth-child(1){
  margin-left: -60px
}

.theme img{
  width: 45px;
  height: 45px;
  padding:7.5px;
  transition-duration: .1s
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.noghost{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
