body{
  background-color: rgb(230,230,230);
}

#submit:hover{
  background: #fff;
}

.selectlang{
  transform: scale(1.25);
  border:1px outset black;
}

.field{
  border: solid rgb(200,200,200);
  box-shadow: 1px 1px 2px rgb(20,20,20);
}

.row-Customers:nth-child(2n) *{
  /*background: #ddd !important*/
}


.storeitem:focus {
  background: rgb(230,230,230)
}


#l3{
  color:black;
}

.newlinesc{
  background: #eee
}

.row-Customers:hover *{
  background: #ccc !important
}

.settingstechmain input,
.settingstechcontrols input{
  border-left:1px solid rgb(230,230,230);
  border-top:1px solid rgb(230,230,230);
}

.inactivepart *{
  background: rgba(255,16,16,0.5)!important
}

.buttonsbar p{
  color:black!important
}


.row-parts:hover * {
  background: #ccc !important
}

.set{
  background: #fff;

}

.tetech {
  border-left: 1px solid rgb(230,230,230);
  border-top: 1px solid rgb(230,230,230);
  background: #fff
}


.set:hover{
  padding:9px 26px;
  border:1px solid #aaa;
}

.pgremove{
  background:#fff;
  border-top:1px solid rgb(230,230,230);
  border-left:1px solid rgb(230,230,230)
}

#pgnew{
  background: #fff;

}

#pgnew:hover{
  padding:9px 26px;
  border:1px solid #aaa;
}

.navitem{
  border:1px solid #ddd;
  box-shadow: 1px 1px 2px #555;
  color:black;
  background: #fff;
}

.navitem:hover{
  box-shadow: 2px 2px 5px #222;
}

.navin{
  background: #fdfdfd;
  border-right: 1px solid #eee;
}

input,select,td{
  background: #fff!important;
  border: none;
}


.navitemin{
  border-top:1px solid #ddd;
  color:black;
}

.navitemin:nth-last-child(1){
  border-bottom:1px solid #ddd;
}

.navitem:hover{
}

.navitemin:hover{
}



.active1 input,
.active1 select,
.active1 td{
  background: #f44!important
}


.active{
  background:#f6f6f6!important;
}

.settingrow,
.settingadminrow{
  border-top:1px solid rgb(230,230,230);
}

.droplangselectsetting,
.dropmenusetting{
  background: #fff;
}

.settingdropmenuitem:hover{
  background: #eee;
}

.headerbox-parts{
  border-color: rgb(215,215,215);
}

.header-customers th{
  background: #fff!important
}

.customer-add-unit{
  background: rgb(200,200,200);
  border-radius: 20px;
}

.list-parts, .list-delivnotes, .list-part-unitinfo, .list-units, .list-irhistory, .list-deliverynotes, .list-swapouts{
  background-color: rgb(255,255,255);
}

.middlepage-customers div{
  background: #eee;
}

.middlepage-customers div:hover{
  background:#ddd;
}

.headactive{
  background:#fff !important;
}

.settingslogout{
  background:#e00;
}

.settingslogout:hover{
  background:#f00;
}

.settingthemeswitchwrap{
  background: white;
  border:1px solid rgb(230,230,230);
}

.settingthemeswitchwrap img{

}

.settingsthemep{
  color:black;
}

#settingsthemeselect{
  position: absolute;
  background: rgba(0,0,0,0);
  max-width:39px;
  width: 100vw;
  height:39px;
  border-radius: 100px;
  margin-left: -10px;
  display: flex;
  justify-content: flex-end;
  transition-duration: .2s
}

#settingsthemeselectbutton{
  background: rgb(20,20,20);

}

.settingthemeswitchwrap:hover #settingsthemeselect{
  max-width: 80px
}

table, td, th {
  border-color: rgb(0,0,0);
  background: rgb(240,240,240);
}

td {
  border:1px solid #ddd;
}

.whatabody-lookup tbody{
  background: #fff;
  border: none;
}

.row-parts:hover{
  background-color: rgb(235,235,235)
}

::-webkit-scrollbar {
  width:18px
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #999;
  transition-duration: .2s
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.partselect{
  background: #fff;
  border:1px solid #333
}


.storelist{
  background: #fff
}

.hamham div{
  background: #222;
}

.mobilehead{
  background:#fff
}

.ircustdrop{
  background: #fff;
}

.lucustdrop{
  background: #fff;
}

.importnow{
  background: #fff;
}

.buttonsbar-item-delivnotes{
  color:black
}

.boitem {
  background: rgb(210,210,210);
}

.boelements {
  background: rgb(220,220,220);
}

.nsitem {
  background: rgb(210,210,210);
}

.nsitem:hover,
.nsitem:hover * {
  transition-duration: .1s;
  background: rgb(160,160,160)!important
}

textarea {
  background: rgb(210,210,210)
}
