body{
  background-color: rgb(245,245,245)
}

#submit:hover{
  background: #fff
}

.selectlang{
  transform: scale(1.25);
  border:1px outset black
}

.field{
  border: solid rgb(200,200,200);
  box-shadow: 1px 1px 2px rgb(20,20,20);
}

.navitem{
  border:1px solid #ddd;
  box-shadow: 1px 1px 2px #555;
  color:black;
  background: #fff
}

.navitem:hover{
  box-shadow: 2px 2px 5px #222;
}

.navin{
  background: #fdfdfd;
  border-right: 1px solid #eee;
}

.navitemin{
  border-bottom:1px solid #ddd;
  color:black
}

.navitemin:nth-child(1){
  border-top:1px solid #ddd;
}

.navitem:hover{
}

.navitemin:hover{
}

.active{
  background:#f6f6f6!important
}

.settingrow,
.settingadminrow{
  border-top:1px solid rgb(230,230,230);
}

.droplangselectsetting,
.dropmenusetting{
  background: #fff;
}

.settingdropmenuitem:hover{
  background: #eee
}

.headerbox-parts{
  border-color: rgb(215,215,215)
}

.list-parts, .list-delivnotes, .list-part-unitinfo{
  background-color: rgb(245,245,245);
}

.settingslogout{
  background:#e00;
}

.settingslogout:hover{
  background:#f00;
}

.settingthemeswitchwrap{
  background: white;
  border:1px solid rgb(230,230,230)
}

.settingthemeswitchwrap img{

}

.settingsthemep{
  color:black
}

#settingsthemeselect{
  position: absolute;
  background: rgba(0,0,0,0);
  max-width:39px;
  width: 100vw;
  height:39px;
  border-radius: 100px;
  margin-left: -10px;
  display: flex;
  justify-content: flex-end;
  transition-duration: .2s
}

#settingsthemeselectbutton{
  background: rgb(20,20,20);

}

.settingthemeswitchwrap:hover #settingsthemeselect{
  max-width: 80px
}

table, td, th {
  border-color: rgb(28,28,28);
}

.row-parts:hover{
  background-color: rgb(235,235,235)
}

::-webkit-scrollbar {
  width:18px
}

::-webkit-scrollbar-track {
  background: rgb(60,60,60);
}

::-webkit-scrollbar-thumb {
  background: #888;
  transition-duration: .2s
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
