
.mainshipped {
  margin-left:61px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none
}

#botitle {
  margin:20px 0 10px 0
}

#nstitle {
  margin:20px 0 0 0
}

.shipprewrap {
  display: flex;
}

.botable{
  padding:0 5px
}

.boitem {
  display: flex;
  background: rgb(60,60,60);
  width:614px;
  padding:2px ;
  border-bottom: 1px solid rgb(40,40,40)
}

.boitem:nth-child(1) {
  border-bottom: 2px solid rgb(40,40,40)
}

.boelements {
  padding:4px 0 4px 4px;
  width:614px;
  font-size: 14px;
  background: rgb(80,80,80);
  border-bottom: 1px solid rgb(60,60,60)
}

.bocustnr {
  width: 100px
}

.bocustna {
  width: 240px

}

.bodelivn {
  width: 105px

}

.bonr {
  padding:2px 0;
  width:200px
}

.bona {
  padding:2px 0;
  width:320px
}

.boqt {
  padding:2px 0;
  width:70px
}

.nstable {
  display: flex;
  flex-direction: column;
  padding:20px 5px
}

.nsitem {
  padding:4px 0;
  display: flex;
  background: rgb(80,80,80);
  border-bottom: 1px solid rgb(40,40,40)
}

.nsitem * {
  border-right: 1px solid rgb(40,40,40);
  padding:0 2px;
  margin-right: 4px
}

.nsitem *:nth-last-child(1){
  border:none
}

.nsitem:hover,
.nsitem:hover * {
  background: rgb(60,60,60)!important
}

.date {
  width:98px;
  overflow: hidden;
}

.no {
  width:110px;
}

.cust {
  width: 110px;
}

.tot {
  width:110px;
}

.off {
  width:55px
}

.finoff {
  width:80px
}

.previewwrap {
  padding:20px 15px
}

.itempreview {
  display: flex;
  flex-direction: column;
  position: fixed;
  top:120px
}

.itempreview * {
  padding:10px ´0
}

.previewpart{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(60,60,60);
  padding:2px 0;
}

.previewpart:nth-last-child(1){
  border:none
}

.previewpart * {
  padding:2px
}

.pretex {
  padding: 5px;
  margin: 10px 0;
  resize: none;
}

.date input {
  background:none
}

.prepno{
  width:150px
}

.prepna {
  width:270px

}

.preqty {
  width:120px

}

.prepbo {
  width:120px

}

.prelink{
  background: rgb(60,60,60);
  text-align: center;
  padding: 15px 0;
  margin:10px 0 0 0;
  border-radius: 5px
}

textarea {
  background: rgb(80,80,80)
}


input[type="date"], input[type="time"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
