html{
}

.toppage-parts{
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
.mainwrapparts{
  margin-left: 61px;
  padding:50px 0 0 50px;
}

.form-parts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  padding-right: 20px;
}

.searchlabel-parts{
  margin-bottom: 10px;
}

.formitem-parts{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#formitem-parts{
  justify-content: flex-start;
  align-items: center;
}

.forminput-parts{
  padding: 5px;
  width:200px;
  border:none;
}

#forminput-parts{
  margin-left: 7px;
}

.list-parts{
  margin-top: 34px;
}


table, td, th {
  white-space: nowrap;
}

tr{
  table-layout: fixed;
  width: 100%;
}

#header-parts{
  cursor: initial;
}

.row-parts:hover{
  cursor: pointer;
}

.row-parts td{
  font-size: 10px;
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

.whatabody{
  margin-top: -1px;
  display: block;
  max-height: 200px;
  overflow-y: scroll;
}

thead{
  display: block;
}

th{
  text-align: left;

}

.row-parts input{
  border:1px solid #282828;
  outline:none;
  margin:0 0 -1px -1px;
  padding:2px;
  font-size: 12px;
}

.thpart-parts{
  width:150px;
  padding:0 1px;
}

.thpartusd-parts, .thpartupd-parts{
  width:100px;
  padding:0 1px;
}

.thpart-parts input{
  width: 150px;
}

.thpartusd-parts input, .thpartupd-parts input{
  width: 100px;
}

.thdesc-parts{
  width: 200px;
  padding:0 1px;
}

.thdesc-parts input{
  width:200px;
}

.thLP-parts{
  width:66px;
  padding:0 1px;
}

.thLP-parts input{
  width:66px;
}

.thQTY-parts{
  width:50px;
  padding:0 1px;
}

.thQTY-parts input{
  width:50px;
}

.thpr1-parts, .thpr2-parts, .thpr3-parts, .thpr4-parts, .thpr5-parts, .thpr6-parts, .thpr9-parts{
  width:54px;
  padding:0 1px;
}

.thpr1-parts input, .thpr2-parts input, .thpr3-parts input, .thpr4-parts input, .thpr5-parts input, .thpr6-parts input, .thpr9-parts input{
  width:54px;
}

#excelaparts{
  width:30px;
  margin:5px;
  padding:5px;
}

#excelparts{
  width:30px;
  transition-duration: .2s;
}

#excelparts:hover{
  transform: scale(1.1);
}

.buttonsbar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.buttonsbar-item-parts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 12px;
}

.buttonbarpic-parts{
  width: 40px;
}

.partssearch{
  padding:10px;
  margin:5px 0;
  border-radius: 2px;
  border:none;
  outline:none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .tabell-parts{
    max-width: 400px;
    overflow-x:scroll;
  }

  thead{
  }

}

@media only screen and (max-width: 550px){
.tabell-parts{
  max-width: 230px;
  overflow-x:scroll;
}

#formitem-parts{
  justify-content: center;
  align-items: flex-start;
}

#forminput-parts{
  margin-left:0px;
}

thead{
  overflow-x: scroll;
}

.mainwrapparts{
  margin-left: 41px;
  padding:30px;
}

.list-parts{
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 34px;
}

.form-parts{
  width: 150px;
}

.formitem-parts{
  flex-direction: column;
}
}
