html{
}

.toppage-parts{
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
.mainwrapparts{
  margin-left: 61px;
  padding:50px 0 0 50px;
}

.form-parts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  padding-right: 20px;
}

.searchlabel-parts{
  margin-bottom: 10px;
}

.formitem-parts{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#formitem-parts{
  justify-content: flex-start;
  align-items: center;
}

.forminput-parts{
  padding: 5px;
  width:200px;
  border:none;
}

#forminput-parts{
  margin-left: 7px;
}

.list-parts{
  margin-top: 34px;
}


table, td, th {
  border: 1px solid;
  padding: 2px;
  white-space: nowrap;
}

tr{
  table-layout: fixed;
  width: 100%;
}

#header-parts{
  cursor: initial;
}

.row-parts:hover{
  cursor: pointer;
}

.row-parts td{
  font-size: 14px;
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

.whatabody{
  margin-top: -1px;
  display: block;
  max-width: 617px;
  max-height: 160px;
  overflow-y: scroll;
}

.mainwrapparts ::-webkit-scrollbar {
  width:18px
}

.mainwrapparts ::-webkit-scrollbar-track {
  background: rgb(60,60,60);
}

.mainwrapparts ::-webkit-scrollbar-thumb {
  background: #888;
  transition-duration: .2s
}

.mainwrapparts ::-webkit-scrollbar-thumb:hover {
  background: #999;
}

thead{
  display: block;
}

th{
  text-align: left;
}

.thpart-parts,
.thpart-parts p{
  width:150px;
}

.thdesc-parts,
.thdesc-parts p{
  width:200px;
}

.thsupplier-parts{
  width: 50px;
}

.thLP-parts,
.thLP-parts p{
  width: 50px;
}

.thQTY-parts{
  width:50px;
}

.thQTY-parts p{
  width:32px;
}

@media only screen and (max-width: 800px){
  .tabell-parts{
    max-width: 400px;
    overflow-x:scroll;
  }

  thead{
  }

}

@media only screen and (max-width: 550px){
.tabell-parts{
  max-width: 230px;
  overflow-x:scroll;
}

#formitem-parts{
  justify-content: center;
  align-items: flex-start;
}

#forminput-parts{
  margin-left:0px;
}

thead{
  overflow-x: scroll;
}

.mainwrapparts{
  margin-left: 41px;
  padding:30px;
}

.list-parts{
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 34px;
}

.form-parts{
  width: 150px;
}

.formitem-parts{
  flex-direction: column;
}
}
