.mainwrapsettings{
  margin-left: 61px;
  padding:30px 0 30px 50px;
}

.settingsheader{
  margin: 20px 0;
}

.settingrow{
  padding:10px 10px;
  width:calc(100vw - 172px);
  max-width: 600px;
  display:flex;
  max-height: 39px;
  justify-content: space-between;
}

.settingadminrow{
  text-decoration: none;
  padding:20px 10px;
  width:calc(100vw - 172px);
  max-width: 600px;
  display:flex;
  max-height: 39px;
  justify-content: space-between;
  cursor:pointer;
}

.settingadminrow p{
  transition-duration: .2s
}

.settingadminrow:hover p{
  padding:0 10px ;
}

.settingsbranchp{
  align-self: center;
}

.settingsthemep{
  align-self: center;
}

.droplangselectsetting{
  padding:0 ;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: .1s
}

#langsel{
  text-transform: capitalize;
  padding:10px 41px
}

#spsel{
  width: 175px;
  padding:10px 0
}

.droplangselectsetting:hover {
  border-radius: 5px 5px 0 0
}

.droplangselectsetting:hover .dropmenusetting{
  border-radius: 0 0 5px 5px;
  max-height:none
}


.settingdropmenuitem{
  padding:10px 40px;
  border-radius: 10px;
  text-transform: capitalize;
  transition-duration: .1s;
}

.dropmenusetting{
  position: relative;
  height:auto;
  max-height:0;
  overflow:hidden;
  transition-duration: .1s;
  z-index: 10000000000!important
}

.settingthemeswitchwrap{
  display:flex;
  justify-content: space-between;
  height:39px;
  padding:0 10px;
  width:60px;
  align-items: center;
  border-radius: 100px;
  cursor:pointer;
}

.settingthemeswitchwrap img{
  height:25px;
  width:25px;
}

#settingsthemeselect{
  position: absolute;
  background: rgba(0,0,0,0);
  max-width:80px;
  width: 100vw;
  height:39px;
  border-radius: 100px;
  margin-left: -10px;
  display: flex;
  justify-content: flex-end;
  transition-duration: .2s
}

#settingsthemeselectbutton{
  width:39px;
  height:39px;
  background: white;
  border-radius: 2000px;

}

.settingthemeswitchwrap:hover #settingsthemeselect{
  max-width: 39px
}



.settingslogout{
  padding:10px 21px;
  background:white;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: .2s
}

.navin:hover .mainwrapsettings{
  transform: translateY(140px)!important;
  margin-left: 201px
}

.settingstechwrap{
  padding:100px
}

.settingstechmain{
}

.settingadmintech{
  display:flex;
  padding:0 5px;
  transition-duration: .25s;
  height:100vw;
  max-height: 37px;
  overflow: hidden;
}

.settingstechmain input{
  border:none;
  padding:10px 0 10px 5px;
  outline:none;
}

.techid{
  width:50px
}



.techfirst
,.techlast{
  width:150px
}

.techoffice
,.techtech{
  width:50px
}

.techremove{
  width:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.techremove img{
  transition-duration: .1s;
  width:25px;
  height:25px;
  transform: rotate(45deg);
}

.techremove:hover img{

}

.settingstechcontrols{
  display:flex;
  padding:10px 5px;
  justify-content: space-between;
}

.settingstechdiv{
  display: flex;
  width:220px;
  justify-content: space-between;
}

.settingstechcontrols input{
  padding: 10px;
  width:100px;
  cursor:pointer;
}

.settingstechnew,
.settingstechcancel{
  width:98px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid;
  cursor:pointer;
}

.techid{
  text-transform: uppercase;
}

.settingstechhead,
.settingsvendorhead{
  display: flex;
  padding:5px;
}

.settingstechhead p,
.settingsvendorhead p{
  padding:0 5px
}

#settingstechid{
  width:46px
}

#settingstechfirst,
#settingstechlast{
  width:146px
}

#settingstechoffice,
#settingstechtech{
  width:46px
}

.settingsvendorwrap{
  padding:100px
}

#settingsvendorid{
  width:46px
}

.vendorid{
  width:50px
}

#settingsvendorname{
  width:171px;
}

.vendorname{
  width:175px
}

#settingsvendorcurrency{
  width:86px
}

.vendorcur{
  width:90px
}
