<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSTAT | Login</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/{{theme}}.css">
    <link rel="icon" href="../static/pictures/icon.ico">
  </head>
  <body>
    <div class="wrapper">
      <div class="mainlogin">
        <form class="loginform" action="" method="post" autocomplete="off">
          <input class="field" type="text" style="text-security:disc; -webkit-text-security:disc;" id="oldpwd" name="oldpwd" placeholder="Old Password" autofocus>
          <input class="field" type="text" style="text-security:disc; -webkit-text-security:disc;" id="pwin" name="newpwd" placeholder="Password">
          <input class="field" type="text" style="text-security:disc; -webkit-text-security:disc;" id="pwin2" name="newpwd2" placeholder="Confirm Password">
          <input class="field" type="submit" id="submit" name="submit" value="Change password">
          {%if error%}
          <p style="color:red;font-size:12px;padding:4px 2px">{{error}}</p>
          {%endif%}
        </form>
      </div>
    </div>
  </body>
</html>
