<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake | customers</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/customers.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="navin">
      <a class="navitemin active" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    </div>
    <div class="mainwrapcustomers">
      <h1 class="noselect">Customers</h1>
      <div class="toppage-customers">
      <div class="leftpage-customers">
        <form class="form-customers">
          <label for="search" class="searchlabel-customers">Search for:</label>
          <div class="formitem-customers"><label for="cust. #-customers">Cust. #</label><input class="forminput-customers" type="text" name="cust. #-customers" readonly><label for="h.o #-customers">H.O #</label><input class="forminput-customers" type="text" name="h.o #-customers"></div>
          <div class="formitem-customers"><label for="name-customers">Name</label><input class="forminput-customers" type="text" name="name-customers"></div>
          <div class="formitem-customers"><label for="address-customers">Address</label><input class="forminput-customers" type="text" name="address-customers"></div>
          <div class="formitem-customers"><label for="zip/city-customers">zip/city</label><input class="forminput-customers" type="text" name="zip-customers"><input class="forminput-customers" type="text" name="city-customers"></div>
          <div class="formitem-customers"><label for="Price group-customers">Price group</label><select style="width: 210px;" class="forminput-customers" type="text" name="groupnumber-customers">
            <option value=""></option>
            <option value="valuehere">Det ska vara saker här</option>
          </select><input class="forminput-customers" type="text" name="groupnumber-customers"></div>
        </form>
      </div>
      <div class="rightpage-customers">
        <form class="form-customers">
          <div class="formitem-customers"><label for="phone-customers">Phone</label><input class="forminput-customers" type="text" name="phone-customers"></div>
          <div class="formitem-customers"><label for="open date-customers">Open date</label><input class="forminput-customers" type="text" name="open date-customers"></div>
          <div class="formitem-customers"><label for="inst. date-customers">Inst. date</label><input class="forminput-customers" type="text" name="inst. date-customers"></div>
          <div class="formitem-customers"><label for="closed date-customers">Closed date</label><input class="forminput-customers" type="text" name="closed date-customers"></div>
          <div class="formitem-customers"><input class="forminput-customers" type="checkbox" name="dt-customers"><label for="dt-customers">Dt</label><input class="forminput-customers" type="checkbox" name="wt-customers"><label for="wt-customers">Wt</label></div>
        </form>
      </div>
    </div>
      <div class="customers-tablewrap">
        <div class="searchflik">

        </div>
        <div class="tabell-customers">
          <table class="list-units">
            <thead>
              <tr class="header-customers" id="header-customers">
                <th class="thdate-customers">Date</th>
                <th class="thnote-customers">Note #</th>
                <th class="thpart-customers">Part #</th>
                <th class="thdesc-customers">Part descr.</th>
                <th class="thqty-customers">Qty</th>
                <th class="thprice-customers">Price</th>
                <th class="thtotal-customers">Total</th>
              </tr>
            </thead>
            <tbody class="whatabody-customers">
              <tr class="row-Customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thqty-Customers">Pen</td>
                <td class="thprice-customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-Customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thqty-Customers">Pen</td>
                <td class="thprice-customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>
  </body>
</html>
