<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer | {{customer[0].strip()}}</title>
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/customers.css">
  <link rel="stylesheet" href="static/{{theme}}.css">
  <link rel="icon" href="./static/pictures/icon.ico">
</head>
<body>
  <div class="mobilehead" style="display:none;z-index:100000;">
    <div class="hamham" onclick="hamburger()" >
      <div id="hamtop" style="left:15px"></div>
      <div id="hammid" ></div>
      <div id="hambot" style="left:15px"></div>
    </div>
    <div id="menudim" onclick="hamburger()" style="opacity:0;display:none"></div>
  </div>
  <div class="navin">
    <a class="navitemin active" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
    <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
    <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
    <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
    <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
    <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
    <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    <a id="navlogo" href="/landing"><img id="navlogoimg" src="/static/pictures/logo.png"></a>
  </div>
  <div class="mainwrapcustomers">
    <h1 class="noselect">Customers</h1>
    <form class="seek-customers" method="GET" action="" id="custidform">
      <input name="customer" id="custid" value="" placeholder="Search" autofocus class="customersearchbar">
      {% if customers !=  []%}
      <div class="irdropblack" onclick="window.location.replace('/customers')">
      </div>
      <div class="ircustdrop">
        {% for x in customers %}
        <div tabindex="0" onclick="document.getElementById('custid').value='{{x[0].strip()}}';document.getElementById('custidform').submit()">
          <p class="custdropnumber">{{x[0]}} {{x[1]}}{{x[2]}} {{x[9]}}</p>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </form>
    <div class="toppage-customers">
      <div class="leftpage-customers">
        <form class="form-customers" id="customerform1">
          <label for="search" class="searchlabel-customers">Search for:</label>
          <script>
            document.cookie = "custid = {{customer[0].strip()}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;"
          </script>
          <div class="formitem-customers"><label class="cust-customers noselect">Cust. #:</label><input id="custidid" value="{{customer[0].strip()}}" class="forminput-customers" type="text" name="custnr" readonly><label class="ho-customers noselect">H.O. #:</label><input value="{{customer[20].strip()}}" class="forminput-customers" type="text" name="custho"></div>
          <div class="formitem-customers"><label class="name-customers noselect">Name:</label><input value="{{customer[2].strip()}}" class="forminput-customers" type="text" name="custname"><label class="owner-customers noselect">Owner:</label><input value="{{customer[19].strip()}}" class="forminput-customers" type="text" name="custowner"></div>
          <div class="formitem-customers"><label class="address-customers noselect">Address:</label><input value="{{customer[3].strip()}}" class="forminput-customers" type="text" name="custadress"></div>
          <div class="formitem-customers"><label class="zipcity-customers noselect">Zip/City:</label><input value="{{customer[5].strip()}}" class="forminput-customers" type="text" name="custzip"><input value="{{customer[6].strip()}}" class="forminput-customers" id="cityinput" type="text" name="custcity"></div>
          <div class="formitem-customers"><label class="pricegroup-customers noselect">Price group:</label><select style="width: 190px;" class="forminput-customers" type="text" name="custgroup">
            {% for x in pricegroups %}
            <option value="{{x[0]}}"  {% if x[0] == customer[33] %}selected {% endif %}>{{x[0]}}: {{x[1].strip()}}</option>
            {% endfor %}
          </select>
        </form>
      </div>
      <div class="rightpage-customers">
        <form class="form-customers" id="customerform2">
          <div class="formitem-customers noselect"><label class="phone-customers noselect">Phone:</label><input value="{{customer[10].strip()}}" id="phoneinput-customers" class="forminput-customers" type="text" name="custphone"></div>
          <div class="formitem-customers noselect"><label class="opendate-customers noselect">Open date:</label><input value="{{customer[21]}}" id="open" class="forminput-customers" type="date" name="custopen"></div>
          <div class="formitem-customers noselect"><label class="instdate-customers noselect">Inst. date:</label><input value="{{customer[22]}}" id="inst" class="forminput-customers" type="date" name="custinst"></div>
          <div class="formitem-customers noselect"><label class="closeddate-customers noselect">Closed date:</label><input value="{{customer[24]}}" id="close" class="forminput-customers" type="date" name="custclosed"></div>
          <div class="formitem-customers noselect"><input  {% if 1 == customer[26] %}checked {% endif %} class="forminput-customers" id="checkdt" type="checkbox" name="custdt"><label for="dt-customers" class=" noselect">Dt</label><input {% if 1 == customer[27] %}checked {% endif %} class="forminput-customers" id="checkwt" type="checkbox" name="custwt"><label for="wt-customers" class=" noselect">Wt</label></div>
        </form>
      </div>
    </div>
    <div class="">

      <div class="middlepage-customers">
        <div id="unithead" class="buttonunits-customers noselect" onclick="document.cookie = 'custtable = units';location.reload()">Units</div>
        <div id="irhead" class="buttonir-customers noselect" onclick="document.cookie = 'custtable = irhistory';location.reload()">IR-History</div>
        <div id="delivhead" class="buttondelivery-customers noselect" onclick="document.cookie = 'custtable = deliverynotes';location.reload()">Delivery Notes</div>
        <div id="swaphead" class="buttonswapouts-customers noselect" onclick="document.cookie = 'custtable = swapouts';location.reload()">Swapouts</div>
      </div>
      <div class="customers-tablewrap">
        <div class="searchflik">

        </div>

        {% if table == "units" or table == None%}
        <script>
          document.getElementById('unithead').classList.add("headactive")
        </script>
        <div class="tabell-customers">
          <table class="list-units">
            <thead>
              <tr class="header-customers" id="header-customers">
                <th onclick="if(document.cookie.includes('custsort=cat')){document.cookie = 'custsort = revcat';}else{document.cookie = 'custsort = cat';}location.reload()" class="sortcursor thcatu-customers noselect">Cat.</th>
                <th onclick="if(document.cookie.includes('custsort=type')){document.cookie = 'custsort = revtype';}else{document.cookie = 'custsort = type';}location.reload()" class="sortcursor thtypeu-customers noselect">Type</th>
                <th onclick="if(document.cookie.includes('custsort=vend')){document.cookie = 'custsort = revvend';}else{document.cookie = 'custsort = vend';}location.reload()" class="sortcursor thvendoru-customers noselect">Vendor</th>
                <th onclick="if(document.cookie.includes('custsort=model')){document.cookie = 'custsort = revmodel';}else{document.cookie = 'custsort = model';}location.reload()" class="sortcursor thmodelu-customers noselect">Model</th>
                <th onclick="if(document.cookie.includes('custsort=serial')){document.cookie = 'custsort = revserial';}else{document.cookie = 'custsort = serial';}location.reload()" class="sortcursor thserialu-customers noselect">Serial #</th>
                <th onclick="if(document.cookie.includes('custsort=install')){document.cookie = 'custsort = revinstall';}else{document.cookie = 'custsort = install';}location.reload()" class="sortcursor thinstu-customers noselect">Installation date</th>
                <th onclick="if(document.cookie.includes('custsort=warranty')){document.cookie = 'custsort = revwarranty';}else{document.cookie = 'custsort = warranty';}location.reload()" class="sortcursor thwarrantyu-customers noselect">Warranty ends</th>
                <th onclick="if(document.cookie.includes('custsort=charge')){document.cookie = 'custsort = revcharge';}else{document.cookie = 'custsort = charge';}location.reload()" class="sortcursor thcontru-customers noselect">Contr. Type</th>
                <th onclick="if(document.cookie.includes('custsort=replace')){document.cookie = 'custsort = revreplace';}else{document.cookie = 'custsort = replace';}location.reload()" class="sortcursor threplu-customers noselect">Repl. Date</th>
              </tr>
            </thead>
            <tbody class="whatabody-customers">
              {% for x in units %}
              <tr class="row-Customers active{{x[11]}}" id="{{x[12]}}" onclick="">
                <input type="hidden" name="" id="{{units.index(x)}}id" value="{{x[12]}}">
                <td class="thcatu-customers">
                  <select id="{{units.index(x)}}cat">
                    {% for y in cat %}
                    <option {% if x[1].strip() == y[0].strip() %} selected {% endif %}>{{y[0].strip()}}</option>
                    {% endfor %}
                    {% if x[1] not in cat %}
                    <option selected>{{x[1].strip()}}</option>
                    {% endif %}
                  </select>
                </td>
                <td class="thtypeu-customers">
                  <select id="{{units.index(x)}}type">
                    {% for y in type %}
                    <option {% if x[5].strip() == y[0].strip() %} selected {% endif %}>{{y[0].strip()}}</option>
                    {% endfor %}
                    {% if x[5] not in type %}
                    <option selected>{{x[5].strip()}}</option>
                    {% endif %}
                  </select>
                </td>
                <td class="thvendoru-customers">
                  <select id="{{units.index(x)}}vendor">
                    {% for y in vend %}
                    <option {% if x[2].strip() == y[0].strip() %} selected {% endif %}>{{y[0].strip()}}</option>
                    {% endfor %}
                    {% if x[2] not in vend %}
                    <option selected>{{x[2].strip()}}</option>
                    {% endif %}
                  </select>
                </td>
                <td class="thmodelu-customers">
                  <select onchange="setmodel(this.value)">
                    {% for y in model %}
                    <option value="{{y[3]}}%{{y[2]}}%{{y[0]}}%{{units.index(x)}}" {% if x[3].strip() == y[0].strip() %} selected {% endif %}>{{y[1]}}</option>
                    {% endfor %}
                    {% if x[3] not in model %}
                    <option value="%%%" selected>{{x[3].strip()}}</option>
                    {% endif %}
                  </select>
                </td>
                <td class="thserialu-customers"><input value="{{x[4].strip()}}"></td>
                <td class="thinstu-customers"><input type="date" value="{{x[6]}}"></td>
                <td class="thwarrantyu-customers"><input type="date" value="{{x[7]}}"></td>
                <td class="thcontru-customers">
                  <select>
                    {% for y in charge %}
                      <option value="{{y[0]}}" {% if x[8] == y[0] %} selected {% endif %}>{{y[1]}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td class="threplu-customers"><input type="date" value="{{x[9]}}"></td>
                {% if userauth == "true" %}
                <td class="threplu-customers"><a class="custunitremove" style="cursor:pointer" onclick="remunit('{{x[12]}}')"><img src="/static/pictures/{{theme}}/remove.png" height="18px"></a></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="unitcontrols">
          <div class="">
            <a onclick="showAddUnits()" style="cursor:pointer"><img class="custunitcontrol" src="/static/pictures/{{theme}}/add.png"></a>
            <!--<a ><img class="custunitcontrol" src="/static/pictures/{{theme}}/remove.png"></a>
            <a ><img src=""></a>
            <a ><img src=""></a>-->
          </div>
          <script>
          function active(sort){
            document.cookie = "custactive = " + sort

            if(sort=="curr"){
              console.log("curr");
              for(m of document.getElementsByClassName('active0')){
                m.style.display = "table-row";
              }
              for(n of document.getElementsByClassName('active1')){
                n.style.display = "none";
              }
            }else if(sort=="hist"){
              console.log("hist");
                for(m of document.getElementsByClassName('active1')){
                  m.style.display = "table-row";
                }
                for(n of document.getElementsByClassName('active0')){
                  n.style.display = "none";
                }
              }else if(sort=="both"){
                console.log("both");
                for(m of document.getElementsByClassName('active0')){
                  m.style.display = "table-row";
                }
                for(n of document.getElementsByClassName('active1')){
                  n.style.display = "table-row";
                }
            }
          }

          </script>
          <div class="noselect">
          <label><input type="radio" name="unitfilter" id="activecurrent" onclick="active('curr')" value="curr">Current Units</label>
          <label><input type="radio" name="unitfilter" id="activehistory" onclick="active('hist')" value="hist">Historical Units</label>
          <label><input type="radio" name="unitfilter" id="activeboth" onclick="active('both')" value="both">Both</label>
          </div>
        </div>

        <script>
        function showAddUnits(){
          document.getElementById("customer-add-unit").style.display = "flex";
          document.getElementById("customer-add-unit-backdrop").style.display = "block";
        }

        function hideAddUnits(){
          document.getElementById("customer-add-unit-backdrop").style.display = "none";
          document.getElementById("customer-add-unit").style.display = "none";
        }
        </script>
        <form id="customer-add-unit" class="customer-add-unit" action="/customernewunit" method="post">
          <input type="hidden" name="customer" value="{{customer[0].strip()}}">
          <div class="customer-add-unit-row"><p>Category</p><input type="text" placeholder="Category" name="category" value=""></div>
          <div class="customer-add-unit-row"><p>Type</p><input type="text" placeholder="Type" name="type" value=""></div>
          <div class="customer-add-unit-row"><p>Vendor</p><input type="text" placeholder="Vendor" name="vendor" value=""></div>
          <div class="customer-add-unit-row"><p>Model</p><input type="text" placeholder="Model" name="model" value=""></div>
          <div class="customer-add-unit-row"><p>Serial</p><input type="text" placeholder="Serial" name="serial" value=""></div>
          <div class="customer-add-unit-row"><p>Install Date</p><input type="date" placeholder="Install" name="install" value=""></div>
          <div class="customer-add-unit-row"><p>Warranty</p><input type="date" placeholder="Warranty" name="warranty" value=""></div>
          <div class="customer-add-unit-row"><p>Charge mode</p><input type="text" placeholder="Charge" name="charge" value=""></div>
          <div class="customer-add-unit-row"><p>Replace date</p><input type="date" placeholder="Replace" name="replace" value=""></div>
          <div class="customer-add-unit-row">
            <input type="submit" name="" style="cursor:pointer" value="Add unit">
            <input type="button" onclick="hideAddUnits()" style="cursor:pointer" name="" value="Cancel">
          </div>
        </form>
        <div onclick="hideAddUnits()" id="customer-add-unit-backdrop" class="customer-add-unit-backdrop"></div>
        {% endif %}

        <script src="/static/customer.js">
        </script>
        {% if table == "irhistory" %}
        <script>
          document.getElementById('irhead').classList.add("headactive")
        </script>
        <div class="tabell-customers">
          <table class="list-irhistory">
            <thead>
              <tr class="header-customers" id="header-customers">
                <th onclick="document.cookie = 'custsort = date';location.reload()" class="thdatei-customers">Date</th>
                <th onclick="document.cookie = 'custsort = number';location.reload()" class="thiri-customers">IR #</th>
                <th onclick="document.cookie = 'custsort = model';location.reload()" class="thmodeli-customers">Model</th>
                <th onclick="document.cookie = 'custsort = serial';location.reload()" class="thseriali-customers">Serial #</th>
                <th onclick="document.cookie = 'custsort = problem';location.reload()" class="thproblemi-customers">Problem</th>
                <th onclick="document.cookie = 'custsort = action';location.reload()" class="thactioni-customers">Action</th>
              </tr>
            </thead>
            <tbody class="whatabody-customers">
              {% for x in wo %}
              <tr class="row-Customers" ondblclick="window.location.href = '/ir?ir={{x[1]}}'">
                <td class="thdatei-customers"><input type="date" value="{{x[13].date()}}"></td>
                <td class="thiri-customers"><input value="{{x[1]}}"></td>
                <td class="thmodeli-customers"><input value="{{x[5].strip()}}"></td>
                <td class="thseriali-customers"><input value="{{x[6].strip()}}"></td>
                <td class="thproblemi-customers"><input value="{{x[7].strip()}}"></td>
                <td class="thactioni-customers"><input value="{{x[8].strip()}}"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
        {% if table == "deliverynotes" %}
        <script>
          document.getElementById('delivhead').classList.add("headactive")
        </script>
        <div class="tabell-customers">
          <table class="list-deliverynotes">
            <thead>
              <tr class="header-customers" id="header-customers">
                <th class="thdated-customers">Date</th>
                <th class="thnoted-customers">Note #</th>
                <th class="thpartd-customers">Part #</th>
                <th class="thdescd-customers">Part descr.</th>
                <th class="thqtyd-customers">Qty</th>
                <th class="thpriced-customers">Price</th>
                <th class="thtotald-customers">Total</th>
              </tr>
            </thead>
            <tbody class="whatabody-customers">
              {% for x in delivnote %}
              <tr class="row-Customers" ondblclick="window.location.href = '/delivnotes?dn={{x[1]}}'">
                <td class="thdated-customers"><input type="date" value="{{x[4].date()}}"></td>
                <td class="thnoted-customers"><input value="{{x[1]}}"></td>
                <td class="thpartd-customers"><input value="{{x[5].strip()}}"></td>
                <td class="thdescd-customers"><input value="{{x[6].strip()}}"></td>
                <td class="thqtyd-customers"><input value="{{x[8]}}"></td>
                <td class="thpriced-customers"><input value="{{x[9]}}"></td>
                <td class="thtotald-customers"><input value="{{x[12]}}"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
        {% if table == "swapouts" %}
        <script>
          document.getElementById('swaphead').classList.add("headactive")
        </script>
        <div class="tabell-customers">
          <table class="list-swapouts">
            <thead>
              <tr class="header-customers" id="header-customers">
                <th class="thdates-customers">Date</th>
                <th class="threfs-customers">Ref. #</th>
                <th class="thparts-customers">Part #</th>
                <th class="thdescs-customers">Part descr.</th>
                <th class="thserialss-customers">Serial # Sent</th>
                <th class="thserialrs-customers">Serial # Returned</th>
                <th class="thrdates-customers">Return Date</th>
                <th class="thstatuss-customers">Status</th>
              </tr>
            </thead>
            <tbody class="whatabody-customers">
              {% for x in swap %}
              <tr class="row-Customers" onclick="">
                <td class="thdates-customers"><input type="date" value="{{x[3]}}"></td>
                <td class="threfs-customers"><input value="{{x[1]}}"></td>
                <td class="thparts-customers"><input value="{{x[4].strip()}}"></td>
                <td class="thdescs-customers"><input value="{{x[5].strip()}}"></td>
                <td class="thserialss-customers"><input value="{{x[9].strip()}}"></td>
                <td class="thserialrs-customers"><input value="{{x[6].strip()}}"></td>
                <td class="thrdates-customers"><input type="date" value="{{x[11]}}"></td>
                <td class="thstatuss-customers"><input value="{{x[12]}}: {{swapstatusdict[x[12]]}}"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="newcustwrap" id="newcust" style="display:none">
    <form class="newcustform" method="post" action="/newcustomer">
      <label>New customer ID: <input id="newcustin" type="text" name="id" autocomplete="off" spellcheck="false"></label>
      <input type="submit" name="" value="Create new" style="cursor:pointer">
    <div class="newcustcanc" onclick="document.getElementById('newcust').style.display = 'none'">
      Cancel
    </div>
  </form>
  </div>
  <div class="buttonsbar">
    <a href="/customers?customer={{mincust}}"><img class="noselect custstep" src="./static/pictures/{{theme}}/bigthiccarrowleft.png"></a>
    <a href="/customers?customer={{previous}}"><img class="noselect custstep" src="./static/pictures/{{theme}}/thiccarrowleft.png"></a>
    <a href="/customers?customer={{next}}"><img class="noselect custstep" src="./static/pictures/{{theme}}/thiccarrowright.png"></a>
    <a href="/customers?customer={{maxcust}}"><img class="noselect custstep" src="./static/pictures/{{theme}}/bigthiccarrowright.png"></a>
    <a id="custcontrolspace"></a>
    <a href="customers" class="buttonsbar-item-customers"><img class="buttonbarpic-customers" src="static/pictures/{{theme}}/label.png"><p>Label</p></a>
    <a onclick="document.getElementById('newcust').style.display = 'flex'; document.getElementById('newcustin').focus()" class="buttonsbar-item-customers"><img class="buttonbarpic-customers" src="static/pictures/{{theme}}/new.png"><p>New</p></a>
    <a onclick="if(confirm('Are you sure you want to delete this customer?')){removecust('{{previous}}')}" class="buttonsbar-item-customers"><img class="buttonbarpic-customers" src="static/pictures/{{theme}}/wastebin.png"><p>Delete</p></a>
    <a href="customers?cs={{customers}}" class="buttonsbar-item-customers"><img class="buttonbarpic-customers" src="static/pictures/{{theme}}/undo.png"><p>Undo</p></a>
    <a onclick="savecustomer()" class="buttonsbar-item-customers"><img class="buttonbarpic-customers" src="static/pictures/{{theme}}/save.png"><p>Save</p></a>
    {% if userauth == "true"%}
    <a id="excelaparts" href="static/units.csv" download><img id="excelparts" src="static/pictures/excel.png"></a>
    {% endif %}
  </div>
</div>
<div id="statusmsg">
  Customer saved!
</div>
<script src="/static/cust.js"></script>
<script src="/static/mobile.js"></script>
</body>
</html>
