<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake | customers</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/customers.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="mobilehead" style="display:none;z-index:100000;">
      <div class="hamham" onclick="hamburger()" >
        <div id="hamtop" style="left:15px"></div>
        <div id="hammid" ></div>
        <div id="hambot" style="left:15px"></div>
      </div>
      <div id="menudim" onclick="hamburger()" style="opacity:0;display:none"></div>
    </div>
    <div class="navin">
      <a class="navitemin active" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    </div>
    <div class="mainwrapcustomers">
      <h1 class="noselect">Customers</h1>
      <form class="seek-customers" method="GET" action="">
        <input name="customer">
      </form>
      <div class="toppage-customers">
      <div class="leftpage-customers">
        <form class="form-customers">
          <label for="search" class="searchlabel-customers">Search for:</label>
          <div class="formitem-customers"><label class="cust-customers">Cust. #:</label><input value="{{customers[0].strip()}}" class="forminput-customers" type="text" name="cust. #-customers" readonly><label class="ho-customers">H.O. #:</label><input value="{{customers[20].strip()}}" class="forminput-customers" type="text" name="h.o #-customers"></div>
          <div class="formitem-customers"><label class="name-customers">Name:</label><input value="{{customers[2].strip()}}" class="forminput-customers" type="text" name="name-customers"></div>
          <div class="formitem-customers"><label class="address-customers">Address:</label><input value="{{customers[3].strip()}}" class="forminput-customers" type="text" name="address-customers"></div>
          <div class="formitem-customers"><label class="zipcity-customers">Zip/City:</label><input value="{{customers[5].strip()}}" class="forminput-customers" type="text" name="zip-customers"><input value="{{customers[6].strip()}}" class="forminput-customers" id="cityinput" type="text" name="city-customers"></div>
          <div class="formitem-customers"><label class="pricegroup-customers">Price group:</label><select style="width: 190px;" class="forminput-customers" type="text" name="groupnumber-customers">
            {% for x in pricegroups %}
            <option value="{{x[0]}}"  {% if x[0] == customers[33] %}selected {% endif %}>{{x[0]}}: {{x[1].strip()}}</option>
            {% endfor %}
          </select>
        </form>
      </div>
      <div class="rightpage-customers">
        <form class="form-customers">
          <div class="formitem-customers"><label class="phone-customers">Phone:</label><input value="{{customers[10]}}" class="forminput-customers" type="text" name="phone-customers"></div>
          <div class="formitem-customers"><label class="opendate-customers">Open date:</label><input value="{{customers[21]}}" class="forminput-customers" type="date" name="open date-customers"></div>
          <div class="formitem-customers"><label class="instdate-customers">Inst. date:</label><input value="{{customers[22]}}" class="forminput-customers" type="date" name="inst. date-customers"></div>
          <div class="formitem-customers"><label class="closeddate-customers">Closed date:</label><input value="{{customers[24]}}" class="forminput-customers" type="date" name="closed date-customers"></div>
          <div class="formitem-customers"><input  {% if 1 == customers[26] %}checked {% endif %} class="forminput-customers" id="checkdt" type="checkbox" name="dt-customers"><label for="dt-customers">Dt</label><input {% if 1 == customers[27] %}checked {% endif %} class="forminput-customers" id="checkwt" type="checkbox" name="wt-customers"><label for="wt-customers">Wt</label></div>
        </form>
      </div>
    </div>
    <div class="middlepage-customers">
        <div class="buttonunits-customers" onclick="document.cookie = 'custtable = units';location.reload()">Units</div>
        <div class="buttonir-customers" onclick="document.cookie = 'custtable = irhistory';location.reload()">IR-History</div>
        <div class="buttondelivery-customers" onclick="document.cookie = 'custtable = deliverynotes';location.reload()">Delivery Notes</div>
        <div class="buttonswapouts-customers" onclick="document.cookie = 'custtable = swapouts';location.reload()">Swapouts</div>
    </div>
      <div class="customers-tablewrap">
        <div class="searchflik">

        </div>

        {% if table == "units" %}
        <div class="tabell-customers">
          <table class="list-units">
            <thead>
              <tr class="header-customers" id="header-customers">
                <th class="thcatu-customers">Cat.</th>
                <th class="thtypeu-customers">Type</th>
                <th class="thvendoru-customers">Vendor</th>
                <th class="thmodelu-customers">Model</th>
                <th class="thserialu-customers">Serial #</th>
                <th class="thinstu-customers">Installation date</th>
                <th class="thwarrantyu-customers">Warranty ends</th>
                <th class="thcontru-customers">Contr. Type</th>
                <th class="threplu-customers">Repl. Date</th>
              </tr>
            </thead>
            <tbody class="whatabody-customers">
              <tr class="row-Customers" onclick="">
                <td class="thcatu-customers"><input></td>
                <td class="thtypeu-customers"><input></td>
                <td class="thvendoru-customers"><input></td>
                <td class="thmodelu-customers"><input></td>
                <td class="thserialu-customers"><input></td>
                <td class="thinstu-customers"><input></td>
                <td class="thwarrantyu-customers"><input></td>
                <td class="thcontru-customers"><input></td>
                <td class="threplu-customers"><input></td>
              </tr>
              <tr class="row-Customers" onclick="">
                <td class="thcatu-customers"><input></td>
                <td class="thtypeu-customers"><input></td>
                <td class="thpart-Customers"><input></td>
                <td class="thdesc-Customers"><input></td>
                <td class="thqty-Customers">PEN</td>
                <td class="thprice-customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
              <tr class="row-customers" onclick="">
                <td class="thdate-Customers">Pen</td>
                <td class="thnote-Customers">Pen</td>
                <td class="thpart-Customers">Pen</td>
                <td class="thdesc-Customers">Pen</td>
                <td class="thprice-Customers">Pen</td>
                <td class="thtotal-Customers">Pen</td>
              </tr>
            </tbody>
          </table>
          </div>
          {% endif %}
          {% if table == "irhistory" %}
          <div class="tabell-customers">
            <table class="list-irhistory">
              <thead>
                <tr class="header-customers" id="header-customers">
                  <th class="thdatei-customers">Date</th>
                  <th class="thiri-customers">IR #</th>
                  <th class="thmodeli-customers">Model</th>
                  <th class="thseriali-customers">Serial #</th>
                  <th class="thproblemi-customers">Problem</th>
                  <th class="thactioni-customers">Action</th>
                </tr>
              </thead>
              <tbody class="whatabody-customers">
                <tr class="row-Customers" onclick="">
                  <td class="thdatei-customers"><input></td>
                  <td class="thiri-customers"><input></td>
                  <td class="thmodeli-customers"><input></td>
                  <td class="thseriali-customers"><input></td>
                  <td class="thproblemi-customers"><input></td>
                  <td class="thactioni-customers"><input></td>
                </tr>
                <tr class="row-Customers" onclick="">
                  <td class="thdate-Customers"><input></td>
                  <td class="thnote-Customers"><input></td>
                  <td class="thpart-Customers"><input></td>
                  <td class="thdesc-Customers"><input></td>
                  <td class="thqty-Customers">PEN</td>
                  <td class="thprice-customers">Pen</td>
                  <td class="thtotal-Customers">Pen</td>
                </tr>
                <tr class="row-customers" onclick="">
                  <td class="thdate-Customers">Pen</td>
                  <td class="thnote-Customers">Pen</td>
                  <td class="thpart-Customers">Pen</td>
                  <td class="thdesc-Customers">Pen</td>
                  <td class="thprice-Customers">Pen</td>
                  <td class="thtotal-Customers">Pen</td>
                </tr>
                <tr class="row-customers" onclick="">
                  <td class="thdate-Customers">Pen</td>
                  <td class="thnote-Customers">Pen</td>
                  <td class="thpart-Customers">Pen</td>
                  <td class="thdesc-Customers">Pen</td>
                  <td class="thprice-Customers">Pen</td>
                  <td class="thtotal-Customers">Pen</td>
                </tr>
                <tr class="row-customers" onclick="">
                  <td class="thdate-Customers">Pen</td>
                  <td class="thnote-Customers">Pen</td>
                  <td class="thpart-Customers">Pen</td>
                  <td class="thdesc-Customers">Pen</td>
                  <td class="thprice-Customers">Pen</td>
                  <td class="thtotal-Customers">Pen</td>
                </tr>
                <tr class="row-customers" onclick="">
                  <td class="thdate-Customers">Pen</td>
                  <td class="thnote-Customers">Pen</td>
                  <td class="thpart-Customers">Pen</td>
                  <td class="thdesc-Customers">Pen</td>
                  <td class="thprice-Customers">Pen</td>
                  <td class="thtotal-Customers">Pen</td>
                </tr>
                <tr class="row-customers" onclick="">
                  <td class="thdate-Customers">Pen</td>
                  <td class="thnote-Customers">Pen</td>
                  <td class="thpart-Customers">Pen</td>
                  <td class="thdesc-Customers">Pen</td>
                  <td class="thprice-Customers">Pen</td>
                  <td class="thtotal-Customers">Pen</td>
                </tr>
                <tr class="row-customers" onclick="">
                  <td class="thdate-Customers">Pen</td>
                  <td class="thnote-Customers">Pen</td>
                  <td class="thpart-Customers">Pen</td>
                  <td class="thdesc-Customers">Pen</td>
                  <td class="thprice-Customers">Pen</td>
                  <td class="thtotal-Customers">Pen</td>
                </tr>
              </tbody>
            </table>
            </div>
            {% endif %}
            {% if table == "deliverynotes" %}
            <div class="tabell-customers">
              <table class="list-deliverynotes">
                <thead>
                  <tr class="header-customers" id="header-customers">
                    <th class="thdated-customers">Date</th>
                    <th class="thnoted-customers">Note #</th>
                    <th class="thpartd-customers">Part #</th>
                    <th class="thdescd-customers">Part descr.</th>
                    <th class="thqtyd-customers">Qty</th>
                    <th class="thpriced-customers">Price</th>
                    <th class="thtotald-customers">Total</th>
                  </tr>
                </thead>
                <tbody class="whatabody-customers">
                  <tr class="row-Customers" onclick="">
                    <td class="thdated-Customers"><input></td>
                    <td class="thnoted-Customers"><input></td>
                    <td class="thpartd-Customers"><input></td>
                    <td class="thdescd-Customers"><input></td>
                    <td class="thqtyd-Customers"><input></td>
                    <td class="thpriced-customers"><input></td>
                    <td class="thtotald-Customers"><input></td>
                  </tr>
                  <tr class="row-Customers" onclick="">
                    <td class="thdate-Customers"><input></td>
                    <td class="thnote-Customers"><input></td>
                    <td class="thpart-Customers"><input></td>
                    <td class="thdesc-Customers"><input></td>
                    <td class="thqty-Customers">PEN</td>
                    <td class="thprice-customers">Pen</td>
                    <td class="thtotal-Customers">Pen</td>
                  </tr>
                  <tr class="row-customers" onclick="">
                    <td class="thdate-Customers">Pen</td>
                    <td class="thnote-Customers">Pen</td>
                    <td class="thpart-Customers">Pen</td>
                    <td class="thdesc-Customers">Pen</td>
                    <td class="thprice-Customers">Pen</td>
                    <td class="thtotal-Customers">Pen</td>
                  </tr>
                  <tr class="row-customers" onclick="">
                    <td class="thdate-Customers">Pen</td>
                    <td class="thnote-Customers">Pen</td>
                    <td class="thpart-Customers">Pen</td>
                    <td class="thdesc-Customers">Pen</td>
                    <td class="thprice-Customers">Pen</td>
                    <td class="thtotal-Customers">Pen</td>
                  </tr>
                  <tr class="row-customers" onclick="">
                    <td class="thdate-Customers">Pen</td>
                    <td class="thnote-Customers">Pen</td>
                    <td class="thpart-Customers">Pen</td>
                    <td class="thdesc-Customers">Pen</td>
                    <td class="thprice-Customers">Pen</td>
                    <td class="thtotal-Customers">Pen</td>
                  </tr>
                  <tr class="row-customers" onclick="">
                    <td class="thdate-Customers">Pen</td>
                    <td class="thnote-Customers">Pen</td>
                    <td class="thpart-Customers">Pen</td>
                    <td class="thdesc-Customers">Pen</td>
                    <td class="thprice-Customers">Pen</td>
                    <td class="thtotal-Customers">Pen</td>
                  </tr>
                  <tr class="row-customers" onclick="">
                    <td class="thdate-Customers">Pen</td>
                    <td class="thnote-Customers">Pen</td>
                    <td class="thpart-Customers">Pen</td>
                    <td class="thdesc-Customers">Pen</td>
                    <td class="thprice-Customers">Pen</td>
                    <td class="thtotal-Customers">Pen</td>
                  </tr>
                  <tr class="row-customers" onclick="">
                    <td class="thdate-Customers">Pen</td>
                    <td class="thnote-Customers">Pen</td>
                    <td class="thpart-Customers">Pen</td>
                    <td class="thdesc-Customers">Pen</td>
                    <td class="thprice-Customers">Pen</td>
                    <td class="thtotal-Customers">Pen</td>
                  </tr>
                </tbody>
              </table>
              </div>
              {% endif %}
              {% if table == "swapouts" %}
              <div class="tabell-customers">
                <table class="list-swapouts">
                  <thead>
                    <tr class="header-customers" id="header-customers">
                      <th class="thdates-customers">Date</th>
                      <th class="threfs-customers">Ref. #</th>
                      <th class="thparts-customers">Part #</th>
                      <th class="thdescs-customers">Part descr.</th>
                      <th class="thserialss-customers">Serial # Sent</th>
                      <th class="thserialrs-customers">Serial # Returned</th>
                      <th class="thrdates-customers">Return Date</th>
                      <th class="thstatuss-customers">Status</th>
                    </tr>
                  </thead>
                  <tbody class="whatabody-customers">
                    <tr class="row-Customers" onclick="">
                      <td class="thdates-customers"><input></td>
                      <td class="threfs-customers"><input></td>
                      <td class="thparts-customers"><input></td>
                      <td class="thdescs-customers"><input></td>
                      <td class="thserialss-customers"><input></td>
                      <td class="thserialrs-customers"><input></td>
                      <td class="thrdates-customers"><input></td>
                      <td class="thstatuss-customers"><input></td>
                    </tr>
                    <tr class="row-Customers" onclick="">
                      <td class="thdate-Customers"><input></td>
                      <td class="thnote-Customers"><input></td>
                      <td class="thpart-Customers"><input></td>
                      <td class="thdesc-Customers"><input></td>
                      <td class="thqty-Customers">PEN</td>
                      <td class="thprice-customers">Pen</td>
                      <td class="thtotal-Customers">Pen</td>
                    </tr>
                    <tr class="row-customers" onclick="">
                      <td class="thdate-Customers">Pen</td>
                      <td class="thnote-Customers">Pen</td>
                      <td class="thpart-Customers">Pen</td>
                      <td class="thdesc-Customers">Pen</td>
                      <td class="thprice-Customers">Pen</td>
                      <td class="thtotal-Customers">Pen</td>
                    </tr>
                    <tr class="row-customers" onclick="">
                      <td class="thdate-Customers">Pen</td>
                      <td class="thnote-Customers">Pen</td>
                      <td class="thpart-Customers">Pen</td>
                      <td class="thdesc-Customers">Pen</td>
                      <td class="thprice-Customers">Pen</td>
                      <td class="thtotal-Customers">Pen</td>
                    </tr>
                    <tr class="row-customers" onclick="">
                      <td class="thdate-Customers">Pen</td>
                      <td class="thnote-Customers">Pen</td>
                      <td class="thpart-Customers">Pen</td>
                      <td class="thdesc-Customers">Pen</td>
                      <td class="thprice-Customers">Pen</td>
                      <td class="thtotal-Customers">Pen</td>
                    </tr>
                    <tr class="row-customers" onclick="">
                      <td class="thdate-Customers">Pen</td>
                      <td class="thnote-Customers">Pen</td>
                      <td class="thpart-Customers">Pen</td>
                      <td class="thdesc-Customers">Pen</td>
                      <td class="thprice-Customers">Pen</td>
                      <td class="thtotal-Customers">Pen</td>
                    </tr>
                    <tr class="row-customers" onclick="">
                      <td class="thdate-Customers">Pen</td>
                      <td class="thnote-Customers">Pen</td>
                      <td class="thpart-Customers">Pen</td>
                      <td class="thdesc-Customers">Pen</td>
                      <td class="thprice-Customers">Pen</td>
                      <td class="thtotal-Customers">Pen</td>
                    </tr>
                    <tr class="row-customers" onclick="">
                      <td class="thdate-Customers">Pen</td>
                      <td class="thnote-Customers">Pen</td>
                      <td class="thpart-Customers">Pen</td>
                      <td class="thdesc-Customers">Pen</td>
                      <td class="thprice-Customers">Pen</td>
                      <td class="thtotal-Customers">Pen</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                {% endif %}
              </div>
            </div>
        <div class="buttonsbar">
          <a href="customers" class="buttonsbar-item-customers"><img class="buttonbarpic-customers" src="static/pictures/{{theme}}/label.png"><p>Label</p></a>
          <a href="customers" class="buttonsbar-item-customers"><img class="buttonbarpic-customers" src="static/pictures/{{theme}}/new.png"><p>New</p></a>
          <a href="customers" class="buttonsbar-item-customers"><img class="buttonbarpic-customers" src="static/pictures/{{theme}}/wastebin.png"><p>Delete</p></a>
          <a href="customers?cs={{customers}}" class="buttonsbar-item-customers"><img class="buttonbarpic-customers" src="static/pictures/{{theme}}/undo.png"><p>Undo</p></a>
          <a href="customers" class="buttonsbar-item-customers"><img class="buttonbarpic-customers" src="static/pictures/{{theme}}/save.png"><p>Save</p></a>
      </div>
    </div>
      <script src="/static/mobile.js"></script>
  </body>
</html>
