<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
      <script>
        window.location.href='mailto:{{mailadr}}?subject=Delivery note # {{delivnote}}  Customer: {{note[0][0]}}  {{store[2]}}&body={{mailbody}}'
        window.location.href='/delivnotes'
      </script>
</head>
</html>
