<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake | Delivery Notes</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/delivnotes.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="mobilehead" style="display:none;z-index:100000;">
      <div class="hamham" onclick="hamburger()" >
        <div id="hamtop" style="left:15px"></div>
        <div id="hammid" ></div>
        <div id="hambot" style="left:15px"></div>
      </div>
      <div id="menudim" onclick="hamburger()" style="opacity:0;display:none"></div>
    </div>
    <div class="navin">
      <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitemin active" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    </div>
    <div class="mainwrapdelivnotes">
      <h1 class="noselect">Delivery Notes</h1>
      <div>
        <div class="delivnote-deliv"><form name="delivnote-form" method="GET" action=""><label>Delivery note #:</label><input name="dn" id="delivnote-number" class="forminput-delivnotes" type="number" value="{{delivnote}}" autofocus><input type="submit"></form></div>
        {% if notFound %}
        <p style="color: red;">{{notFound}}</p>
        {% endif %}
        <div class="formitem-delivnotes offers-delivnotes">
          <label>Offer</label><input type="checkbox" {% if Dict["offer"] == 1%}checked{% endif %}>
          <label>Finalized Offer</label><input type="checkbox" {% if Dict["finaloffer"] == 1%}checked{% endif %}>
        </div>
      </div>
      <div class="toppage-delivnotes">
        <div class="toppageleft-delivnotes">
          <form class="form-delivnotes" name="form-delivnotes">
            <div class="formitem-delivnotes"><label>Store #:</label><input class="forminput-delivnotes" type="text" value="{{Dict["storenum"]}}"></div>
            <div class="formitem-delivnotes"><label>Ref:</label><input class="forminput-delivnotes" type="text" value="{{Dict["referens"]}}"></div>
            <div class="formitem-delivnotes"><label>Name:</label><input class="forminput-delivnotes" type="text" value="{{Dict["storename"]}}" readonly></div>
            <div class="formitem-delivnotes"><label>Address:</label><input class="forminput-delivnotes" type="text" value="{{Dict["street"]}}" readonly></div>
            <div class="formitem-delivnotes"><label>ZIP/City:</label><div><input id="ZIP" class="forminput-delivnotes" type="text" value="{{Dict["zip"]}}" readonly><input id="City" class="forminput-delivnotes" type="text" value="{{Dict["city"]}}"></div></div>
          </form>
        </div>
        <div class="toppageright">
          <form class="form-delivnotes" name="form-delivnotes">
            <div class="formitem-delivnotes"><label>Date:</label><input class="forminput-delivnotes2" type="text" value="{{Dict["date"]}}"></div>
            <div class="formitem-delivnotes"><label>Sign:</label>
              <select class="forminput-delivnotes2 selectdelivnotes" type="text">
                {% for x in Dict["sign"]%}
                <option value="{{x[0]}}" {% if Dict["DN_Sign"] == x[0]: %}selected{% endif %}>{{x[0]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="formitem-delivnotes"><label>Sent with (Freight type):</label>
              <select class="forminput-delivnotes2 selectdelivnotes" type="text">
                {% for x in Dict["freight"]%}
                <option value="{{Dict["freight"][x]}}" {% if Dict["DN_Freight"].strip() == x.strip(): %}selected{% endif %}>{{Dict["freight"][x]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="formitem-delivnotes"><label>Sent from:</label>
              <select class="forminput-delivnotes2 selectdelivnotes" type="text">
                {% for x in Dict["sentfrom"]%}
                <option value="{{x[1]}}" {% if x[0] == 1: %}selected{% endif %}>{{x[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="formitem-delivnotes"><label>Price group:</label>
              <div>
                <select id="inputnum" class="forminput-delivnotes2 selectdelivnotes" type="text">
                  <option value=""></option>
                  {% for x in Dict["pricegroup"]%}
                  <option value="{{x}}"{% if Dict["DN_Pricegroup"] == x %}selected{% endif %}>{{x}}</option>
                  {% endfor %}
                </select id="inputname" class="forminput-delivnotes2" type="text">
                <input class="forminput-delivnotes2" type="text" value="{{Dict["pricegroup"][Dict["DN_Pricegroup"]]}}">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="bottompage-delivnotes">
        <div class="formitem-delivnotes"><label>Notes:</label></div>
        <textarea spellcheck="false" class="forminput-delivnotes" id="textarea-delivnotes" form="form-delivnotes">{{Dict["notes"]}}</textarea>
      </div>
      <div>
        <table class="list-delivnotes">
          <thead>
            <tr class="header-delivnotes" id="header-parts">
              <th class="thpart-delivnotes">Part #</th>
              <th class="thdesc-delivnotes">Description</th>
              <th class="thserial-delivnotes">Serial</th>
              <th class="thQTY-delivnotes">QTY</th>
              <th id="thpricegroup-delivnotes" class="thpricegroup-delivnotes">Pricegroup</th>
              <th class="thprice-delivnotes">Price</th>

              <th class="thdiscount-delivnotes">% Disc.</th>
              <th class="thnetvalue-delivnotes">Netvalue</th>
              <th class="thtotal-delivnotes">Total</th>
              <th class="thnocharge-delivnotes">No charge</th>
              <th class="thbackorder-delivnotes">Back order</th>
            </tr>
          </thead>
          <tbody class="tbody-delivnotes">
            {% for x in sqlq%}

            <tr class="row-delivnotes" onclick="" id="">
              <td class="thpart-delivnotes"><input class="forminput-delivnotes" class="" value="{{x[5]}}"></td>
              <td class="thdesc-delivnotes"><input class="forminput-delivnotes" value="{{x[6]}}"></td>
              <td class="thserial-delivnotes"><input class="forminput-delivnotes" value="{{x[7]}}"></td>
              <td class="thQTY-delivnotes"><input class="forminput-delivnotes" value="{{x[8]}}"></td>
              <td class="thpricegroup-delivnotes"><input class="forminput-delivnotes" value="{{x[26]}}"></td>
              <td class="thprice-delivnotes"><input class="forminput-delivnotes" value="{{x[9]}}"></td>
              <td class="thdiscount-delivnotes"><input class="forminput-delivnotes" value="{{x[10]}}"></td>
              <td class="thnetvalue-delivnotes"><input class="forminput-delivnotes" value="{{x[11]}}"></td>
              <td class="thtotal-delivnotes"><input class="forminput-delivnotes" value="{{x[12]}}"></td>
              <td class="thnocharge-delivnotes"><input class="forminput-delivnotes" type="checkbox" {% if x[13] == 1 %}checked{% endif %}></td>
              <td class="thbackorder-delivnotes"><input class="forminput-delivnotes" type="checkbox" {% if x[18] == 1 %}checked{% endif %}></td>
            </tr>
            {% endfor %}
          </tbody>
          <script src="static/partsearch.js"></script>
        </table>
        <div class="controllpanel-delivnote">
          <div class="buttons-delivnote">
            <div class="button-delivnote"><a href="delivnotes"><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/add.png"></a></div>
            <div class="button-delivnote"><a href="delivnotes"><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/remove.png"></a></div>
          </div>
          <div class="ordersum-delivnote">
            <div><label>Order Total: </label><input class="ordersumnum-delivnote forminput-delivnotes" type="number" value="{{total}}"></div>
            <div><input type="checkbox" {% if Dict["DN_Closed"] == 1 %}checked{% endif %}><label>Order Shipped</label></div>
          </div>
        </div>
        <div class="buttonsbar">
          <a href="delivnotes" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/open.png"><p>Open</p></a>
          <a href="delivnotes" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/new.png"><p>New</p></a>
          <a href="delivnotes" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/copy.png"><p>Copy</p></a>
          <a href="delivnotes" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/wastebin.png"><p>Delete</p></a>
          <a href="delivnotes?dn={{delivnote}}" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/undo.png"><p>Undo</p></a>
          <a href="delivnotes" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/save.png"><p>Save</p></a>
          <a {% if delivnote %}href="mailto:lager@nisse.se?subject=Delivery note # {{delivnote}}  Customer: {{Dict["storenum"]}}  {{Dict["storename"]}}&body={{mailbody}}"{% endif %} class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/mail.png"><p>Mail</p></a>
          <a href="delivnotes" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/label.png"><p>Label</p></a>
          <a href="delivnotes" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/print.png"><p>Print</p></a>
          <a href="delivnotes" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/printsettup.png"><p>Prt. Setup</p></a>
        </div>
      </div>
    </div>
    <script src="/static/mobile.js"></script>
  </body>
</html>
