<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Note | #{{delivnote}}</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/delivnotes.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="mobilehead" style="display:none;z-index:100000;">
      <div class="hamham" onclick="hamburger()" >
        <div id="hamtop" style="left:15px"></div>
        <div id="hammid" ></div>
        <div id="hambot" style="left:15px"></div>
      </div>
      <div id="menudim" onclick="hamburger()" style="opacity:0;display:none"></div>
    </div>

    <div class="navin">
      <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitemin active" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
      <a id="navlogo" href="/landing"><img id="navlogoimg" src="/static/pictures/logo.png"></a>
    </div>

    <input type="hidden" id="idOfPart" value="">
      <div class="partselect" id="partselect" style="display:none">

    </div>

    <div class="mainwrapdelivnotes">
      <h1 class="noselect">Delivery Notes</h1>
      <div>
        <div class="delivnote-deliv"><form name="form-delivnotes" method="GET" action=""><label class="noselect">Delivery note #:</label><input onclick="this.select()" style="text-align:left;width:80px;margin:5px" name="dn" id="delivnote-number" class="forminput-delivnotes" type="number" value="{{delivnote}}" autofocus><input type="submit"></form></div>
        {% if notFound %}
        <p style="color: red;">{{notFound}}</p>
        {% endif %}
        <script>
        document.cookie = "lastdn = {{delivnote}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;";
        </script>
        <div class="formitem-delivnotes offers-delivnotes">
          <label>Offer<input id="dnoffer" type="checkbox" {% if Dict["offer"] == 1%}checked{% endif %}></label>
          <label>Finalized Offer<input id="dnfinal" type="checkbox" {% if Dict["finaloffer"] == 1%}checked{% endif %}></label>
        </div>
      </div>
      <div class="toppage-delivnotes">
        <div class="toppageleft-delivnotes">
          <form class="form-delivnotes" name="form-delivnotes">
            <div class="formitem-delivnotes">
              <div class="storelist" id="storelist" style="display:none">

              </div>
              <label class="noselect">Store #:</label><input class="forminput-delivnotes" type="text" value="{{Dict["storenum"]}}" id="storeNumber" placeholder="Search customer..."></div>
            <div class="formitem-delivnotes"><label class="noselect">Ref:</label><input class="forminput-delivnotes" type="text" value="{{Dict["referens"]}}" id="contact"></div>
            <div class="formitem-delivnotes"><label class="noselect">Name:</label><input class="forminput-delivnotes" type="text" value="{{Dict["storename"]}}" readonly id="storeName"></div>
            <div class="formitem-delivnotes"><label class="noselect">Address:</label><input class="forminput-delivnotes" id="storestreet" type="text" value="{{Dict["street"]}}" readonly></div>
            <div class="formitem-delivnotes"><label class="noselect">ZIP/City:</label><div><input id="ZIP" class="forminput-delivnotes" type="text" value="{{Dict["zip"]}}" readonly><input id="City" class="forminput-delivnotes" readonly type="text" value="{{Dict["city"]}}"></div></div>
          </form>
        </div>
        <div class="toppageright">
          <form class="form-delivnotes" name="form-delivnotes">
            <div class="formitem-delivnotes"><label class="noselect">Date:</label><input class="forminput-delivnotes2" ondblclick="setday('dndate')" type="date" value="{{Dict["dateformat"].date()}}" id="dndate"></div>
            <div class="formitem-delivnotes"><label class="noselect">Sign:</label>
              <select class="forminput-delivnotes2 selectdelivnotes" id="dnsign" type="text">
                {% for x in Dict["sign"]%}
                <option value="{{x[0]}}" {% if Dict["DN_Sign"] == x[0]: %}selected{% endif %}>{{x[0]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="formitem-delivnotes"><label class="noselect">Sent with (Freight type):</label>
              <select class="forminput-delivnotes2 selectdelivnotes" id="dnfreight" type="text">
                {% for x in Dict["freight"]%}
                <option value="{{x}}" {% if Dict["DN_Freight"].strip() == x.strip(): %}selected{% endif %}>{{Dict["freight"][x]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="formitem-delivnotes"><label class="noselect">Sent from:</label>
              <select class="forminput-delivnotes2 selectdelivnotes" id="dnoffice" type="text">
                {% for x in Dict["sentfrom"]%}
                <option value="{{Dict["sentfrom"][x]}}" {% if Dict["DN_Office"] == x: %}selected{% endif %}>{{Dict["sentfrom"][x]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="formitem-delivnotes"><label class="noselect">Price group:</label>
              <div>
                <select id="inputnum" class="forminput-delivnotes2 selectdelivnotes" type="text">
                  {% for x in Dict["pricegroup"]%}
                  <option value="{{x}}"{% if Dict["DN_Pricegroup"] == x %}selected{% endif %}>{{x}}: {{Dict["pricegroup"][x]}}</option>
                  {% endfor %}
                </select id="inputname" class="forminput-delivnotes2" type="text">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="bottompage-delivnotes">
        <div class="formitem-delivnotes"><label class="noselect">Notes:</label></div>
        <textarea spellcheck="false" class="forminput-delivnotes" id="textarea-delivnotes" form="form-delivnotes">{{Dict["notes"]}}</textarea>
      </div>
      <div>
        <table class="list-delivnotes">
          <thead>
            <tr class="header-delivnotes" id="header-parts">
              <th class="thpart-delivnotes noselect">Part #</th>
              <th class="thdesc-delivnotes noselect">Description</th>
              <th class="thserial-delivnotes noselect">Serial</th>
              <th class="thQTY-delivnotes noselect">QTY</th>
              <th id="thpricegroup-delivnotes" class="thpricegroup-delivnotes noselect">Pricegroup</th>
              <th class="thprice-delivnotes noselect">Price</th>

              <th class="thdiscount-delivnotes noselect">% Disc.</th>
              <th class="thnetvalue-delivnotes noselect">Netvalue</th>
              <th class="thtotal-delivnotes noselect">Total</th>
              <th class="thnocharge-delivnotes noselect">No charge</th>
              <th class="thbackorder-delivnotes noselect">Back order</th>
            </tr>
          </thead>
          <tbody class="tbody-delivnotes">
            {% for x in sqlq%}
            <tr class="row-delivnotes" onclick="" id="{{x[24]}}">
              <input type="hidden" name="id{{sqlq.index(x)}}" id="id{{sqlq.index(x)}}" class="forminput-delivnotes3" value="{{x[24]}}">
              <td class="thpart-delivnotes"><input onclick="this.select()" class="forminput-delivnotes3 numfoc" id="num{{sqlq.index(x)}}" class="" name="{{x[24]}}" value="{{x[5].strip()}}" onkeydown="delivpartselect({{sqlq.index(x)}},event,{{Dict['DN_Pricegroup']}})"></td>
              <td class="thdesc-delivnotes"><input onclick="this.select()" class="forminput-delivnotes3" id="nam{{sqlq.index(x)}}" name="{{x[24]}}" value="{{x[6].strip()}}" onkeydown="delivpartselect({{sqlq.index(x)}},event,{{Dict['DN_Pricegroup']}})"></td>
              <td class="thserial-delivnotes"><input class="forminput-delivnotes3" id="ser{{sqlq.index(x)}}" value="{{x[7].strip()}}"></td>
              <td class="thQTY-delivnotes"><input oninput="priceupdate('{{sqlq.index(x)}}');totalupdate('{{sqlq.index(x)}}');alltotal()" id="qty{{sqlq.index(x)}}" type="number" class="forminput-delivnotes3" value="{{x[8]}}"></td>
              <td class="thpricegroup-delivnotes">
                <select id="pg{{sqlq.index(x)}}" class="forminput-delivnotes3" onchange="setpricegroup({{sqlq.index(x)}});priceupdate('{{sqlq.index(x)}}');totalupdate('{{sqlq.index(x)}}');alltotal()" value="{{x[26]}}">
                  {% for y in pricegroups[sqlq.index(x)] %}
                    <option value="{{y}}: {{pricegroups[sqlq.index(x)][y]}}" {% if y == x[26] %} selected {% endif %}>{{y}}: {{pricegroups[sqlq.index(x)][y]}}</option>
                  {% endfor %}
                </select>
              </td>
              <td class="thprice-delivnotes"><input oninput="priceupdate('{{sqlq.index(x)}}');totalupdate('{{sqlq.index(x)}}');alltotal()" id="price{{sqlq.index(x)}}" type="number" class="forminput-delivnotes3" value="{{x[9]}}"></td>
              <script>
              if (document.getElementById('price{{sqlq.index(x)}}').value == '0.00'){
                    document.getElementById('price{{sqlq.index(x)}}').value = document.getElementById('pg{{sqlq.index(x)}}').options[document.getElementById('pg{{sqlq.index(x)}}').selectedIndex].value.split(": ")[1];
                    priceupdate('{{sqlq.index(x)}}');totalupdate('{{sqlq.index(x)}}');alltotal()
              }
              </script>
              <td class="thdiscount-delivnotes"><input oninput="priceupdate('{{sqlq.index(x)}}');totalupdate('{{sqlq.index(x)}}');alltotal()" id="dc{{sqlq.index(x)}}" style="text-align:center" class="forminput-delivnotes3" value="{{x[10]}}"></td>
              <td class="thnetvalue-delivnotes"><input oninput="totalupdate('{{sqlq.index(x)}}');alltotal()" id="net{{sqlq.index(x)}}" type="number" class="forminput-delivnotes3" readonly value="{{x[11]}}"></td>
              <td class="thtotal-delivnotes"><input id="tot{{sqlq.index(x)}}" type="number" class="forminput-delivnotes3" readonly value="{{x[12]}}"></td>
              <td class="thnocharge-delivnotes" onclick="this.children[0].click()"><input class="forminput-delivnotes3" id="noc{{sqlq.index(x)}}" type="checkbox" {% if x[13] == 1 %}checked{% endif %}></td>
              <td class="thbackorder-delivnotes" onclick="this.children[0].click()"><input class="forminput-delivnotes3" id="bao{{sqlq.index(x)}}" type="checkbox" {% if x[18] == 1 %}checked{% endif %}></td>
              <td><a style="cursor:pointer" onclick="if(confirm('Are you sure you want to remove {{x[6].strip()}}?')){remdelunit('{{x[24]}}')}"><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/remove.png"></a></td>
          </tr>
            {% endfor %}
          </tbody>
          <script src="static/partsearch.js"></script>
        </table>
        <div class="controllpanel-delivnote">
          <div class="buttons-delivnote">
            <div class="button-delivnote"><a onclick="newunit()"><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/add.png"></a></div>
            <!--<div class="button-delivnote"><a href="delivnotes"><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/remove.png"></a></div>-->
          </div>
          <div class="ordersum-delivnote">
            <div><label class="noselect">Order Total: </label><input readonly id="alltotal" class="ordersumnum-delivnote forminput-delivnotes" type="number" value=""></div>
            <div><label class="noselect"><input type="checkbox" {% if Dict["DN_Closed"] == 1 %}checked{% endif %} value="1" id="dnclosed">Order Shipped</label></div>
          </div>
        </div>
        <div class="buttonsbar">
          <div class="delivfirstcontrols">
            <a href="/delivnotes?dn={{min}}"><img class="noselect" src="./static/pictures/{{theme}}/bigthiccarrowleft.png"></a>
            <a href="/delivnotes?dn={{previous}}"><img class="noselect" src="./static/pictures/{{theme}}/thiccarrowleft.png"></a>
            <a href="/delivnotes?dn={{next}}"><img class="noselect" src="./static/pictures/{{theme}}/thiccarrowright.png"></a>
            <a href="/delivnotes?dn={{max}}"><img class="noselect" src="./static/pictures/{{theme}}/bigthiccarrowright.png"></a>
          </div>
          <div class="buttonbarigen">
          <!--<a href="delivnotes" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/open.png"><p>Open</p></a>-->
          <a href="/newdeliverynote" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/new.png" alt="Ctrl + M"><p>New</p></a>
          <a href="/copydelivery/{{delivnote}}" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/copy.png"><p>Copy</p></a>
          <a onclick="if(confirm('Are you sure you want to delete this record?')){window.location.href='/deletedeliverynote/{{delivnote }}'}" class="buttonsbar-item-delivnotes" id="deletedeliv"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/wastebin.png"><p>Delete</p></a>
          <a href="delivnotes?dn={{delivnote}}" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/undo.png"><p>Undo</p></a>
          <a onclick="savedel()" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/save.png"><p>Save</p></a>
          <a {% if delivnote %}href="mailto:lager@nisse.se?subject=Delivery note # {{delivnote}}  Customer: {{Dict["storenum"]}}  {{Dict["storename"]}}&body={{mailbody}}"{% endif %} class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/mail.png"><p>Mail</p></a>
          <!--<a href="delivnotes" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/label.png"><p>Label</p></a>-->
          <a id="printbutton" href="/pdffile?dn={{delivnote}}" class="buttonsbar-item-delivnotes"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/print.png"><p>Print</p></a>
        </div>
        </div>
      </div>
    </div>
    <div id="statusmsg">
      Delivery note saved!
    </div>
    <script src="/static/delivery.js"></script>
    <script src="/static/mobile.js"></script>
  </body>
</html>
