<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake | Delivery Notes</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/delivnotes.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="navin">
      <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitemin active" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    </div>
    <div class="mainwrapdelivnotes">
      <h1 class="noselect">Delivery Notes</h1>
      <div>
        <div class="delivnote-deliv"><label>Delivery note #:</label><input id="delivnote-number" class="forminput-delivnotes" type="number" value="1337"></div>
        <div class="formitem-delivnotes offers-delivnotes">
          <label>Offer</label><input type="checkbox">
          <label>Finalized Offer</label><input type="checkbox">
        </div>
      </div>
      <div class="toppage-delivnotes">
        <div class="toppageleft-delivnotes">
          <form class="form-delivnotes" name="form-delivnotes">
            <div class="formitem-delivnotes"><label>Store #:</label><input class="forminput-delivnotes" type="text"></div>
            <div class="formitem-delivnotes"><label>Ref:</label><input class="forminput-delivnotes" type="text"></div>
            <div class="formitem-delivnotes"><label>Name:</label><input class="forminput-delivnotes" type="text"></div>
            <div class="formitem-delivnotes"><label>Address:</label><input class="forminput-delivnotes" type="text"></div>
            <div class="formitem-delivnotes"><label>ZIP/City:</label><div><input id="ZIP" class="forminput-delivnotes" type="text"><input id="City" class="forminput-delivnotes" type="text"></div></div>
          </form>
        </div>
        <div class="toppageright">
          <form class="form-delivnotes" name="form-delivnotes2">
            <div class="formitem-delivnotes"><label>Date:</label><input class="forminput-delivnotes2" type="text"></div>
            <div class="formitem-delivnotes"><label>Sign:</label>
              <select class="forminput-delivnotes2 selectdelivnotes" type="text">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
            <div class="formitem-delivnotes"><label>Sent with (Freight type):</label>
              <select class="forminput-delivnotes2 selectdelivnotes" type="text">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
            <div class="formitem-delivnotes"><label>Sent from:</label>
              <select class="forminput-delivnotes2 selectdelivnotes" type="text">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
            <div class="formitem-delivnotes"><label>Price group:</label>
              <div>
                <select id="inputnum" class="forminput-delivnotes2 selectdelivnotes" type="text">
                  <option value=""></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select id="inputname" class="forminput-delivnotes2" type="text">
                <input class="forminput-delivnotes2" type="text">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="bottompage-delivnotes">
        <div class="formitem-delivnotes"><label>Notes:</label></div>
        <textarea class="forminput-delivnotes" id="textarea-delivnotes" form="form-delivnotes"></textarea>
      </div>
      <div>
        <table class="list-delivnotes">
          <thead>
            <tr class="header-delivnotes" id="header-parts">
              <th class="thpart-delivnotes">Part #</th>
              <th class="thdesc-delivnotes">Description</th>
              <th class="thserial-delivnotes">Serial</th>
              <th class="thQTY-delivnotes">QTY</th>
              <th id="thpricegroup-delivnotes" class="thpricegroup-delivnotes">Pricegroup</th>
              <th class="thprice-delivnotes">Price</th>

              <th class="thdiscount-delivnotes">% Disc.</th>
              <th class="thnetvalue-delivnotes">Netvalue</th>
              <th class="thtotal-delivnotes">Total</th>
              <th class="thnocharge-delivnotes">No charge</th>
              <th class="thbackorder-delivnotes">Back order</th>
              <th class="thdelivdate-delivnotes">Deliv.date</th>
            </tr>
          </thead>
          <tbody class="tbody-delivnotes">
            <tr class="row-delivnotes" onclick="" id="">
              <td class="thpart-delivnotes"><p>Ball</p></td>
              <td class="thdesc-delivnotes"><p>Ball</p></td>
              <td class="thserial-delivnotes"><p>Ball</p></td>
              <td class="thQTY-delivnotes"><p>Ball</p></td>
              <td class="thpricegroup-delivnotes"><p>McDonalds</p></td>
              <td class="thprice-delivnotes"><p>Ball</p></td>
              <td class="thdiscount-delivnotes"><p>Ball</p></td>
              <td class="thnetvalue-delivnotes"><p>22022</p></td>
              <td class="thtotal-delivnotes"><p>33033</p></td>
              <td class="thnocharge-delivnotes"><input type="checkbox"></td>
              <td class="thbackorder-delivnotes"><input type="checkbox"></td>
              <td class="thdelivdate-delivnotes"><p>Ball</p></td>
            </tr>
          </tbody>
          <script src="static/partsearch.js"></script>
        </table>
        <div class="controllpanel-delivnote">
          <div class="buttons-delivnote">
            <div class="button-delivnote"><a href="delivnotes"><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/add.png"></a></div>
            <div class="button-delivnote"><a href="delivnotes"><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/remove.png"></a></div>
          </div>
          <div class="ordersum-delivnote">
            <div><label>Order Total: </label><input class="ordersumnum-delivnote forminput-delivnotes" type="number"></div>
            <div><input type="checkbox"><label>Order Shipped</label></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
