<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEBSTAT | Import</title>
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/settings.css">
  <link rel="stylesheet" href="static/{{theme}}.css">
  <link rel="icon" href="./static/pictures/icon.ico">
</head>
<body>
  <div class="mobilehead" style="display:none;z-index:100000;">
    <div class="hamham" onclick="hamburger()" >
      <div id="hamtop" style="left:15px"></div>
      <div id="hammid" ></div>
      <div id="hambot" style="left:15px"></div>
    </div>
    <div id="menudim" onclick="hamburger()" style="opacity:0;display:none"></div>
  </div>
  <div class="navin">
    {% if usrtech == 1 %}
    <div class="navitemin" id="lvl3"><div id="userstatuscolor" style="background:{{usrstatus}}" ><img src="../static/pictures/{{theme}}/L3.png"></div><a id="l3" href="/lvl3status">L3 Status</a><input type="hidden" id="usrstat" value=""></div>
    {% endif %}    <a class="navitemin " href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
    <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
    <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
    <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
    <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
    <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
    <a class="navitemin active" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    <a id="navlogo" href="/landing"><img id="navlogoimg" src="/static/pictures/logo.png"></a>
  </div>
  <div class="mainwrapsettings">
    <h1 class="noselect settingsheader">Import external data</h1>

    <div class="">
      <form method='POST' class="importform">
        <input type="text" id="pathtext" name="path" value="{{currentPath}}" onclick="this.select()">
        <input type="submit" id="pathsubmit" value="Save path">
      </form>
      {% if fileexist %}
      <p>{{fileexist}}</p>
      {% endif %}
      <div class="importnow" style="margin-top:10px">
        <button autofocus id="import" class="importnow" onclick="importdata()">
          Import now
        </button>
      </div>
      <p id="info" style="padding:5px 0 0 5px"></p>
      <p id="imac" style="padding:5px 0 0 5px"></p>
      <p id="imin" style="padding:5px 0 0 5px"></p>
      <p id="imne" style="padding:5px 0 0 5px;width:300px"></p>
    </div>
    <script>

      function importdata(){
        var fd = new FormData();
        var info = document.getElementById('info');
        var done = false;

        info.textContent = "Importing."

        setInterval(function(){
          if(done){

          }
          else if(info.textContent == "Importing."){
            info.textContent = "Importing.."
          }else if(info.textContent == "Importing.."){
            info.textContent = "Importing..."
          }else{
            info.textContent = "Importing."
          }
        },600)

        var xhttp = new XMLHttpRequest();
        var partparts = "parts";

        xhttp.onload = function(){
          done = true;
          if(this.responseText != "No file"){
            var c = this.responseText.split("%%");
            info.textContent = "Import successful";
            document.getElementById("imac").textContent = "Active: " + c[0];
            document.getElementById("imin").textContent = "Inactive: " + c[2];
            if(c[1] == "1"){
              partparts = "part";
            }else if(c[1] == "0"){
              document.getElementById("imne").textContent = "No new parts"
            }else{
              document.getElementById("imne").textContent = c[1] +" new "+partparts+": "+ c[3].substring(0,c[3].length-1).replaceAll('\t', ', ');
            }
          }else{
            info.textContent = this.responseText
          }
        }

        xhttp.open("POST","/importDo",true);
        xhttp.send(fd);
      }
    </script>
  </div>
  <script src="/static/mobile.js"></script>
</body>
</html>
