<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
  </head>
  <body>
    <div class="navin">
      <div class="navitemin"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></div>
      <div class="navitemin"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></div>
      <div class="navitemin"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></div>
      <div class="navitemin"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></div>
      <div class="navitemin"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></div>
      <div class="navitemin"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></div>
      <div class="navitemin"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></div>
    </div>
    <div class="theme" onclick="document.cookie = 'theme = {{notheme}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()">
      <img src="static/pictures/{{theme}}.png">
      <img src="static/pictures/{{notheme}}.png">
    </div>
  </body>
</html>
