<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IR | #{{irnumber}}</title>
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/ir.css">
  <link rel="stylesheet" href="static/{{theme}}.css">
  <link rel="icon" href="./static/pictures/icon.ico">
</head>
<form id="allform" action="javascript:">
<body>
  <div class="mobilehead" style="display:none;z-index:100000;">
    <div class="hamham" onclick="hamburger()" >
      <div id="hamtop" style="left:15px"></div>
      <div id="hammid" ></div>
      <div id="hambot" style="left:15px"></div>
    </div>
    <div id="menudim" onclick="hamburger()" style="opacity:0;display:none"></div>
  </div>
  <div class="navin">
    <a class="navitemin noselect" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
    <a class="navitemin noselect" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
    <a class="navitemin noselect" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
    <a class="navitemin active noselect" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
    <a class="navitemin noselect" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
    <a class="navitemin noselect" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
    <a class="navitemin noselect" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    <a id="navlogo" href="/landing"><img id="navlogoimg" src="/static/pictures/logo.png"></a>
  </div>

  <input type="hidden" id="idOfPart" value="">
  <div class="partselect" id="partselect" style="display:none">
  </div>

  <div class="mainwrapir">
    <h1 class="noselect">IR</h1>
    <div class="toppage-ir">
      <div class="toppageleft-ir">
        <div class="ircustid">
            <div class="formitem-ir"><label class="noselect">IR #:</label><input id="irirn" class="forminput-ir" name="ir" type="number" autofocus value="{{irnumber}}"></div>
            <input type="submit" style="display:none">
          {% if error  %}
          <p id="irerror" class="noselect">{{error}}</p>
          {% endif %}
          <script>
          document.cookie = "lastir = {{irnumber}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;";
          </script>
            <div class="formitem-ir"><label class="noselect">Cust.:</label><input onclick="this.select()" name="ircustid" id="ircusn" class="forminput-ir" type="text" value="{{customer[0].strip()}}"></div>
            {% if customers !=  []%}
            <div class="irdropblack" onclick="window.location.replace('/ir')">
            </div>
            <div class="ircustdrop">
              {% for x in customers %}
              <div onclick="document.getElementById('ircusn').value='{{x["id"].strip()}}';document.getElementById('custform').submit()">
                <p class="custdropnumber">{{x["id"]}}</p><p>{{x["type"]}} {{x["name"]}}</p>
              </div>
              {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="formitem-irstatus"><label class="noselect">IR Status:</label><select id="irclosed" class="forminput-ir" style="width: 210px;" type="text" name="status-ir">
          <option value="0" {% if irinfo[12] == 0%} selected {% endif %}>Not Recieved</option>
          <option value="2" {% if irinfo[12] == 2%} selected {% endif %}>Recieved</option>
          <option value="3" {% if irinfo[12] == 3%} selected {% endif %}>In process</option>
          <option value="4" {% if irinfo[12] == 4%} selected {% endif %}>Finished</option>
          <option value="1"  {% if irinfo[12] == 1%} selected {% endif %}>Returned</option>
        </select></div>

      </div>
      <div class="toppageright2-ir">
          <div class="formitem-ir"><label class="noselect">Name:</label><input readonly class="forminput-ir nameaddr" type="text" value="{{customer[2].strip()}}"></div>
          <div class="formitem-ir"><label class="noselect">Address:</label><input readonly class="forminput-ir nameaddr" type="text" value="{{customer[3].strip()}}"></div>
          <div class="formitem-ir"><label class="noselect">Zip/City:</label><div><input readonly id="irzip" class="forminput-ir" type="text" value="{{customer[5].strip()}}"><input readonly id="ircity" class="forminput-ir" type="text" value="{{customer[6].strip()}}"></div></div>
      </div>
      <div class="toppageright-ir">
          <div class="formitem-ir"><label class="noselect">Owner:</label><input class="forminput-ir" type="text" readonly value="{{customer[9].strip()}}"></div>
          <div style="" class="formitem-ir"><label class="noselect">Phone:</label><input class="forminput-ir" type="text" readonly value="{{customer[10].strip()}}"></div>
      </div>
    </div>

    <div class="toppage2-ir">
      <div class="toppageleft2-ir">
          <div class="formitem-ir"><label class="noselect">Open Date:</label><input id="iropendate" type="date" {% if found%} value="{{irinfo[2].strftime("%Y-%m-%d")}}" {% endif %}></div>
          <div class="formitem-ir"><label class="noselect">Sign.:</label>
            <select class="forminput-ir" id="techid" style="width: 168px;" type="text" name="sign-ir" >
              <option value="{{user}}" selected hidden>{{user}}</option>
              {% for x in techs %}
              <option value="{{x[0]}}" {% if x[0] == irinfo[13] %} selected {% endif %}>{{x[0]}}</option>
              {% endfor %}
            </select>
          </div>
      </div>
      <div class="2toppageright-ir">
          <div class="formitem-ir"><label class="noselect">Arrival:</label>
            <input ondblclick="setday(irredate)" type="date"  id="irredate" {% if irinfo[3]%} value="{{irinfo[3].strftime("%Y-%m-%d")}}" {% endif %}>
          </div>
          <div class="formitem-ir"><label class="noselect">Sent with (freight type):</label>
            <select class="forminput-ir" id="irinfreight" style="width: 168px;" type="text" name="sent-ir">
              <option value="2" selected hidden>POSTEN 16:00</option>
              {% for x in freight %}
              <option value="{{x[0]}}" {% if irinfo[10] == x[0] %}selected{% endif %}>{{x[1]}}</option>
              {% endfor %}
            </select></div>
            <div class="formitem-ir"><label class="noselect">Repair Location:</label>
              <select class="forminput-ir" id="irloc" style="width: 168px;" type="text" name="repairlocation-ir">
                {% for x in office %}
                <option value="{{x[0]}}">{{x[1]}}</option>
                {% endfor %}
              </select>
          </div>
        </div>
        <div class="toppagemiddle2-ir">
            <div class="formitem-ir irnotediv"><label class="noselect">Notes:</label><textarea id="irnotefield" class="forminput-ir" type="text" spellcheck="false">{% if irinfo[9] %}{{irinfo[9].strip()}} {% endif %}</textarea></div>
          {% for n in wo %}
          <div class="formitem-ir irrepact repdiv {{wo.index(n)}}repact" ><label class="noselect">Reported Problem:</label><textarea tabindex="1" spellcheck="false" name="{{wo.index(n)}}reported" class="forminput-ir reporttextarea" type="text" >{{n[7]}}</textarea></div>
          {% endfor %}
        </div>
      </div>
      <div class="middlepage-ir">
        <div class="tabell-ir">
          <table class="list-receivedunits">
            <thead>
              <tr class="header-ir" id="header-ir">
                <th class="thtype-ir">Type:</th>
                <th class="thmanufact-ir">Manufact.:</th>
                <th class="thmodel-ir">Model:</th>
                <th class="thserial-ir">Serial:</th>
                <th class="thcharge-ir">Charge:</th>
              </tr>
            </thead>
            <tbody class="whatabody-ir">
              {% for n in wo %}
              <input type="hidden" name="{{wo.index(n)}}irwoid" id="{{wo.index(n)}}id" value="{{n[18]}}">
              <tr class="row-ir" onclick="changerepact('{{wo.index(n)}}repact')" id="{{n[18]}}id">
                <td class="thtype-ir">
                  <select class="irtypedrop" name="{{wo.index(n)}}type" id="{{wo.index(n)}}type">
                    <option value="" selected hidden></option>
                    {% for x in types %}
                    <option value="{{x[0].strip()}}" {% if x[0].strip() == n[3].strip() %} selected {% endif %}>{{x[0]+"   "+x[1]}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td class="thmanufact-ir">
                  <select class="irvenddrop" name="{{wo.index(n)}}vendor" id="{{wo.index(n)}}vendor">
                    <option value="" selected hidden></option>
                    <option value="QD">QD</option>
                    {% for x in manufact %}
                    <option value="{{x[0].strip()}}" {% if x[0].strip() == n[4].strip() %} selected {% endif %}>{{x[0]}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td class="thmodel-ir">
                  <select class="irmodeldrop" name="{{wo.index(n)}}model" onchange="update(this.value)">
                    <option value="" selected hidden></option>
                    {% for x in models %}
                    <option value="{{x[0]+"%"+x[2]+"%"}}{{wo.index(n)}}%{{x[1]}}" {% if x[1].strip() == n[5].strip() %} {% set found = True %}selected {% endif %}>{{x[1]}}</option>
                    {% endfor %}
                    {% if n[5] not in models and not found%}
                    <option value="%%{{wo.index(n)}}" selected>{{n[5].strip()}}</option>
                    {% endif %}
                  </select>
                </td>
                <td class="thserial-ir"><input id="partserialir" name="{{wo.index(n)}}serial" value="{{n[6].strip()}}"></td>
                <td class="thcharge-ir">
                  <select class="irchargedrop" name="{{wo.index(n)}}charge">
                    <option value="" selected hidden></option>
                    {% for x in charge %}
                    <option value="{{x[0]}}" {% if x[0] == n[12] and n[12] != 0 %} selected {% endif %}>{{x[1]}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td class="irunitselect" id="{{wo.index(n)}}button">
                  <input type="button" class="selectbutton" name="" value="Select">
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          <div class="addremirpart">
            <div class="button-delivnote"><a onclick="savenewunit('{{irinfo[0]}}')"><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/add.png"></a></div>
            <div class="button-delivnote"><a id="irunitremove" ><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/remove.png"></a></div>
          </div>
        </div>

        <div class="middlemiddlepage-ir">
          {% for n in wo %}
          <div class="formitem-ir irrepact {{wo.index(n)}}repact"><label class="noselect">Action/Repair:</label><textarea tabindex="2" class="forminput-ir actiontextarea" name="{{wo.index(n)}}action" type="text" >{{n[8]}}</textarea></div>
          {% endfor %}
        </div>
      </div>



      <div class="bottompage-ir">
        <div>
          <table class="list-spareparts-ir">
            <thead>
              <tr class="header-ir" id="header2-ir">
                <th class="thpart-ir">Part #</th>
                <th class="thdesc-ir">Description</th>
                <th class="thprice-ir">Price</th>
                <th class="thqty-ir">QTY</th>
                <th class="thcharge2-ir">Charge</th>
                <th class="thmodel2-ir">Model</th>
                <th class="thserial2">Serial</th>
              </tr>
            </thead>
              <input type="hidden" name="irnumber" value="{{irnumber}}">
              <input type="hidden" name="ircustomer" value="{{customer[0].strip()}}">
              <tbody class="tbody-ir irparttable">
                {% for n in parts %}
                <input type="hidden" name="{{parts.index(n)}}spareid" value="{{n[15]}}">
                <tr class="row-ir" onclick="selectspare('{{n[15]}}')" id="list2-ir{{n[15]}}">
                  <td class="thpart-ir "><input class="irpartno" type="text" id="{{parts.index(n)}}num" name="{{parts.index(n)}}sparenumber" {%if n[4] %} value="{{n[4].strip()}}" {% endif %} onkeydown="irpartselect({{parts.index(n)}},event,'1')"></td>
                  <td class="thdesc-ir"><input class="irpartde" type="text" id="{{parts.index(n)}}nam" name="{{parts.index(n)}}sparedesc" {%if n[5] %} value="{{n[5].strip()}}" {% endif %} onkeydown="irpartselect({{parts.index(n)}},event,'1')"></td>
                  <td class="thprice-ir"><input class="irpartpr" type="text" id="price{{parts.index(n)}}" name="{{parts.index(n)}}spareprice" {%if n[8] %} value="{{n[8]}}" {% endif %}></td>
                  <td class="thqty-ir"><input class="irpartqt" type="number" id="qty{{parts.index(n)}}" name="{{parts.index(n)}}spareqty" {%if n[6] %} value="{{n[6]}}" {% endif %}></td>
                  <td class="thcharge2-ir">
                    <select class="irchargedrop irpartch" name="{{parts.index(n)}}sparecharge">
                      <option value="" selected hidden></option>
                      {% for x in charge %}

                      <option value="{{x[0]}}" {%if n[9] %} {% if x[0] == n[9] and n[9] != 0 %} selected {% endif %} {% endif %}>{%if n[1] %} {{x[1].strip()}} {% endif %}</option>
                      {% endfor %}
                    </select></td>
                    <td class="thmodel2-ir"><input readonly class="irpartmo" type="text" name="{{parts.index(n)}}sparemodel" {%if n[2] %} value="{{n[2].strip()}}" {% endif %}></td>
                    <td class="thserial2"><input onclick="this.select()" class="irpartse" type="text" name="{{parts.index(n)}}spareserial" {%if n[3] %} value="{{n[3].strip()}}" {% endif %}></td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            <div class="addremirpart">
              <div class="ir-add" ><a id="ir-add"><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/add.png"></a></div>
              <div class="ir-rem"><a id="ir-rem"><img class="buttonpic-delivnote" src="static/pictures/{{theme}}/remove.png"></a></div>
            </div>
          </div>
          <div class="bottommiddle-ir">
              <div class="formitem-ir"><label class="noselect">Repaired by:</label>
                <select class="forminput-ir" id="irrepairid" style="width: 168px;" type="text" name="repairby-ir">
                  <option value="" selected hidden></option>
                  {% for x in techs %}
                  <option value="{{x[0]}}" {% if x[0] == irinfo[5] %} selected {% endif %}>{{x[0]}}</option>
                  {% endfor %}
                </select></div>
                <div class="formitem-ir"><label class="noselect">Return freight:</label>
                  <select class="forminput-ir" id="irrefreight" style="width: 168px;" type="text" name="returnfreight-ir">
                    {% for x in freight %}
                    <option value="{{x[0]}}" {% if irinfo[11] == x[0] %}selected{% endif %}>{{x[1]}}</option>
                    {% endfor %}
                  </select></div>
                  <div class="formitem-ir"><label class="noselect">Return:</label>
                    <input ondblclick="setday(irshipdate)" class="forminput-ir" id="irshipdate" type="date" name="return-ir" {% if irinfo[4]%} value="{{irinfo[4].strftime("%Y-%m-%d")}}" {% endif %}></div>
                </div>
              </div>
              <!---
              <div class="rightpage-ir">
              <div class="listright-ir">
              <table class="list-ir">
              <thead>
              <tr class="header-ir" id="header3-ir">
              <th class="thpart2-ir">Part #</th>
              <th class="thpartdesc-ir">Part Description</th>
              <th class="thunit-ir">Unit</th>
            </tr>
          </thead>
          <tbody class="tbody-ir">
          <tr class="row-ir" onclick="" id="list3-ir">
          <td class="thpart2-ir">BALL</td>
          <td class="thpartdesc-ir">BALL</td>
          <td class="thunit-ir">BALL</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->

<div class="ircontrols">
  <div class="irfirstcontrols">
    <a href="/ir?ir={{min}}"><img class="noselect" src="./static/pictures/{{theme}}/bigthiccarrowleft.png"></a>
    <a href="/ir?ir={{previous}}"><img class="noselect" src="./static/pictures/{{theme}}/thiccarrowleft.png"></a>
    <a href="/ir?ir={{next}}"><img class="noselect" src="./static/pictures/{{theme}}/thiccarrowright.png"></a>
    <a href="/ir?ir={{max}}"><img class="noselect" src="./static/pictures/{{theme}}/bigthiccarrowright.png"></a>
    <div class="nextdateno">
      <div class="noselect" onclick="document.getElementById('irsortdate').checked = true;document.cookie = 'irsort = date; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/';location.reload()"><label class="noselect">Date order</label><input id="irsortdate" type="radio" name="nexttype" {% if sortmode == "date" or sortmode == None %}checked{% endif %}></div>
      <div class="noselect" onclick="document.getElementById('irsortno').checked = true;document.cookie = 'irsort = no; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/';location.reload()"><label class="noselect">IR #</label><input id="irsortno" type="radio" name="nexttype" {% if sortmode == "no" %} checked {% endif %}></div>
    </div>
  </div>
  <div class="ircontrolbuttons">
    <!--<a href="delivnotes" class="buttonsbar-item-ir"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/open.png"><p>Open</p></a>-->
    <a href="/newir" class="buttonsbar-item-ir"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/new.png"><p>New</p></a>
    <a onclick="if(confirm('Are you sure you want to delete this record?')){window.location.href='/delir'}" class="buttonsbar-item-ir"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/wastebin.png"><p>Delete</p></a>
    <a href="/ir" class="buttonsbar-item-ir"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/undo.png"><p>Undo</p></a>
    <a onclick="saveall()" class="buttonsbar-item-ir"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/save.png"><p>Save</p></a>
    <a href="delivnotes" class="buttonsbar-item-ir"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/mail.png"><p>Mail</p></a>
    <a href="/pdffile2?ir={{irnumber}}" class="buttonsbar-item-ir"><img class="buttonbarpic-delivnotes" src="static/pictures/{{theme}}/print.png"><p>Print</p></a>
  </div>
</div>
</div>
  <input id="saveirirn" name="saveirirn" value="" type="hidden">
  <input id="saveircusn" name="saveircusn" value="" type="hidden">
  <input id="saveiropendate" name="saveiropendate" value="" type="hidden">
  <input id="saveirredate" name="saveirredate" value="" type="hidden">
  <input id="saveirshipdate" name="saveirshipdate" value="" type="hidden">
  <input id="saveirrepairid" name="saveirrepairid" value="" type="hidden">
  <input id="saveirnotefield" name="saveirnotefield" value="" type="hidden">
  <input name="saveccl" value="0" type="hidden">
  <input name="saveonsite" value="0" type="hidden">
  <input id="saveirinfreight" name="saveirinfreight" value="" type="hidden">
  <input id="saveirrefreight" name="saveirrefreight" value="" type="hidden">
  <input id="saveirclosed" name="saveirclosed" value="" type="hidden">
  <input id="savetechid" name="savetechid" value="" type="hidden">
  <input id="saveirloc" name="saveirloc" value="" type="hidden">
</body>
<div id="statusmsg">
  Report saved!
</div>
</form>
<script src="./static/irjs.js"></script>
<script src="/static/mobile.js"></script>
<script src="/static/saveir.js"></script>
<script>
if (document.getElementById('iropendate').valueAsDate == null){
  document.getElementById('iropendate').valueAsDate = new Date();
}
</script>
</html>
