<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bake | IR</title>
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/ir.css">
  <link rel="stylesheet" href="static/{{theme}}.css">
  <link rel="icon" href="./static/pictures/icon.ico">
</head>
<body>
  <div class="navin">
    <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
    <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
    <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
    <a class="navitemin active" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
    <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
    <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
    <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
  </div>
  <div class="mainwrapir">
    <h1 class="noselect">IR</h1>
    <div class="toppage-ir">
      <div class="toppageleft-ir">
        <form class="form-ir" name="form-top-ir">
          <div class="formitem-ir"><label>IR #:</label><input class="forminput-ir" type="text" readonly></div>
          <div class="formitem-ir"><label>Open IR #:</label><select class="forminput-ir" style="width: 210px;" type="text" name="status-ir">
            <option value="0"></option>
            <option value="valuehere">Det ska vara saker här</option>
          </select><input class="forminput-ir" type="text" name="status-ir"></div>
        </form>
      </div>
      <div class="toppageleft2-ir">
        <form class="form-ir" name="form-top-ir2">
          <div class="formitem-ir"><label>Cust.:</label><input class="forminput-ir" type="text" readonly></div>
          <div class="formitem-ir"><label>IR Status:</label><select class="forminput-ir" style="width: 210px;" type="text" name="status-ir">
            <option value="Returned"></option>
            <option value="valuehere">Det ska vara saker här</option>
          </select><input class="forminput-ir" type="text" name="status-ir"></div>
        </form>
      </div>
      <div class="toppageright2-ir">
        <form class="form-ir" name="form-top-ir3">
          <div class="formitem-ir"><label>Name:</label><input class="forminput-ir" type="text" readonly></div>
          <div class="formitem-ir"><label>Address:</label><input class="forminput-ir" type="text" readonly></div>
          <div class="formitem-ir"><label>Zip/City:</label><input class="forminput-ir" type="text" readonly><<input class="forminput-ir" type="text" readonly></div>
        </form>
      </div>
      <div class="toppageright-ir">
        <form class="form-ir" name="form-top-ir4">
          <div class="formitem-ir"><label>Owner:</label><input class="forminput-ir" type="text" readonly></div>
          <div class="formitem-ir"><label>Phone:</label><input class="forminput-ir" type="text" readonly></div>
        </form>
      </div>
    </div>
    <div class="2toppage-ir">
      <div class="2toppageleft-ir">
        <form class="form-ir" name="form-2top-ir">
          <div class="formitem-ir"><label>Open Date:</label><select class="forminput-ir" style="width: 210px;" type="text" name="opendate-ir">
            <option value=""></option>
            <option value="valuehere">Det ska vara saker här</option>
          </select><input class="forminput-ir" type="text" name="opendate-ir"></div>
          <div class="formitem-ir"><label>Sign.:</label><select class="forminput-ir" style="width: 210px;" type="text" name="sign-ir">
            <option value=""></option>
            <option value="valuehere">Det ska vara saker här</option>
          </select><input class="forminput-ir" type="text" name="sign-ir"></div>
        </form>
      </div>
      <div class="2toppagemiddle-ir">
        <form class="form-ir" name="form-2top-ir">
          <div class="formitem-ir"><label>Notes:</label><input class="forminput-ir" type="text"></div>
        </form>
      </div>
      <div class="2toppageright-ir">
        <form class="form-ir" name="form-2top-ir">
          <div class="formitem-ir"><label>Arrival:</label><select class="forminput-ir" style="width: 210px;" type="text" name="arrival-ir">
            <option value=""></option>
            <option value="valuehere">Det ska vara saker här</option>
          </select><input class="forminput-ir" type="text" name="arrival-ir"></div>
          <div class="formitem-ir"><label>Sent with (freight type):</label><select class="forminput-ir" style="width: 210px;" type="text" name="sent-ir">
            <option value=""></option>
            <option value="valuehere">Det ska vara saker här</option>
          </select><input class="forminput-ir" type="text" name="sent-ir"></div>
          <div class="formitem-ir"><label>Repair Location:</label><select class="forminput-ir" style="width: 210px;" type="text" name="repairlocation-ir">
            <option value="Linköping"></option>
            <option value="valuehere">Det ska vara saker här</option>
          </select><input class="forminput-ir" type="text" name="repairlocation-ir"></div>
        </form>
      </div>
    </div>
    <div class="middlepage-ir">
      <div class="tabell-ir">
        <table class="list-receivedunits">
          <thead>
            <tr class="header-ir" id="header-ir">
              <th class="thtype-ir">Type:</th>
              <th class="thmanufact-ir">Manufact.:</th>
              <th class="thmodel-ir">Model:</th>
              <th class="thserial-ir">Serial:</th>
              <th class="thcharge-ir">Charge:</th>
              <th class="thnotes-ir">Notes</th>
            </tr>
          </thead>
          <tbody class="whatabody-ir">
            <tr class="row-ir" onclick="">
              <td class="thtype-ir">Pen</td>
              <td class="thmanufact-ir">Pen</td>
              <td class="thmodel-ir">Pen</td>
              <td class="thserial-ir">Pen</td>
              <td class="thcharge-ir">Pen</td>
              <td class="thnotes-ir">Pen</td>
            </tr>
            <tr class="row-ir" onclick="">
              <td class="thtype-ir">Pen</td>
              <td class="thmanufact-ir">Pen</td>
              <td class="thmodel-ir">Pen</td>
              <td class="thserial-ir">Pen</td>
              <td class="thcharge-ir">Pen</td>
              <td class="thnotes-ir">Pen</td>
            </tr>
            <tr class="row-ir" onclick="">
              <td class="thtype-ir">Pen</td>
              <td class="thmanufact-ir">Pen</td>
              <td class="thmodel-ir">Pen</td>
              <td class="thserial-ir">Pen</td>
              <td class="thcharge-ir">Pen</td>
              <td class="thnotes-ir">Pen</td>
            </tr>
            <tr class="row-ir" onclick="">
              <td class="thtype-ir">Pen</td>
              <td class="thmanufact-ir">Pen</td>
              <td class="thmodel-ir">Pen</td>
              <td class="thserial-ir">Pen</td>
              <td class="thcharge-ir">Pen</td>
              <td class="thnotes-ir">Pen</td>
            </tr>
          </tbody>
        </div>
        <div class="middlemiddlepage-ir">
          <form class="form-ir" name="form-middle-ir">
            <div class="formitem-ir"><label>Reported Problem:</label><input class="forminput-ir" type="text" readonly></div>
            <div class="formitem-ir"><label>Action/Repair:</label><input class="forminput-ir" type="text" readonly></div>
          </form>
        </div>
      </div>
      <div class="bottompage-ir">
        <div>
          <table class="list-spareparts-ir">
            <thead>
              <tr class="header-ir" id="header2-ir">
                <th class="thpart-ir">Part #</th>
                <th class="thdesc-ir">Description</th>
                <th class="thprice-ir">Price</th>
                <th class="thqty-ir">QTY</th>
                <th class="thcharge2-ir">Charge</th>
                <th class="thmodel2-ir">Model</th>
                <th class="thserial2">Serial</th>
              </tr>
            </thead>
            <tbody class="tbody-ir">
              <tr class="row-ir" onclick="" id="list2-ir">
                <td class="thpart-ir">BALL</td>
                <td class="thdesc-ir">BALL</td>
                <td class="thprice-ir">BALL</td>
                <td class="thqty-ir">BALL</td>
                <td class="thcharge2-ir">BALL</td>
                <td class="thmodel2-ir">BALL</td>
                <td class="thserial2">BALL</td>
              </tr>
            </tbody>
          </div>
          <div class="bottommiddle-ir">
            <form class="form-ir" name="form-ir">
              <div class="formitem-ir"><label>Repaired by:</label><select class="forminput-ir" style="width: 210px;" type="text" name="repairby-ir">
                <option value=""></option>
                <option value="valuehere">Det ska vara saker här</option>
              </select><input class="forminput-ir" type="text" name="repairby-ir"></div>
              <div class="formitem-ir"><label>Return freight:</label><select class="forminput-ir" style="width: 210px;" type="text" name="returnfreight-ir">
                <option value="0"></option>
                <option value="valuehere">Det ska vara saker här</option>
              </select><input class="forminput-ir" type="text" name="returnfreight-ir"></div>
              <div class="formitem-ir"><label>Return:</label><select class="forminput-ir" style="width: 210px;" type="text" name="return-ir">
                <option value="0"></option>
                <option value="valuehere">Det ska vara saker här</option>
              </select><input class="forminput-ir" type="text" name="return-ir"></div>
            </form>
          </div>
        </div>
        <div class="rightpage-ir">
          <div class="listright-ir">
            <table class="list-ir">
              <thead>
                <tr class="header-ir" id="header3-ir">
                  <th class="thpart2-ir">Part #</th>
                  <th class="thpartdesc-ir">Part Description</th>
                  <th class="thunit-ir">Unit</th>
                </tr>
              </thead>
              <tbody class="tbody-ir">
                <tr class="row-ir" onclick="" id="list3-ir">
                  <td class="thpart2-ir">BALL</td>
                  <td class="thpartdesc-ir">BALL</td>
                  <td class="thunit-ir">BALL</td>
                </tr>
              </tbody>
            </div>
          </div>
        </div>
      </body>
    </html>
