<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake</title>
    <link rel="stylesheet" href="../static/irprintcss.css">
    <link rel="icon" href="../static/pictures/icon.ico">
  </head>
  <body>
    <div class="">
      <img style="padding:10px" src="../static/pictures/ekablogo.png">
    <div class="order" style="font-weight:700">
      Arbetsorder {{order}}
    </div>
    <div class="">

    </div>
  </div>
  </body>
</html>
