<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake</title>
    <link rel="stylesheet" href="static/landing.css">
  </head>
  <body>
    <div class="nav">
      <div class="navitem"><img src="static/pictures/dark.png"><p>Customers</p></div>
      <div class="navitem"><img src="static/pictures/dark.png"><p>Parts</p></div>
      <div class="navitem"><img src="static/pictures/dark.png"><p>Deliv. notes</p></div>
      <div class="navitem"><img src="static/pictures/dark.png"><p>IR</p></div>
      <div class="navitem"><img src="static/pictures/dark.png"><p>Swapouts</p></div>
      <div class="navitem"><img src="static/pictures/dark.png"><p>Lookup</p></div>
    </div>
  </body>
</html>
