<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSTAT</title>
    <link rel="stylesheet" href="static/landing.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <img src="/static/pictures/logo.png" height="200px">
    <div class="nav">
      <a class="navitem noselect" href="/customers"><img class="noghost" src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitem noselect" href="/parts"><img class="noghost" src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitem noselect" href="/delivnotes"><img class="noghost" src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitem noselect" href="/ir"><img class="noghost" src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitem noselect" href="/swapouts"><img class="noghost" src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitem noselect" href="/lookup"><img class="noghost" src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitem noselect" href="/settings"><img class="noghost" src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    </div>
  </body>
  <script src="static/loggedin.js"></script>
</html>
