<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="./static/pictures/icon.ico">
    <title>Logging in...</title>
    <script>
      check = "{{checkbox}}"
      console.log(check)
      if (check == ""){
        document.cookie = "username={{username}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;";
        document.cookie = "loggedin=True;path=/";
      }else {
        document.cookie = "username={{username}};path=/";
        document.cookie = "loggedin=True;path=/";
      }
      if (!document.cookie.includes("branch")){
        document.cookie = "branch=sv; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;"
      }

      console.log("{{auth}}")

      if("{{auth}}" == "True"){
        document.cookie = "auth=true;path=/"
      }else{
        document.cookie = "auth=false;path=/"
      }
        window.location.replace("/");
    </script>
  </head>
</html>
