<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logging in...</title>
    <script>
      check = "{{checkbox}}"
      console.log(check)
      if (check == ""){
        document.cookie = "username={{username}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;";
        document.cookie = "loggedin=True;path=/";
      }else {
        document.cookie = "username={{username}};path=/";
        document.cookie = "loggedin=True;path=/";
      }

      window.location.replace("/landing");
    </script>
  </head>
</html>
