<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSTAT | Login</title>
    <link rel="stylesheet" href="static/login.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="wrapper">
      <div class="mainlogin">
        <img class="logo noselect" src="./static/pictures/logo.png">
        <div class="flags">
          <img id="sv" onclick="selectland('sv')" class="flag " src="./static/pictures/flags/sv.png">
          <img id="no" onclick="selectland('no')" class="flag " src="./static/pictures/flags/no.png">
          <img id="fi" onclick="selectland('fi')" class="flag" src="./static/pictures/flags/fi.png">
        </div>
        <form class="loginform" action="" method="post" autocomplete="off">
          <input class="field" autocapitalize="off" type="text" id="usernameinput" name="username" value="{{request.form.username}}" placeholder="Username" autofocus>
          <input class="field" autocapitalize="off" type="password" id="pwin" name="password" value="{{request.form.password }}" placeholder="Password">
          <p class="noselect"><label style="cursor:pointer"><input type="checkbox" id="checkbox" name="check" value="{{request.form.check}}"> Remember username</label></p>
          <input class="field" type="submit" id="submit" name="submit" value="Log in">
          {%if error%}
          <p style="color:red;font-size:12px;padding:4px 2px">{{error}}</p>
          {%endif%}

        </form>
        <h2 style="margin-top:20px">Patched reports</h2>
        <ul>

        {% for x in range(10)%}
          <li>{{patches[x]}}</li>
        {% endfor %}
      </ul>
      </div>
    </div>
    <div class="theme" onclick="document.cookie = 'theme = {{notheme}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()">
      <img src="static/pictures/{{theme}}.png">
      <img src="static/pictures/{{notheme}}.png">
    </div>
    <script>
      if(!document.cookie.includes("theme")){
        document.cookie = "theme = light; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;";
      }
      var usrname = "{{username}}";
      if (usrname != "None"){
        document.getElementById('usernameinput').value = usrname;
        document.getElementById('pwin').focus();
        document.getElementById('checkbox').checked = true;
      }

      var c = document.cookie.split(";");
      for(x of c){
        if(x.includes("branch=")){
          document.getElementById(x.replace("branch=","").trim()).classList.add("selectlang");
        }
      }

      function selectland(co){
        for (n of document.getElementsByClassName('flag')){
          n.classList.remove("selectlang");
        }
        document.getElementById(co).classList.add("selectlang");

        document.cookie = "branch = " + co + "; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;";
      }


    </script>
  </body>
</html>
