<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bake</title>
    <link rel="stylesheet" href="static/general.css">
  </head>
  <body>
    <div class="mainlogin">
      <form class="" action="index.html" method="post">
        <input type="text" name="username" value="" placeholder="Username">
        <input type="password" name="password" value="" placeholder="Password">
        <input type="submit" name="submit" value="log in">
      </form>
    </div>
  </body>
</html>
