<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bake | Lookup</title>
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/lookup.css">
  <link rel="stylesheet" href="static/{{theme}}.css">
  <link rel="icon" href="./static/pictures/icon.ico">
</head>
<body onload="cookieController()">
  <script>
  function cookieController(){
    if ({{controll_variable}} == 0) {
      document.forms['form-topleftpage-lookup'].submit()
    }
}
  if ("{{looknumname}}" != ""){
      document.cookie = "lastlooknumname = {{looknumname}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;"
  }

  if("{{lookserial}}" != ""){
      document.cookie = "lastserial = {{lookserial}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;"
  }

  document.cookie = 'lastbtwdate1 = {{btwdate1}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;'
  document.cookie = 'lastbtwdate2 = {{btwdate2}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;'
  //document.cookie = "rbball = {{rbball}}; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;"

  if (!document.cookie.includes('rbball')){
    document.cookie = "rbball = exact; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;"
  }

  function resetDates(){
    document.getElementById('btwdate1').value = "{{startDate}}"
    document.getElementById('btwdate2').value = "{{current_date}}"
  }
  </script>
  <div class="mobilehead" style="display:none;z-index:100000;">
    <div class="hamham" onclick="hamburger()" >
      <div id="hamtop" style="left:15px"></div>
      <div id="hammid" ></div>
      <div id="hambot" style="left:15px"></div>
    </div>
    <div id="menudim" onclick="hamburger()" style="opacity:0;display:none"></div>
  </div>
  <div class="navin">
    <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
    <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
    <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
    <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
    <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
    <a class="navitemin active" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
    <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
  </div>
  <div class="mainwraplookup">
    <h1 class="noselect">Part/Unit info</h1>
    <div class="toppage-lookup">
      <div class="topleftpage-lookup">
        <div class="inputrutor-lookup">
          <form class="form-lookup" id="hughe-form" name="form-topleftpage-lookup" method="POST" action="">
            <div class="formitem-lookup"><label class="inputpart">Enter Part # or Part Name:</label><input autofocus id="lookupnumname" class="forminput-lookup" type="text" name="lookupnumname" value="{{looknumname}}" oninput="document.getElementById('lookupserial').value = ''; document.cookie = 'lastserial = ; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;'"></div>
            <div class="formitem-lookup"><label class="inputserial">Or Enter Serial #:</label><input id="lookupserial" class="forminput-lookup" type="text" name="lookupserial" value="{{lookserial}}" oninput="document.getElementById('lookupnumname').value = ''; document.cookie = 'lastlooknumname = ; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;'">
              <input class="forminput-lookup" name="radiobuttons-lookup" onchange="document.cookie = 'rbball = exact; path=/;'" id="radioexact" type="radio" value="exact" {% if rbball == "exact" %}checked{% endif %}>
              <label>Exact</label>
              <input class="forminput-swapout" name="radiobuttons-lookup" id="radiopartoff" type="radio" value="partoff" onchange="document.cookie = 'rbball = partoff; path=/;'" {% if rbball == "partoff" %}checked{% endif %}>
              <label>Part off</label>
            </div>
            {% if parts !=  []%}
            <div class="ludropblack" onclick="window.history.back()">
            </div>
            <div class="lucustdrop">
              {% for x in parts %}
              <div onclick="document.getElementById('lookupnumname').value='{{x["name"].strip()}}';document.getElementById('hughe-form').submit()">
                <p style="width:200px;">{{x["num"]}}</p><p>{{x["name"]}}</p>
              </div>
              {% endfor %}
            </div>
            {% endif %}
            <div class="formitem-lookup"><label class="inputdate">Between Dates:</label><input id="btwdate1" class="forminput-lookup" type="date" name="btwdate1" value="{{btwdate1}}"><label style="padding: 0 5px;">-</label><input id="btwdate2" class="forminput-lookup" type="date" name="btwdate2" value="{{btwdate2}}"><div title="Reset dates" class="resetdatesclass" onclick="resetDates()" style="margin-left:10px;"><img alt="Reset dates" width="20px" src="static/pictures/{{theme}}/undo.png"></div></div>
        </div>
      </div>
      <div class="middlepage-lookup">
        <div class="middlepage-lookup">
          <div class="form-lookup">
            <div class="show-lookup"><label>Show:</label></div>
            <div class="delivnotes-lookup"><label onclick="document.cookie = 'dn_checked='+document.getElementById('dn_lu_id').checked; document.getElementById('hughe-form').submit()"><input class="forminput-lookup" id="dn_lu_id" type="checkbox" name="delivnotes_check" value="1">Deliv. Notes</label></div>
            <div class="ir-lookup"><label onclick="document.cookie = 'ir_checked='+document.getElementById('ir_lu_id').checked; document.getElementById('hughe-form').submit()"><input class="forminput-lookup" id="ir_lu_id" type="checkbox" name="ir_check" value="1">IR</label></div>
            <div class="irparts-lookup"><label onclick="document.cookie = 'irpart_checked='+document.getElementById('irpart_lu_id').checked; document.getElementById('hughe-form').submit()"><input class="forminput-lookup" id="irpart_lu_id" type="checkbox" name="irparts_check" value="1">IR-Parts</label></div>
            <div class="sentswapout-lookup"><label onclick="document.cookie = 'sntswp_checked='+document.getElementById('sntswp_lu_id').checked; document.getElementById('hughe-form').submit()"><input class="forminput-lookup" id="sntswp_lu_id" type="checkbox" name="sent_swapout_check" value="1">Sent Swap-outs</label></div>
            <div class="returnswapout-lookup"><label onclick="document.cookie = 'rtnswp_checked='+document.getElementById('rtnswp_lu_id').checked; document.getElementById('hughe-form').submit()"><input class="forminput-lookup" id="rtnswp_lu_id" type="checkbox" name="returned_swapout_check" value="1">Returned Swap-Outs</label></div>
            <div class="unitsfile-lookup"><label onclick="document.cookie = 'unifle_checked='+document.getElementById('unifle_lu_id').checked; document.getElementById('hughe-form').submit()"><input class="forminput-lookup" id="unifle_lu_id" type="checkbox" name="unit_file_check" value="1">Units File</label></div>
            <div class="unitshistory-lookup"><label onclick="document.cookie = 'unihis_checked='+document.getElementById('unihis_lu_id').checked; document.getElementById('hughe-form').submit()"><input class="forminput-lookup" id="unihis_lu_id" type="checkbox" name="unit_history_check" value="1">Units History</label><input type="submit" style="display: none;"></div>
            <script>
            function getCookie(cname) {
              var name = cname + "=";
              var decodedCookie = decodeURIComponent(document.cookie);
              var ca = decodedCookie.split(';');
              for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
            }
            var dn_var = getCookie("dn_checked")
            var ir_var = getCookie("ir_checked")
            var irpart_var = getCookie("irpart_checked")
            var sntswp_var = getCookie("sntswp_checked")
            var rtnswp_var = getCookie("rtnswp_checked")
            var unifle_var = getCookie("unifle_checked")
            var unihis_var = getCookie("unihis_checked")



            if (dn_var == ""){
              dn_var = "true"
            }
            if (ir_var == ""){
              ir_var = "true"
            }
            if (irpart_var == ""){
              irpart_var = "true"
            }
            if (sntswp_var == ""){
              sntswp_var = "true"
            }
            if (rtnswp_var == ""){
              rtnswp_var = "true"
            }
            if (unifle_var == ""){
              unifle_var = "true"
            }
            if (unihis_var == ""){
              unihis_var = "true"
            }


            if (dn_var == "true"){
              document.getElementById("dn_lu_id").checked = true;
            }

            if (ir_var == "true"){
              document.getElementById("ir_lu_id").checked = true;
            }

            if (irpart_var == "true"){
              document.getElementById("irpart_lu_id").checked = true;
            }

            if (sntswp_var == "true"){
              document.getElementById("sntswp_lu_id").checked = true;
            }

            if (rtnswp_var == "true"){
              document.getElementById("rtnswp_lu_id").checked = true;
            }

            if (unifle_var == "true"){
              document.getElementById("unifle_lu_id").checked = true;
            }

            if (unihis_var == "true"){
              document.getElementById("unihis_lu_id").checked = true;
            }

            </script>
          </form>
        </div>
      </div>
      <div class="bottompage-lookup">
        <div class="tabell-lookup">
          <table class="list-part-unitinfo">
            <thead>
              <tr class="header-lookup" id="header-lookup">
                <th class="thtype-lookup">Type:</th>
                <th class="thref-lookup">Ref. #:</th>
                <th class="thcustid-lookup">Cust. ID:</th>
                <th class="thcustname-lookup">Cust. Name:</th>
                <th class="thdate-lookup">Date:</th>
                <th class="thserial-lookup">Serial:</th>
              </tr>
            </thead>
            <tbody class="whatabody-lookup">
              {% for x in lookupdata %}
              <tr class="row-lookup" onclick="window.location.href='{{x["url"]}}'">
                <td class="thtype-lookup">{{x["type"]}}</td>
                <td class="thref-lookup">{{x["ref"]}}</td>
                <td class="thcustid-lookup">{{x["customerID"]}}</td>
                <td class="thcustname-lookup">{{x["customerName"]}}</td>
                <td class="thdate-lookup">{{x["date_check"]}}</td>
                <td class="thserial-lookup">{{x["serial"]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
        <div class="buttonsbar">
          <a href="lookup" class="buttonsbar-item-lookup"><img class="buttonbarpic-lookup" src="static/pictures/{{theme}}/print.png"><p>Print</p></a>
        </div>
      </div>
        <script src="/static/mobile.js"></script>
    </body>
  </html>
