<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bake | Lookup</title>
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/lookup.css">
  <link rel="stylesheet" href="static/{{theme}}.css">
  <link rel="icon" href="./static/pictures/icon.ico">
</head>
<body>
  <div class="navin">
    <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
    <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
    <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
    <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
    <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
    <a class="navitemin active" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
    <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
  </div>
  <div class="mainwraplookup">
    <h1 class="noselect">Part/Unit info</h1>
    <div class="toppage-lookup">
      <div class="topleftpage-lookup">
        <div class="inputrutor-lookup">
          <form class="form-lookup" name="form-topleftpage-lookup" method="POST" action="">
            <div class="formitem-lookup"><label class="inputpart">Enter Part # or Part Name:</label><input class="forminput-lookup" type="text" name="lookupnumname"><input class="forminput-lookup" id="inputpartname" type="text" readonly></div>
            <div class="formitem-lookup"><label class="inputserial">Or Enter Serial #:</label><input class="forminput-lookup" type="text" name="lookserial"><input class="forminput-lookup" name="radiobuttons-lookup" id="radioexact" type="radio"><label>Exact</label><input class="forminput-swapout" name="radiobuttons-lookup" id="radiopartoff" type="radio"><label>Part off</label></div>
            <div class="formitem-lookup"><label class="inputdate">Between Dates:</label><input class="forminput-lookup" type="text"><label style="padding: 0 5px;">-</label><input class="forminput-lookup" type="text"></div>
        </div>
      </div>
      <div class="middlepage-lookup">
        <div class="middlepage-lookup">
          <div class="form-lookup">
            <div class="show-lookup"><label>Show:</label></div><div class="delivnotes-lookup"><input class="forminput-lookup" type="checkbox"><label>Deliv. Notes</label></div><div class="ir-lookup"><input class="forminput-lookup" type="checkbox"><label>IR</label></div><div class="irparts-lookup"><input class="forminput-lookup" type="checkbox"><label>IR-Parts</label></div><div class="sentswapout-lookup"><input class="forminput-lookup" type="checkbox"><label>Sent Swap-outs</label></div>
            <div class="returnswapout-lookup"><input class="forminput-lookup" type="checkbox"><label>Returned Swap-Outs</label></div><div class="unitsfile-lookup"><input class="forminput-lookup" type="checkbox"><label>Units File</label></div><div class="unitshistory-lookup"><input class="forminput-lookup" type="checkbox"><label>Units History</label><input type="submit" style="display: none;"></div>
          </form>
        </div>
      </div>
      <div class="bottompage-lookup">
        <div class="tabell-lookup">
          <table class="list-part-unitinfo">
            <thead>
              <tr class="header-lookup" id="header-lookup">
                <th class="thtype-lookup">Type:</th>
                <th class="thref-lookup">Ref. #:</th>
                <th class="thcustid-lookup">Cust. ID:</th>
                <th class="thcustname-lookup">Cust. Name:</th>
                <th class="thdate-lookup">Date:</th>
                <th class="thserial-lookup">Serial:</th>
                <th class="thmodel-lookup">Model:</th>
              </tr>
            </thead>
            <tbody class="whatabody-lookup">
              <tr class="row-lookup" onclick="">
                <td class="thtype-lookup">PEN</td>
                <td class="thref-lookup">PEN</td>
                <td class="thcustid-lookup">PEN</td>
                <td class="thcustname-lookup">PEN</td>
                <td class="thdate-lookup">PEN</td>
                <td class="thserial-lookup">PEN</td>
                <td class="thmodel-lookup">PEN</td>
              </tr>
              <tr class="row-lookup" onclick="">
                <td class="thtype-lookup">PEN</td>
                <td class="thref-lookup">PEN</td>
                <td class="thcustid-lookup">PEN</td>
                <td class="thcustname-lookup">PEN</td>
                <td class="thdate-lookup">PEN</td>
                <td class="thserial-lookup">PEN</td>
                <td class="thmodel-lookup">PEN</td>
              </tr>
              <tr class="row-lookup" onclick="">
                <td class="thtype-lookup">PEN</td>
                <td class="thref-lookup">PEN</td>
                <td class="thcustid-lookup">PEN</td>
                <td class="thcustname-lookup">PEN</td>
                <td class="thdate-lookup">PEN</td>
                <td class="thserial-lookup">PEN</td>
                <td class="thmodel-lookup">PEN</td>
              </tr>
              <tr class="row-lookup" onclick="">
                <td class="thtype-lookup">PEN</td>
                <td class="thref-lookup">PEN</td>
                <td class="thcustid-lookup">PEN</td>
                <td class="thcustname-lookup">PEN</td>
                <td class="thdate-lookup">PEN</td>
                <td class="thserial-lookup">PEN</td>
                <td class="thmodel-lookup">PEN</td>
              </tr>
              <tr class="row-lookup" onclick="">
                <td class="thtype-lookup">PEN</td>
                <td class="thref-lookup">PEN</td>
                <td class="thcustid-lookup">PEN</td>
                <td class="thcustname-lookup">PEN</td>
                <td class="thdate-lookup">PEN</td>
                <td class="thserial-lookup">PEN</td>
                <td class="thmodel-lookup">PEN</td>
              </tr>
              <tr class="row-lookup" onclick="">
                <td class="thtype-lookup">PEN</td>
                <td class="thref-lookup">PEN</td>
                <td class="thcustid-lookup">PEN</td>
                <td class="thcustname-lookup">PEN</td>
                <td class="thdate-lookup">PEN</td>
                <td class="thserial-lookup">PEN</td>
                <td class="thmodel-lookup">PEN</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="buttonsbar">
          <a href="lookup" class="buttonsbar-item-lookup"><img class="buttonbarpic-lookup" src="static/pictures/{{theme}}/print.png"><p>Print</p></a>
        </div>
      </div>
    </body>
  </html>
