<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bake | Parts</title>
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="static/parts.css">
  <link rel="stylesheet" href="static/{{theme}}.css">
  <link rel="icon" href="./static/pictures/icon.ico">
</head>
<script>
function cookieController(){
  if ({{controll_variable}} == 0) {
    document.forms['partform'].submit()
  }
}
</script>
<body onload="cookieController()">
  <div class="mobilehead" style="display:none;z-index:100000;">
    <div class="hamham" onclick="hamburger()" >
      <div id="hamtop" style="left:15px"></div>
      <div id="hammid" ></div>
      <div id="hambot" style="left:15px"></div>
    </div>
    <div id="menudim" onclick="hamburger()" style="opacity:0;display:none"></div>
  </div>
  <div class="navin">
    <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
    <a class="navitemin active" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
    <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
    <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
    <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
    <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
    <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
  </div>
  <div class="mainwrapparts">
    <h1 class="noselect">Parts</h1>
    <div class="toppage-parts">
      <form class="form-parts" name="partform" action="" method="POST">
        <label for="search" class="searchlabel-parts noselect">Search for:</label>
        <div class="formitem-parts noselect"><label for="part-parts">Part #:</label><input id="partinput" onkeyup="" class="forminput-parts" type="text" name="part-parts" value="{{par}}" onchange="document.cookie = 'lastpar = '+document.getElementById('partinput').value+'; path=/;'"></div>
        <div class="formitem-parts noselect"><label for="description-parts">Description:</label><input id="descinput" onkeyup="" class="forminput-parts" type="text" name="description-parts" value="{{des}}" onchange="document.cookie = 'lastdes = '+document.getElementById('descinput').value+'; path=/;'"></div>
        <div id="formitem-parts" class="formitem-parts noselect"><label>Only active parts:<input onclick="search()" id="forminput-parts" type="checkbox" name="active-parts" checked></label></div>
        <input class="partssearch" type="submit" name="partsubmit" value="Search">
      </form>
    </div>
    <div class="tabell-parts">
      <table class="list-parts">
        <thead>
          <tr>
            <th class="parts-partnr">Part #</th>
            <th class="parts-desc">Description</th>
            <th class="parts-lp">LP</th>
            <th class="parts-qty">QTY</th>
            {% for x in pricegroups %}
            <th class="parts-pr{{x}}">{{pricegroups[x]}}</th>
            {% endfor %}
            <th class="parts-lastused">Last used</th>
            <th class="parts-lastupdated">Last updated</th>
          </tr>
        </thead>
        <tbody>
          {% for x in allparts %}
          <tr>
            <td class="parts-partnr"><p class="tabell-text">{{x["artid"]}}</p></td>
            <td class="parts-desc"><p class="tabell-text">{{x["name"]}}</p></td>
            <td class="parts-lp"><p class="tabell-text">{{x["lp"]}}</p></td>
            <td class="parts-qty"><p class="tabell-text">{{x["qty"]}}</p></td>
            {% for z in pricegroupnum %}
            <td class="parts-pr{{z}}"><p class="tabell-text align-right">{{x["price"+z]}}</p></td>
            {% endfor %}
            <td class="parts-lastused"><p class="tabell-text">{{x["lastusd"]}}</p></td>
            <td class="parts-lastupdated"><p class="tabell-text">{{x["lastupd"]}}</p></td>
          </tr>
          {% endfor %}
        </tbody>
        <script src="static/partsearch.js"></script>
      </table>
    </div>
    <div class="buttonsbar">
      <a href="parts" class="buttonsbar-item-parts"><img class="buttonbarpic-parts" src="static/pictures/{{theme}}/print-label.png"><p>Label Print</p></a>
    </div>
    <script src="/static/mobile.js"></script>
  </div>
</body>
</html>
