<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake | Parts</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/parts.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="navin">
      <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitemin active" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    </div>
    <div class="mainwrapparts">
      <h1>Parts</h1>
      <div class="toppage-parts">
        <form class="form-parts">
          <label for="search" class="searchlabel-parts">Search for:</label>
          <div class="formitem-parts"><label for="part-parts">Part #</label><input class="forminput-parts" type="text" name="part-parts"></div>
          <div class="formitem-parts"><label for="description-parts">Description</label><input class="forminput-parts" type="text" name="description-parts"></div>
          <div class="formitem-parts"><label for="model-parts">Model</label><input class="forminput-parts" type="text" name="model-parts"></div>
          <div class="formitem-parts"><label for="system-parts">System</label><input class="forminput-parts" type="text" name="system-parts"></div>
          <div class="formitem-parts"><label for="supplier-parts">Supplier</label><select style="width: 210px;" class="forminput-parts" name="supplier-parts">
            <option value=""></option>
            <option value="valuehere">Det ska vara saker här</option>
          </select></div>
          <div class="formitem-parts"><label for="restocklvl-parts">Restock level:</label><input class="forminput-parts" type="text" name="restocklvl-parts"></div>
        </form>
        <div class="list-parts">
          <div class="header-parts"><div style="width: 200px;" class="headerbox-parts">Part #</div><div style="width: 200px;" class="headerbox-parts">Description</div><div style="width: 75px;" class="headerbox-parts">Unit</div><div style="width: 75px;" class="headerbox-parts">System</div><div style="width: 75px;" class="headerbox-parts">Supplier</div></div>
        </div>
      </div>
    </div>

  </body>
</html>
