<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSTAT | Password changed</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/{{theme}}.css">
    <link rel="icon" href="../static/pictures/icon.ico">
  </head>
  <body>
    <div class="wrapper">
      <div class="mainlogin">
          <p style="text-align:center;padding:10px;">Password changed, redirecting...</p>
        <script>
          setTimeout(function(){
            window.location.replace("../settings");
          },1000);
        </script>
      </div>
    </div>
  </body>
</html>
