<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/settings.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="navin">
      <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitemin active" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    </div>
    <div class="mainwrapsettings">
      <h1 class="noselect">Settings</h1>
      <div class="settingrow">
        <p class="settingsbranchp noselect">Branch</p>
        <div class="droplangselectsetting noselect">
          <p id="langsel"></p>
          <div class="dropmenusetting">
            <p onclick="document.cookie = 'branch=sv;expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()" class="settingdropmenuitem" id="sv">sv</p>
            <p onclick="document.cookie = 'branch=no;expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()" class="settingdropmenuitem" id="no">no</p>
            <p onclick="document.cookie = 'branch=fi;expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()" class="settingdropmenuitem" id="fi">fi</p>
          </div>
        </div>
      </div>
      <div class="settingrow">
        <p class="settingsthemep noselect">Theme</p>
        <div class="settingthemeswitchwrap" onclick="document.cookie = 'theme={{notheme}};expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()">
          <img class="noselect" src="static/pictures/dark.png">
          <img class="noselect" src="static/pictures/light.png">
          <div id="settingsthemeselect">
            <div id="settingsthemeselectbutton">

            </div>
          </div>
        </div>
      </div>
      <div class="settingrow">
        <div class="">

        </div>
        <p class="settingslogout noselect" onclick="document.cookie = 'loggedin={{username}}; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';location.reload()">Log out</p>
          <div class="">

          </div>
      </div>
      {% if auth%}
      <h1 class="noselect">Maintenance</h1>
      <a class="settingadminrow" href="/settings/tech">
        <p class="settingsthemep noselect">Edit Techs</p>
      </a>
      <a class="settingadminrow" href="/settings/vendor">
        <p class="settingsthemep noselect">Edit Vendors</p>
      </a>
      <a class="settingadminrow" href="/settings/model">
        <p class="settingsthemep noselect">Edit Models</p>
      </a>
      <a class="settingadminrow" href="/settings/modeltype">
        <p class="settingsthemep noselect">Edit Model Types</p>
      </a>
      <a class="settingadminrow" href="/settings/freight">
        <p class="settingsthemep noselect">Edit Freight Types</p>
      </a>
      <a class="settingadminrow" href="/settings/chargemode">
        <p class="settingsthemep noselect">Edit Chargemode</p>
      </a>
      <a class="settingadminrow" href="/settings/office">
        <p class="settingsthemep noselect">Edit Offices</p>
      </a>
      <a class="settingadminrow" href="/settings/pricegroup">
        <p class="settingsthemep noselect">Edit Pricegroups</p>
      </a>
      <a class="settingadminrow" href="/settings/parameters">
        <p class="settingsthemep noselect">Parameters</p>
      </a>
      <a class="settingadminrow" href="/settings/password">
        <p class="settingsthemep noselect">Change Password</p>
      </a>
      <a class="settingadminrow" href="/settings/import">
        <p class="settingsthemep noselect">Import External Data</p>
      </a>
      {%endif%}
    </div>
    <script>
      if(document.cookie.includes("branch")){
        var cookies = document.cookie.split(";");
        for(var cookie of cookies){
          if(cookie.includes("branch")){
            var branch = cookie.replace("branch=","");
            console.log(branch);
            document.getElementById("langsel").innerHTML = branch;
            document.getElementById(branch.trim()).style.display = "none";
        }
        }
      }

      var theme = "{{theme}}";
      if(theme=="dark"){
        console.log(theme);
      }else if(theme=="light"){
      }
      log();
      setInterval(log, 1000);

      function log(){
        if(!document.cookie.includes("loggedin=True")){
          location.reload();
        }
      }
    </script>
  </body>
</html>
