<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSTAT | Settings</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/settings.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="mobilehead" style="display:none;z-index:100000;">
      <div class="hamham" onclick="hamburger()" >
        <div id="hamtop" style="left:15px"></div>
        <div id="hammid" ></div>
        <div id="hambot" style="left:15px"></div>
      </div>
      <div id="menudim" onclick="hamburger()" style="opacity:0;display:none"></div>
    </div>
    <div class="navin">
      <a class="navitemin active" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitemin active" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
      <a id="navlogo" href="/landing"><img id="navlogoimg" src="/static/pictures/logo.png"></a>
      <div id="lvl3"><div id="userstatuscolor" style="background:{{usrstatus}}" ></div><a id="l3" href="/lvl3status">L3</a><input type="hidden" id="usrstat" value=""></div>
    </div>
    <div class="mainwrapsettings">
      <h1 class="noselect settingsheader">Settings </h1>
      <div class="settingrow">
        <p class="settingsbranchp noselect">Branch</p>
        <div class="droplangselectsetting noselect">
          <p id="langsel"></p>
          <div class="dropmenusetting">
            <p onclick="document.cookie = 'branch=sv;expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()" class="settingdropmenuitem" id="sv">sv</p>
            <p onclick="document.cookie = 'branch=no;expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()" class="settingdropmenuitem" id="no">no</p>
            <p onclick="document.cookie = 'branch=fi;expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()" class="settingdropmenuitem" id="fi">fi</p>
          </div>
        </div>
      </div>
      <div class="settingrow">
        <p class="settingsbranchp noselect">Start page</p>
        <div class="droplangselectsetting noselect">
          <p id="spsel"></p>
          <div class="dropmenusetting" id="spdrop">
            <p onclick="startpage('Landing')" class="settingdropmenuitem" id="landing">Landing</p>
            <p onclick="startpage('Customers')" class="settingdropmenuitem" id="customers">Customers</p>
            <p onclick="startpage('Parts')" class="settingdropmenuitem" id="parts">Parts</p>
            <p onclick="startpage('Deliv Notes')" class="settingdropmenuitem" id="delivnotes">Deliv Notes</p>
            <p onclick="startpage('IR')" class="settingdropmenuitem" id="ir">IR</p>
            <p onclick="startpage('Swapouts')" class="settingdropmenuitem" id="swapouts">Swapouts</p>
            <p onclick="startpage('Lookup')" class="settingdropmenuitem" id="lookup">Lookup</p>
          </div>
        </div>
      </div>
      <div class="settingrow">
        <p class="settingsthemep noselect">Theme</p>
        <div class="settingthemeswitchwrap" onclick="document.cookie = 'theme={{notheme}};expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()">
          <img class="noselect" src="static/pictures/dark.png">
          <img class="noselect" src="static/pictures/light.png">
          <div id="settingsthemeselect">
            <div id="settingsthemeselectbutton">

            </div>
          </div>
        </div>
      </div>

      <a class="settingadminrow" href="/settings/changepassword">
        <p class="settingsthemep noselect">Change password</p>
      </a>
      <a class="settingadminrow" href="/bugreport">
        <p class="settingsthemep noselect">Report bug or request features</p>
      </a>
      <div class="settingrow">
        <div class="">

        </div>
        <p class="settingslogout noselect" onclick="document.cookie = 'loggedin={{username}}; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';location.reload()">Log out</p>
          <div class="">

          </div>
      </div>


      {% if auth%}

            <div style="text-align:center">
              {{server}}, {{database}}
            </div>
      <h1 class="noselect settingsheader">Maintenance</h1>
      <a class="settingadminrow" onclick="show('settingstech')">
        <p class="settingsthemep noselect">Edit Techs</p>
      </a>
      <a class="settingadminrow" onclick="show('settingsvendor')">
        <p class="settingsthemep noselect">Edit Vendors</p>
      </a>
      <a class="settingadminrow" onclick="show('settingsmodel')">
        <p class="settingsthemep noselect">Edit Models</p>
      </a>
      <a class="settingadminrow" onclick="show('settingsfreight')">
        <p class="settingsthemep noselect">Edit Freight Types</p>
      </a>
      <a class="settingadminrow" onclick="show('settingscharge')">
        <p class="settingsthemep noselect">Edit Chargemode</p>
      </a>
      <a class="settingadminrow" onclick="show('settingsoffice')">
        <p class="settingsthemep noselect">Edit Offices</p>
      </a>
      <a class="settingadminrow" onclick="show('settingpg')">
        <p class="settingsthemep noselect">Edit Pricegroups</p>
      </a>
      <a class="settingadminrow" onclick="show('settingsparameters')">
        <p class="settingsthemep noselect">Parameters</p>
      </a>

      <a class="settingadminrow" href="/import">
        <p class="settingsthemep noselect">Import External Data</p>
      </a>
      <a class="settingadminrow" href="/viewreport">
        <p class="settingsthemep noselect">Manage reports and requests</p>
      </a>
      {%endif%}
    </div>
    {% if auth%}

    <script src="static/settings.js">

    </script>

<div class="settingstechwrap settingscategories" id="settingsparameters" style="display:none">
  <h3 class="noselect">Company parameters</h3>
  <div class="settingstechhead">
    <p class="noselect cpvar">Variable</p>
    <p class="noselect cptyp">Type</p>
    <p class="noselect cpval">Value</p>
  </div>
  <form class="settingstechmain" action="javascript:" id="cpform">
    {% for x in parameters %}
    <a class="settingadmintech">
      <input type="hidden" value="{{x[3]}}">
      <input readonly class="settingspg noselect cpvar" spellcheck="false" value="{{x[0].strip()}}">
      <input readonly class="settingspg noselect cptyp" spellcheck="false" value="{{x[1].strip()}}">
      <input class="settingspg noselect cpval" spellcheck="false" value="{{x[2].strip()}}" name="{{x[0].strip()}}">
    </a>
    {% endfor %}
  </form>
  <div class="pgbuttons">
    <button type="button" class="set noselect" id="cpsave" onclick="savecp()">Save</button>
  </div>

<div class="workstation noselect">
  <h3>Workstation parameters</h3>
  <label>Default mail recipient for delivery note:<input placeholder="nisse@ekabss.com" oninput="document.cookie = 'delivmail = ' + this.value+'; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;'" value="{{mail[0]}}"></label>
  <label>Default mail recipient for IR:<input placeholder="nisse@ekabss.com" oninput="document.cookie = 'irmail = ' + this.value+'; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;'" value="{{mail[1]}}"></label>
  <label>Default mail recipient for Projects:<input placeholder="nisse@ekabss.com" oninput="document.cookie = 'projmail = ' + this.value+'; expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;'" value="{{mail[2]}}"></label>
  <label>Path for Softone deliv.note export:<input></label>
  <label>Max length for Softone notes:<input></label>
  <label>Lead text for delv. notes:<input></label>
</div>
</div>

<div class="settingstechwrap settingscategories" id="settingpg" style="display:none">
  <h3 class="noselect">Pricegroups</h3>
  <div class="settingstechhead">
    <p class="noselect pgno">Pg no.</p>
    <p class="noselect pgname">Pg name</p>
  </div>
  <form class="settingstechmain" action="javascript:" id="pgform">
    {% for x in pgs %}
    <a class="settingadmintech">
      <input type="hidden" value="{{x[2]}}" name="{{pgs.index(x)}}id">
      <input class="settingspg noselect pgno" spellcheck="false" value="{{x[0]}}" name="{{pgs.index(x)}}no">
      <input class="settingspg noselect pgname" spellcheck="false" value="{{x[1].strip()}}" name="{{pgs.index(x)}}name">
      <button type="button" class="pgremove" name="button" onclick="if(confirm('Are you sure you want to delete pricegroup {{x[1].strip().replace("\'","\\'")}}?')){rempg('{{x[2]}}');}"><img style="transform: rotate(45deg); height:25px; width:25px" src="static/pictures/{{theme}}/add.png"></button>
    </a>
    {% endfor %}
  </form>
  <div class="pgbuttons">
    <button type="button" class="set noselect"  id="pgsave" onclick="savepg()">Save</button>
    <button type="button" class="set noselect" id="pgnew" onclick="newpg()">New</button>
  </div>


</div>

<div class="settingstechwrap settingscategories" id="settingsoffice" style="display:">
  <h3 class="noselect">Offices</h3>
  <div class="settingstechhead">
    <p class="noselect ofno">Office #</p>
    <p class="noselect ofname">Office Name</p>
  </div>
  <form class="settingstechmain" action="javascript:" id="ofform">
    {% for x in office %}
    <a class="settingadmintech">
      <input type="hidden" value="{{x[5]}}" name="{{office.index(x)}}id">
      <input class="settingspg noselect ofno" spellcheck="false" value="{{x[0]}}" name="{{office.index(x)}}no">
      <input class="settingspg noselect ofname" spellcheck="false" value="{{x[1].strip()}}" name="{{office.index(x)}}name">
      <button type="button" class="pgremove" name="button" onclick="if(confirm('Are you sure you want to delete office {{x[1].strip().replace("\'","\\'")}}?')){remof('{{x[2]}}');}"><img style="transform: rotate(45deg); height:25px; width:25px" src="static/pictures/{{theme}}/add.png"></button>
    </a>
    {% endfor %}
  </form>
  <div class="pgbuttons">
    <button type="button" class="set noselect"  id="ofsave" onclick="saveof()">Save</button>
    <button type="button" class="set noselect" id="ofnew" onclick="newof()">New</button>
  </div>


</div>

<div class="settingstechwrap settingscategories" id="settingstech" style="display:none">
  <h3 class="noselect">Technicians</h3>
  <div class="settingstechhead">
    <p class="noselect teid">ID</p>
    <p class="noselect tefirst">First name</p>
    <p class="noselect telast">Last name</p>
    <p class="noselect teoffice">Office</p>
    <p class="noselect" style="width:60px">Tech</p>
  </div>
  <form class="settingstechmain" action="javascript:" id="teform">
    {% for x in techs %}
    <a class="settingadmintech">
      <input type="hidden" value="{{x[8]}}" name="{{techs.index(x)}}id">
      <input class="settingspg noselect teid" maxlength="3" spellcheck="false" value="{{x[0].strip()}}" name="{{techs.index(x)}}ids">
      <input class="settingspg noselect tefirst" spellcheck="false" value="{{x[1].strip()}}" name="{{techs.index(x)}}first">
      <input class="settingspg noselect telast" spellcheck="false" value="{{x[2].strip()}}" name="{{techs.index(x)}}last">
      <input class="settingspg noselect teoffice" spellcheck="false" value="{{x[4]}}" name="{{techs.index(x)}}office">
      <label class="settingspg noselect tetech">
        <input class="techcheck" type="checkbox" spellcheck="false" value="{{x[5]}}" {% if x[5] == 1 %} checked {% endif %} name="{{techs.index(x)}}tech">
      </label>
      <button type="button" class="pgremove" name="button" onclick="if(confirm('Are you sure you want to remove {{x[1].strip().replace("\'","\\'")}}?')){remtech('{{x[8]}}');}"><img style="transform: rotate(45deg); height:25px; width:25px" src="static/pictures/{{theme}}/add.png"></button>
    </a>
    {% endfor %}
  </form>
  <div class="pgbuttons">
    <button type="button" class="set noselect" id="tesave" onclick="savete()">Save</button>
    <button type="button" class="set noselect" id="tenew" onclick="newte()">New</button>
  </div>


</div>
{%endif%}

    <script src="/static/mobile.js"></script>
    <script>
      if(document.cookie.includes("branch")){
        var cookies = document.cookie.split(";");
        for(var cookie of cookies){
          if(cookie.includes("branch")){
            var branch = cookie.replace("branch=","");
            document.getElementById("langsel").innerHTML = branch;
            document.getElementById(branch.trim()).style.display = "none";
        }
        }
      }

      document.getElementById("spsel").innerHTML = "Landing";

      if(document.cookie.includes("sp")){
        var cookies = document.cookie.split(";");
        for(var cookie of cookies){
          if(cookie.includes("sp")){
            var sp = cookie.replace("sp=","");
            document.getElementById("spsel").innerHTML = sp.slice(0,2).toUpperCase() + sp.slice(2);
            document.getElementById(sp.trim()).style.display = "none";
        }

        }
      }

      function startpage(selected){
        document.getElementById('spsel').innerHTML = selected;
        for(x of document.getElementsByClassName('settingdropmenuitem')){
          x.style.display = "block"
        }
        document.getElementById(selected.toLowerCase().replace(" ","")).style.display = "none";
        document.cookie = 'sp=' +selected.toLowerCase().replace(" ","") + ';expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';
      }

      var theme = "{{theme}}";
      if(theme=="dark"){
      }else if(theme=="light"){
      }
      log();
      setInterval(log, 1000);

      function log(){
        if(!document.cookie.includes("loggedin=True")){
          location.reload();
        }
      }

    function show(cat){
      var all = document.getElementsByClassName('settingscategories');

      for(x of all){
        x.style.display = "none";
      }

      document.getElementById(cat).style.display  = "block";


    }

    //show('settingsmodel')

    </script>
  </body>
</html>
