<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSTAT | Settings</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/settings.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="mobilehead" style="display:none;z-index:100000;">
      <div class="hamham" onclick="hamburger()" >
        <div id="hamtop" style="left:15px"></div>
        <div id="hammid" ></div>
        <div id="hambot" style="left:15px"></div>
      </div>
      <div id="menudim" onclick="hamburger()" style="opacity:0;display:none"></div>
    </div>
    <div class="navin">
      <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitemin" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitemin active" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
      <a id="navlogo" href="/landing"><img id="navlogoimg" src="/static/pictures/logo.png"></a>
    </div>
    <div class="mainwrapsettings">
      <h1 class="noselect settingsheader">Settings </h1>
      <div class="settingrow">
        <p class="settingsbranchp noselect">Branch</p>
        <div class="droplangselectsetting noselect">
          <p id="langsel"></p>
          <div class="dropmenusetting">
            <p onclick="document.cookie = 'branch=sv;expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()" class="settingdropmenuitem" id="sv">sv</p>
            <p onclick="document.cookie = 'branch=no;expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()" class="settingdropmenuitem" id="no">no</p>
            <p onclick="document.cookie = 'branch=fi;expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()" class="settingdropmenuitem" id="fi">fi</p>
          </div>
        </div>
      </div>
      <div class="settingrow">
        <p class="settingsbranchp noselect">Start Page</p>
        <div class="droplangselectsetting noselect">
          <p id="spsel"></p>
          <div class="dropmenusetting" id="spdrop">
            <p onclick="startpage('Landing')" class="settingdropmenuitem" id="landing">Landing</p>
            <p onclick="startpage('Customers')" class="settingdropmenuitem" id="customers">Customers</p>
            <p onclick="startpage('Parts')" class="settingdropmenuitem" id="parts">Parts</p>
            <p onclick="startpage('Deliv Notes')" class="settingdropmenuitem" id="delivnotes">Deliv Notes</p>
            <p onclick="startpage('IR')" class="settingdropmenuitem" id="ir">IR</p>
            <p onclick="startpage('Swapouts')" class="settingdropmenuitem" id="swapouts">Swapouts</p>
            <p onclick="startpage('Lookup')" class="settingdropmenuitem" id="lookup">Lookup</p>
          </div>
        </div>
      </div>
      <div class="settingrow">
        <p class="settingsthemep noselect">Theme</p>
        <div class="settingthemeswitchwrap" onclick="document.cookie = 'theme={{notheme}};expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';location.reload()">
          <img class="noselect" src="static/pictures/dark.png">
          <img class="noselect" src="static/pictures/light.png">
          <div id="settingsthemeselect">
            <div id="settingsthemeselectbutton">

            </div>
          </div>
        </div>
      </div>

      <a class="settingadminrow" href="/settings/changepassword">
        <p class="settingsthemep noselect">Change Password</p>
      </a>
      <div class="settingrow">
        <div class="">

        </div>
        <p class="settingslogout noselect" onclick="document.cookie = 'loggedin={{username}}; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';location.reload()">Log out</p>
          <div class="">

          </div>
      </div>


      {% if auth%}

            <div style="text-align:center">
              {{server}}, {{database}}
            </div>
      <h1 class="noselect settingsheader">Maintenance</h1>
      <a class="settingadminrow" onclick="show('settingstech')">
        <p class="settingsthemep noselect">Edit Techs</p>
      </a>
      <a class="settingadminrow" onclick="show('settingsvendor')">
        <p class="settingsthemep noselect">Edit Vendors</p>
      </a>
      <a class="settingadminrow" onclick="show('settingsmodel')">
        <p class="settingsthemep noselect">Edit Models</p>
      </a>
      <a class="settingadminrow" href="/settings/freight">
        <p class="settingsthemep noselect">Edit Freight Types</p>
      </a>
      <a class="settingadminrow" href="/settings/chargemode">
        <p class="settingsthemep noselect">Edit Chargemode</p>
      </a>
      <a class="settingadminrow" href="/settings/office">
        <p class="settingsthemep noselect">Edit Offices</p>
      </a>
      <a class="settingadminrow" onclick="show('settingpg')">
        <p class="settingsthemep noselect">Edit Pricegroups</p>
      </a>
      <a class="settingadminrow" onclick="show('settingsparameters')">
        <p class="settingsthemep noselect">Parameters</p>
      </a>

      <a class="settingadminrow" href="/import">
        <p class="settingsthemep noselect">Import External Data</p>
      </a>
      {%endif%}
    </div>
    {% if auth%}
    <div class="settingstechwrap settingscategories" id="settingstech" style="display:none">
      <div class="settingstechhead">
        <p id="settingstechid">ID</p>
        <p id="settingstechfirst">Firstname</p>
        <p id="settingstechlast">Last</p>
        <p id="settingstechoffice">Office</p>
        <p id="settingstechtech">Tech</p>
      </div>
    <form class="settingstechmain" autocomplete="off" action="" id="techuserform">
      {% for tech in techs %}
      <a class="settingadmintech">
        <input type="hidden" value="{{tech[8]}}" name="{{techs.index(tech)}}">
        <input class="settingsthemep noselect techid" readonly maxlength="3" name="{{techs.index(tech)}}id" id="{{tech[0].strip()}}" value="{{tech[0].strip()}}">
        <input class="settingsthemep noselect techfirst" spellcheck="false" name="{{techs.index(tech)}}firstname" id="techfirst" value="{{tech[1].strip()}}">
        <input class="settingsthemep noselect techlast" spellcheck="false" name="{{techs.index(tech)}}lastname" id="techlast" value="{{tech[2].strip()}}">
        <input class="settingsthemep noselect techoffice" value="{{tech[4]}}" type="number" name="{{techs.index(tech)}}office" id="techoffice">
        <input class="settingsthemep noselect techtech" value="1" type="checkbox" name="{{techs.index(tech)}}tech" id="techtech" {% if tech[5] == 1 %} checked {% endif %}>
        <div class="settingsthemep noselect techremove" id="techrem" onclick="remtech('{{tech[0].strip()}}')"><img class="noselect" src="static/pictures/{{theme}}/add.png"></div>
      </a>
      {% endfor %}
      </form>
      <script src="static/settings.js">

      </script>
      <div class="settingstechcontrols">
          <div class="settingstechnew noselect" onclick="technewuser()">
            New User
          </div>
        <div class="settingstechdiv noselect">
          <div class="settingstechcancel" onclick="window.location.reload()">
            Cancel
          </div>
          <div class="savebutton" onclick="submitTechs()">Save</div>
        </div>
    </div>
</div>

<div class="settingsvendorwrap settingscategories" id="settingsvendor" style="display:none">
  <div class="settingsvendorhead">
    <p id="settingsvendorid">ID</p>
    <p id="settingsvendorname">Name</p>
    <p id="settingsvendorcurrency">Currency</p>
    <p id="settingsvendoraddress1">Address 1</p>
    <p id="settingsvendoraddress2">Address 2</p>
    <p id="settingsvendoraddress3">Address 3</p>
    <p id="settingsvendorzip">ZIP</p>
    <p id="settingsvendorcountry">Country</p>
    <p id="settingsvendorphone">Phone</p>
    <p id="settingsvendorcontact">Contact</p>
    <p id="settingsvendormail">Mail</p>
  </div>
<form class="settingstechmain" autocomplete="off" method="POST" action="" id="vendorform">
  {% for vendor in vendors %}
  <a class="settingadmintech">
    <input class="settingsthemep noselect vendorid" name="id" id="vendor{{vendor[0].strip()}}" value="{{vendor[0].strip()}}">
    <input class="settingsthemep noselect vendorname" name="id" id="vendorname" value="{{vendor[1].strip()}}">
    <input class="settingsthemep noselect vendorcur" name="id" id="vendorcur" value="{{vendor[2].strip()}}">
    <input class="settingsthemep noselect vendoradd1" name="id" id="vendoradd1" value="{{vendor[3].strip()}}">
    <input class="settingsthemep noselect vendoradd2" name="id" id="vendoradd2" value="{{vendor[4].strip()}}">
    <input class="settingsthemep noselect vendoradd3" name="id" id="vendoradd3" value="{{vendor[5].strip()}}">
    <input class="settingsthemep noselect vendorzip" name="id" id="vendorzip" value="{{vendor[6].strip()}}">
    <input class="settingsthemep noselect vendorcountry" name="id" id="vendorcountry" value="{{vendor[7].strip()}}">
    <input class="settingsthemep noselect vendorphone" name="id" id="vendorphone" value="{{vendor[8].strip()}}">
    <input class="settingsthemep noselect vendorcontact" name="id" id="vendorcontact" value="{{vendor[10].strip()}}">
    <input class="settingsthemep noselect vendormail" name="id" id="vendormail" value="{{vendor[11].strip()}}">
    <div class="settingsthemep noselect techremove" id="techrem" onclick="remtech('{{vendor[0].strip()}}')"><img class="noselect" src="static/pictures/{{theme}}/add.png"></div>
  </a>
  {% endfor %}
  </form>
  <div class="settingstechcontrols">
      <div class="settingstechnew noselect" onclick="technewuser()">
        New User
      </div>
    <div class="settingstechdiv noselect">
      <div class="settingstechcancel" onclick="window.location.reload()">
        Cancel
      </div>
      <input type="submit" class="savebutton" form="techuserform" value="Save">
    </div>
</div>
</div>

<div class="settingstechwrap settingscategories" id="settingsparameters" style="display:none">
  <h3 class="noselect">Company parameters</h3>
  <div class="settingstechhead">
    <p class="noselect" id="settingsparamvar">Variable</p>
    <p class="noselect" id="settingsparamtyp">Type</p>
    <p class="noselect" id="settingsparamval">Value</p>
  </div>
<form class="settingstechmain" autocomplete="off" action="" id="variableform">
  {% for param in parameters %}
  <a class="settingadmintech">
    <input type="hidden" value="" name="">
    <input class="settingsthemep noselect " readonly id="" value="{{param[0]}}" name="">
    <input class="settingsthemep noselect settingsparamtypin" readonly spellcheck="false" name="" id="" value="{{param[1]}}" name="{{parameters.index(param)}}typ">
    <input class="settingsthemep noselect " spellcheck="false" name="{{param[0]}}" id="" value="{{param[2].strip()}}" name="{{parameters.index(param)}}val">
  </a>
  {% endfor %}
  </form>
  <script src="static/settings.js">

  </script>
  <div class="settingstechcontrols">
    <div class="settingstechdiv noselect">
      <div class="settingstechcancel" onclick="window.location.reload()">
        Cancel
      </div>
      <div class="savebutton" onclick="savevarform()">Save</div>
    </div>
</div>

<div class="workstation noselect">
  <h3>Workstation parameters</h3>
  <label>Default mail recipient for delivery note:<input></label>
  <label>Default mail recipient for IR:<input></label>
  <label>Default mail recipient for Projects:<input></label>
  <label>Path for Softone deliv.note export:<input></label>
  <label>Max length for Softone notes:<input></label>
  <label>Lead text for delv. notes:<input></label>
</div>
</div>

<div class="settingstechwrap settingscategories" id="settingsmodel" style="display:none">
  <h3 class="noselect">Models<button onclick="newmodel()">New model</button></h3>
  <div class="settingstechhead">
    <p class="noselect modven" id="settingsmodelvendor">Vendor</p>
    <p class="noselect modmod" id="settingsmodelmodel">Model</p>
    <p class="noselect modcha" id="settingsmodelcharge">Chargemode</p>
  </div>
<form class="settingstechmain" autocomplete="off" action="" id="modelform">
  {% for model in models %}
  <a class="settingadmintech">
    <input type="hidden" value="{{model[5]}}" name="{{models.index(model)}}id">
    <input class="settingsthemep noselect modven" id="{{models.index(model)}}" readonly value="{{model[0]}}" name="{{models.index(model)}}vend">
    <input class="settingsthemep noselect modmod " readonly spellcheck="false" value="{{model[1]}}" name="{{models.index(model)}}model">
    <input class="settingsthemep noselect modcha" spellcheck="false" value="{{model[4]}}" name="{{models.index(model)}}cha">
  </a>
  {% endfor %}
  </form>
  <script src="static/settings.js">

  </script>
  <div class="settingstechcontrols">
    <div class="settingstechdiv noselect">
      <div class="settingstechcancel" onclick="window.location.reload()">
        Cancel
      </div>
      <div class="savebutton" onclick="savemodelform()">Save</div>
    </div>
</div>
</div>

<div class="settingstechwrap settingscategories" id="settingpg">
  <h3 class="noselect">Pricegroups</h3>
  <div class="settingstechhead">
    <p class="noselect pgno">Pg no.</p>
    <p class="noselect pgname">Pg name</p>
  </div>
  <form class="settingstechmain" action="javascript:" id="pgform">
    {% for x in pgs %}
    <a class="settingadmintech">
      <input type="hidden" value="{{x[2]}}" name="{{pgs.index(x)}}id">
      <input class="settingspg noselect pgno" spellcheck="false" value="{{x[0]}}" name="{{pgs.index(x)}}no">
      <input class="settingspg noselect pgname" spellcheck="false" value="{{x[1].strip()}}" name="{{pgs.index(x)}}name">
      <button type="button" class="pgremove" name="button" onclick="if(confirm('Are you sure you want to delete pricegroup {{x[1].strip().replace("\'","\\'")}}?')){rempg('{{x[2]}}');}"><img style="transform: rotate(45deg); height:25px; width:25px" src="static/pictures/{{theme}}/add.png"></button>
    </a>
    {% endfor %}
  </form>
  <div class="pgbuttons">
    <button type="button" id="pgsave" onclick="savepg()">Save</button>
    <button type="button" id="pgnew" onclick="newpg()">New</button>
  </div>


</div>
{%endif%}

    <script src="/static/mobile.js"></script>
    <script>
      if(document.cookie.includes("branch")){
        var cookies = document.cookie.split(";");
        for(var cookie of cookies){
          if(cookie.includes("branch")){
            var branch = cookie.replace("branch=","");
            document.getElementById("langsel").innerHTML = branch;
            document.getElementById(branch.trim()).style.display = "none";
        }
        }
      }

      document.getElementById("spsel").innerHTML = "Landing";

      if(document.cookie.includes("sp")){
        var cookies = document.cookie.split(";");
        for(var cookie of cookies){
          if(cookie.includes("sp")){
            var sp = cookie.replace("sp=","");
            document.getElementById("spsel").innerHTML = sp.slice(0,2).toUpperCase() + sp.slice(2);
            document.getElementById(sp.trim()).style.display = "none";
        }

        }
      }

      function startpage(selected){
        document.getElementById('spsel').innerHTML = selected;
        for(x of document.getElementsByClassName('settingdropmenuitem')){
          x.style.display = "block"
        }
        document.getElementById(selected.toLowerCase().replace(" ","")).style.display = "none";
        document.cookie = 'sp=' +selected.toLowerCase().replace(" ","") + ';expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;';
      }

      var theme = "{{theme}}";
      if(theme=="dark"){
      }else if(theme=="light"){
      }
      log();
      setInterval(log, 1000);

      function log(){
        if(!document.cookie.includes("loggedin=True")){
          location.reload();
        }
      }

    function remtech(id){
      document.getElementById(id).parentElement.style.maxHeight = "0";
      setTimeout(function(){
        document.getElementById(id).parentElement.remove();
      },250);
    }

    function technewuser(){

      var num = document.getElementsByClassName("settingadmintech").length
      console.log(num);

      var parent = document.getElementById("techuserform");

      var usera = document.createElement("a");
      var inputid = document.createElement("input");
      var inputfirst = document.createElement("input");
      var inputlast = document.createElement("input");
      var inputoffice = document.createElement("input");
      var inputtech = document.createElement("input");
      inputtech.setAttribute("type", "checkbox");
      inputtech.checked = 1;
      inputtech.value = 1;

      //console.log(inputtech.value);

      inputid.name = num+"id";
      inputfirst.name = num+"firstname";
      inputlast.name = num+"lastname";
      inputoffice.name = num+"office";
      inputtech.name = num+"tech";

      inputid.maxLength = "3";
      //inputoffice.maxLength = "1";
      //inputtech.maxLength = "1";

      usera.classList.add("settingadmintech");
      inputid.classList.add("settingsthemep","noselect","techid");
      inputfirst.classList.add("settingsthemep","noselect","techfirst");
      inputlast.classList.add("settingsthemep","noselect","techlast");
      inputoffice.classList.add("settingsthemep","noselect","techoffice");
      inputtech.classList.add("settingsthemep","noselect","techtech");




      usera.appendChild(inputid);
      usera.appendChild(inputfirst);
      usera.appendChild(inputlast);
      usera.appendChild(inputoffice);
      usera.appendChild(inputtech);

      parent.appendChild(usera);
      inputid.focus();
    }

    function show(cat){
      var all = document.getElementsByClassName('settingscategories');

      for(x of all){
        x.style.display = "none";
      }

      document.getElementById(cat).style.display  = "block";


    }

    //show('settingsmodel')

    </script>
  </body>
</html>
