<!DOCTYPE html>
<html lang="en" dir="ltr" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake | Swap-Out</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/swapout.css">
    <link rel="stylesheet" href="static/{{theme}}.css">
    <link rel="icon" href="./static/pictures/icon.ico">
  </head>
  <body>
    <div class="navin">
      <a class="navitemin" href="/customers"><img src="static/pictures/{{theme}}/customers.png"><p class="noselect">Customers</p></a>
      <a class="navitemin" href="/parts"><img src="static/pictures/{{theme}}/partsv2.png"><p class="noselect">Parts</p></a>
      <a class="navitemin" href="/delivnotes"><img src="static/pictures/{{theme}}/deliverynote.png"><p class="noselect">Deliv. notes</p></a>
      <a class="navitemin" href="/ir"><img src="static/pictures/{{theme}}/ir.png"><p class="noselect">IR</p></a>
      <a class="navitemin active" href="/swapouts"><img src="static/pictures/{{theme}}/swapout.png"><p class="noselect">Swapouts</p></a>
      <a class="navitemin" href="/lookup"><img src="static/pictures/{{theme}}/lookup.png"><p class="noselect">Lookup</p></a>
      <a class="navitemin" href="/settings"><img src="static/pictures/{{theme}}/settings.png"><p class="noselect">Settings</p></a>
    </div>
    <div class="mainwrapswapout">
      <h1 class="noselect">Swap-Out Service</h1>
      <div class="toppage-swapout">
        <div class="lvl1-swapout">
          <form class="form-swapout" name="form-lvl1-swapout">
            <div class="formitem-swapout"><label>Store #:</label><input class="forminput-swapout" type="text"><label>Ref.</label><input class="forminput-swapout" type="text"></div>
            <div class="formitem-swapout"><label>Name:</label><input class="forminput-swapout" type="text"></div>
            <div class="formitem-swapout"><label>Address:</label><input class="forminput-swapout" type="text"></div>
            <div class="formitem-swapout"><label>Zip/City:</label><input class="forminput-swapout" type="text"><input class="forminput-swapout" type="text"></div>
          </form>
        </div>
        <div class="topmiddle-swapout">
          <form class="form-swapout" name="form-topmiddle-swapout">
            <div class="formitem-swapout"><input class="forminput-swapout" type="checkbox"><label>Loan management (no swap)</label></div>
            <div class="formitem-swapout"><input class="forminput-swapout" type="checkbox"><label>RMA management only</label></div>
            <div class="formitem-swapout"><input class="forminput-swapout" type="checkbox"><label>Repair warranty</label></div>
            <div class="formitem-swapout"><label>Open Date:</label><input class="forminput-swapout" type="text"></div>
          </form>
        </div>
        <div class="topright-swapout">
          <form class="form-swapout" name="form-topright-swapout">
            <div class="formitem-swapout"><label>Swap #:</label><input class="forminput-swapout" type="text"></div>
            <div class="formitem-swapout"><label>Open swap #:</label><input class="forminput-swapout" type="text"></div>
            <div class="formitem-swapout"><label>Status:</label><select class="forminput-swapout" style="width: 210px;" type="text" name="status-swapout">
              <option value="Ingen åtgärd"></option>
              <option value="valuehere">Det ska vara saker här</option>
            </select><input class="forminput-ir" type="text" name="status-ir"></div>
          </form>
        </div>
      </div>
      <div class="lvl2-swapout">
